{% extends "chemie/base_election.html" %}
{% load material_form %}
{% load static %}
{% load thumbnail %}
{% load chemie_tags %}
{% load cache %}

{% block style %}
#id_access_card {
    max-width: 20rem;
    min-width: 16rem;
    height: 1.7rem;
    border-radius: 4px;
    border: 1px solid #aaa;
}

.select2-container {
    min-width: 16rem !important;
    max-width: 20rem !important;
}
{% endblock style %}

{% block content %}

<!-- Messaging framework card -->
{% if messages %}
  {% for message in messages %}
    <article class="message is-{{ message.level_tag }}">
      <div class="message-header">
          <p>{{ message }}</p>
        <button class="delete" aria-label="delete"></button>
      </div>
    </article>
  {% endfor %}
{% endif %}

<div align="center">
    <h1 class="title is-2">Legg til studentkort</h1>
    <form id="target" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="columns">
            <div class="column is-2 is-hidden-mobile"></div>
            <div class="column is-3 is-hidden-mobile">
                <p style="text-align: right">Bruker:</p>
            </div>
            <div class="column is-12 is-hidden-tablet" style="padding-bottom: 0"><p>Bruker:</p></div>
            <div class="column is-3">
                 {{ form.user }}
            </div>
            <div class="column is-4 is-hidden-mobile"></div>
        </div>
        <div class="columns">
            <div class="column is-2 is-hidden-mobile"></div>
            <div class="column is-3 is-hidden-mobile">
                <p style="text-align: right;"> Studentkortnummer: </p>
            </div>
            <div class="column is-12 is-hidden-tablet" style="padding-bottom: 0"><p>Studentkortnummer:</p></div>
            <div class="column is-3">
                {{ form.access_card }}
            </div>
            <div class="column is-4 is-hidden-mobile"></div>
        </div>
      <input type="submit" class="button" name="addStudentcard" value="Legg til studentkortnummer" height="10px"/>
    </form>
</div>

{% endblock content %}

{% block footer_script %}
{{ form.media }}
{% endblock footer_script %}