{% extends "chemie/base_election.html" %}
{% load material_form %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div align="center">
    <h1 class="title is-2">Legg til nytt Studentkortnummer</h1>
    <form id="target" method="POST" enctype="multipart/form-data">{% csrf_token %}
      {{ form.username }} <br>
      {{ form.card_nr }} <br>
      <input class="btn" type='submit' value='Legg til Studentkortnummer'/>
    </form>
</div>

{% endblock content %}