{% extends "chemie/base_election.html" %}
{% load material_form %}
{% load static %}
{% load thumbnail %}
{% load chemie_tags %}
{% load cache %}

{% block style %}
#id_rfid {
    max-width: 20rem;
    min-width: 16rem;
    height: 1.7rem;
    border-radius: 4px;
    border: 1px solid #aaa;
}
.button {
    height: 1.7rem !important;
    padding: 0 1rem 0 1rem !important;
}
{% endblock style %}

{% block content %}

<!-- Messaging framework card -->
{% if messages %}
  {% for message in messages %}
    <article class="message is-{{ message.level_tag }}">
      <div class="message-header">
          <p>{{ message }}</p>
        <button class="delete" aria-label="delete"></button>
      </div>
    </article>
  {% endfor %}
{% endif %}

{% if is_open %}
    <div align="center">
        <h1 class="title is-2">Sjekk inn til valget</h1>
        <form id="target" method="POST" enctype="multipart/form-data">{% csrf_token %}
          {{ form.rfid }}
          <input type="submit" class="button" name="addStudentcard" value="Sjekk inn" height="1.7rem"/>
        </form>
    </div>
{% else %}
    <h2 class="title is-4"> Valget har ikke åpnet enda </h2>
    <h5>Åpne et valg for å sjekke inn til valget.</h5>
{% endif %}

{% endblock content %}
