{% extends "chemie/base_election.html" %}
{% load material_form %}
{% load static %}
{% load thumbnail %}
{% load chemie_tags %}
{% load cache %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
    <li class="breadcrumb-item "><a href="{% url "elections:admin_register_positions" %}"
        style="color:#edcd2f">Admin</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Sjekk inn medlemmer</li>
    <a class="btn btn-secondary" style="position:absolute; right:3rem; top:3rem"
      href="{% url 'elections:checkin_manually' %}">
      Sjekk inn manuelt
    </a>
  </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<!-- Messaging framework card -->
{% if messages %}
{% for message in messages %}
<article class="message is-{{ message.level_tag }}">
  <div class="alert alert-info" style="text-align:center">
    {{ message }}
  </div>
</article>
{% endfor %}
{% endif %}

<div align="center">
  <h1 class="title is-2">Sjekk inn til valget</h1>
  <form id="target" method="POST" enctype="multipart/form-data">{% csrf_token %}
    {{ form.rfid }}
    <input type="submit" class="btn btn-secondary" name="addStudentcard" value="Sjekk inn/ut" height="1.7rem" />
  </form>
  <p>
    Koble til en kortscanner og la brukere scanne kortet sitt for å registrere at de har møtt opp
  </p>
</div>

{% endblock content %}