{% extends "chemie/base_election.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block style %}
<style>
    .asteriskField {
        color: red;
    }
</style>
{% endblock style %}
{% block breadcrumbs %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
        <li class="breadcrumb-item "><a href="{% url "elections:admin_register_positions" %}"
                style="color:#edcd2f">Admin</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Sjekk inn medlemmer manuelt</li>

    </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div align="center">
    <h1>Sjekk inn brukere manuelt</h1>
    <form id="target" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group col-md-6 mb-0">
            {{ form.user|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-secondary">Sjekk inn/ut</button>
    </form>
</div>
{% endblock content %}

{% block footer_script %}
{{ form.media }}
{% endblock footer_script %}