{% extends "chemie/base_election.html" %}
{% load material_form %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div align="center">
    <h1 class="title is-2">Sjekk inn til valget</h1>
    <form id="target" method="POST" enctype="multipart/form-data">{% csrf_token %}
      {{ form.rfid }}
      <input class="btn" type='submit' value='Sjekk inn'/>
    </form>
</div>

{% endblock content %}

{% block footer_script %}
<script>
  $(document).ready(function(){
    $('#target').focus();
  });
</script>
{% endblock footer_script %}