{% extends "chemie/base_election.html" %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block style %}
<style>
    .asteriskField {
        color: red;
    }
</style>
{% endblock style %}

{% block content %}
<div align="center">
  <h1>Sjekk inn brukere manuelt</h1>
  <form id="target" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="form-group col-md-6 mb-0">
      {{ form.user|as_crispy_field }}
    </div>
    <button type="submit" class="btn btn-secondary">Sjekk inn/ut</button>
  </form>
</div>
{% endblock content %}

{% block footer_script %}
{{ form.media }}
{% endblock footer_script %}