{% extends "chemie/cgp_base.html" %}


{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<img class="mainflag" alt="{{ country.country_name }}" src="{{ country.image.url }}">
<h1 class="countryname">{{country.country_name}}</h1>

<div class="legend">
    <p id="legendpoints">Poeng</p>
    <p>Land</p>
</div>
<ul class="draggable-list" id="draggable-list"></ul>

<button type="submit" id="submit-vote">Stem</button>


{% endblock %}

{% block footer_script%}
<script>
const draggable_list = document.getElementById('draggable-list');
const check = document.getElementById('submit-vote');
//console.log(check);
var countries = "{{countries}}";
countries = countries.split(',');
while (countries.length < 10) {
    countries.push("");
};
var points = "{{points}}";
points = points.split(',');
while (points.length < countries.length) {
    points.push("0");
};
//console.log(countries);
//console.log(points);


// Store listitems
const listItems = [];

let dragStartIndex;

var overlapping;

createList();

// Insert list items into DOM
function createList() {
  [...countries]
    .map(a => ({ value: a, sort: Math.random() }))
    .sort((a, b) => a.sort - b.sort)
    .map(a => a.value)
    .forEach((country, index) => {
      const listItem = document.createElement('li');

      listItem.setAttribute('data-index', index);

      listItem.innerHTML = `
        <span class="points">${points[index]}</span>
        <div class="draggable" draggable="true">
          <p class="country-name">${country}</p>
            <span class="material-symbols-outlined">menu</span>
<!--<i class="fas fa-grip-lines"></i>-->
        </div>
      `;

      listItems.push(listItem);

      draggable_list.appendChild(listItem);
    });

  addEventListeners();
}


function handleTouchStart(event) {
    //touch
    //Add the index of the element (in listItems) that is getting dragged to the dragStartIndex variable
    event.preventDefault();
    console.log('touchstart');
    dragStartIndex = +this.closest('li').getAttribute('data-index');
}


function handleTouchMove(event){
    //Touch
    event.preventDefault();
    //console.log('touchmove');
    if (event.targetTouches.length === 1) {
        var touch = event.targetTouches[0];
        // Place element where the finger is touching
        this.style.position = 'absolute';
        this.style.left = touch.pageX + 'px';
        this.style.top = touch.pageY + 'px';

        //check if it is on top of a valid drop target iterates over all valid drop areas and checks for overlap
        divs = document.querySelectorAll('ul div');
        overlapping = [];
        for (div of [...divs]) {
            rect1 = this.getBoundingClientRect();
            rect2 = div.getBoundingClientRect();
            var overlap = !(rect1.right < rect2.left ||
                rect1.left > rect2.right ||
                rect1.bottom < rect2.top ||
                rect1.top > rect2.bottom);
            if (overlap) {
                if (overlapping.length<1 && div !== this){
                    overlapping.push(div);
                    //div.style.backgroundColor ='green';
                }

            } else {
                //div.style.backgroundColor ='white';
            }
        }
  }
}

function handleTouchEnd(event) {
    //Touch
    //console.log("end");
    //update from absolute to relative. Resets the element in the case of no overlapping.
    this.style.position ='relative';
    this.style.left = 0;
    this.style.top = 0;
    //if the item is overlapping with a valid element get the index and swap it (overlapping is a global variable updated by handle move
    if (overlapping.length>=1){
        const dragEndIndex = +overlapping[0].parentElement.getAttribute('data-index');
        swapItems(dragStartIndex, dragEndIndex);
    }
}

function dragStart() {
    //Mouse
    // Add the index of the element (in listItems) that is getting dragged to the dragStartIndex variable
  // console.log('Event: ', 'dragstart');
  dragStartIndex = +this.closest('li').getAttribute('data-index');
}

function dragEnter() {
    //Mouse
    //updates the element to know that it is hovering on top of a droppable area
  //console.log('Event: ', 'dragenter');
  this.classList.add('over');
}

function dragLeave() {
    //Mouse
    //updates the element to know that it is NOT hovering on top of a droppable area
  //console.log('Event: ', 'dragleave');
  this.classList.remove('over');
}

function dragOver(e) {
  // console.log('Event: ', 'dragover');
  e.preventDefault();
}

function dragDrop() {
    //Mouse
    //gets the index of the <li> item the item is hovering over to call the switch function
  // console.log('Event: ', 'drop');
  const dragEndIndex = +this.getAttribute('data-index');
  swapItems(dragStartIndex, dragEndIndex);

  this.classList.remove('over');
}

// Swap list items that are drag and drop
function swapItems(fromIndex, toIndex) {
    //swaps 2 <li> elements by index in listItems
  const itemOne = listItems[fromIndex].querySelector('.draggable');
  const itemTwo = listItems[toIndex].querySelector('.draggable');
    console.log(fromIndex,toIndex)
  listItems[fromIndex].appendChild(itemTwo);
  listItems[toIndex].appendChild(itemOne);
}

// Submits the votes
function submitVote() {
    var countryNames=[];
  listItems.forEach((listItem, index) => {
    const countryName = listItem.querySelector('.draggable').innerText.trim();
    countryNames.push(countryName);
    //console.log(countryName);

  });
  $.post({
              type: 'POST',
              url: "{{slug}}",
              data: {
                  'countryNames[]': countryNames,
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
              success: function (response){
                  window.alert("Takk for din stemme!");
                  location.href = response.url;
              },
              error: function (response){
                  window.alert("ERROR!");
              }
            });
}

function addEventListeners() {
    //Adds event listeners
  const draggables = document.querySelectorAll('.draggable');
  const dragListItems = document.querySelectorAll('.draggable-list li');

  draggables.forEach(draggable => {
    //mouse
    draggable.addEventListener('dragstart', dragStart);
    // touch
    draggable.addEventListener('touchstart', handleTouchStart);
    draggable.addEventListener("touchmove", handleTouchMove);
    draggable.addEventListener('touchend', handleTouchEnd);

  });

  dragListItems.forEach(item => {
    item.addEventListener('dragover', dragOver);
    item.addEventListener('drop', dragDrop);
    item.addEventListener('dragenter', dragEnter);
    item.addEventListener('dragleave', dragLeave);
  });
}

check.addEventListener('click', submitVote);
</script>
{%endblock%}