{% extends "chemie/cgp_base.html" %}


{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
<!--<img class="mainflag" alt="{{ country.country_name }}" src="{{ country.image.url }}">-->
<p>{{country.country_name}}</p>

<ul class="draggable-list" id="draggable-list"></ul>

<button type="submit" id="submit-vote">Stem</button>


{% endblock %}

{% block footer_script%}
<script>
const draggable_list = document.getElementById('draggable-list');
const check = document.getElementById('submit-vote');
//console.log(check);
var countries = "{{countries}}";
countries = countries.split(',');
while (countries.length < 10) {
    countries.push("");
};
var points = "{{points}}";
points = points.split(',');
while (points.length < countries.length) {
    points.push("0");
};
//console.log(countries);
//console.log(points);


// Store listitems
const listItems = [];

let dragStartIndex;

var overlapping;

createList();

// Insert list items into DOM
function createList() {
  [...countries]
    .map(a => ({ value: a, sort: Math.random() }))
    .sort((a, b) => a.sort - b.sort)
    .map(a => a.value)
    .forEach((country, index) => {
      const listItem = document.createElement('li');

      listItem.setAttribute('data-index', index);

      listItem.innerHTML = `
        <span class="points">${points[index]}</span>
        <div class="draggable" draggable="true" style="background-color: white">
          <p class="country-name">${country}</p>
          <i class="fas fa-grip-lines"></i>
        </div>
      `;

      listItems.push(listItem);

      draggable_list.appendChild(listItem);
      //console.log(listItems);
      //console.log(draggable_list);
    });

  addEventListeners();
}

function dragStart() {
  // console.log('Event: ', 'dragstart');
  dragStartIndex = +this.closest('li').getAttribute('data-index');
}

function handleTouchStart(event) {
    event.preventDefault();
    console.log('touchstart');
    dragStartIndex = +this.closest('li').getAttribute('data-index');
}


function handleTouchMove(event){
    event.preventDefault();
    //console.log('touchmove');
    if (event.targetTouches.length == 1) {
        var touch = event.targetTouches[0];
        // Place element where the finger is
        this.style.position = 'absolute';
        this.style.left = touch.pageX + 'px';
        this.style.top = touch.pageY + 'px';
        //console.log(document.elementFromPoint(touch.pageX, touch.pageY));
        divs = document.querySelectorAll('ul div');
        //console.log(div.getBoundingClientRect().bottom > this.getBoundingClientRect().bottom);

        //Check if box overlaps updates overlapping
        overlapping = [];
        for (div of [...divs]) {
            rect1 = this.getBoundingClientRect();
            rect2 = div.getBoundingClientRect();
            var overlap = !(rect1.right < rect2.left ||
                rect1.left > rect2.right ||
                rect1.bottom < rect2.top ||
                rect1.top > rect2.bottom);
            if (overlap) {
                if (overlapping.length<1 && div !== this){
                    overlapping.push(div);
                    div.style.backgroundColor ='green';
                }

            } else {
                div.style.backgroundColor ='white';
            }
        }
        //console.log(overlapping);

        //.filter(div => div.getBoundingClientRect().bottom > this.getBoundingClientRect().bottom));
  }
}

function handleTouchEnd(event) {
    console.log("end");
    // get current position
    var x = parseInt(this.style.left);
    var y = parseInt(this.style.top);
    //check if it is on top of a valid drop target
    this.style.position ='relative';
    this.style.left = 0;
    this.style.top = 0;
    if (overlapping.length>=1){
        const dragEndIndex = +overlapping[0].parentElement.getAttribute('data-index');
        swapItems(dragStartIndex, dragEndIndex);
    }
}

function handleTouchEnter(event) {
    console.log("enter");
}

function dragEnter() {
  console.log('Event: ', 'dragenter');
  this.classList.add('over');
}

function dragLeave() {
  console.log('Event: ', 'dragleave');
  this.classList.remove('over');
}

function dragOver(e) {
  // console.log('Event: ', 'dragover');
  e.preventDefault();
}

function dragDrop() {
  // console.log('Event: ', 'drop');
  const dragEndIndex = +this.getAttribute('data-index');
  swapItems(dragStartIndex, dragEndIndex);

  this.classList.remove('over');
}

// Swap list items that are drag and drop
function swapItems(fromIndex, toIndex) {
  const itemOne = listItems[fromIndex].querySelector('.draggable');
  const itemTwo = listItems[toIndex].querySelector('.draggable');
    console.log(fromIndex,toIndex)
  listItems[fromIndex].appendChild(itemTwo);
  listItems[toIndex].appendChild(itemOne);
}

// Submits the votes
function submitVote() {
    var countryNames=[];
  listItems.forEach((listItem, index) => {
    const countryName = listItem.querySelector('.draggable').innerText.trim();
    countryNames.push(countryName);
    //console.log(countryName);

  });
  $.post({
              type: 'POST',
              url: "{{slug}}",
              data: {
                  'countryNames[]': countryNames,
                  'csrfmiddlewaretoken': '{{ csrf_token }}',
                },
              success: function (response){
                  window.alert("Takk for din stemme!");
                  location.href = response.url;
              },
              error: function (response){
                  window.alert("ERROR!");
              }
            });
}

function addEventListeners() {
  const draggables = document.querySelectorAll('.draggable');
  const dragListItems = document.querySelectorAll('.draggable-list li');

  draggables.forEach(draggable => {
    //mouse
    draggable.addEventListener('dragstart', dragStart);
    // touch
    draggable.addEventListener('touchstart', handleTouchStart);
    draggable.addEventListener("touchmove", handleTouchMove);
    draggable.addEventListener('touchend', handleTouchEnd);
    //draggable.addEventListener('touchenter',handleTouchEnter);

  });

  dragListItems.forEach(item => {
    item.addEventListener('dragover', dragOver);
    item.addEventListener('drop', dragDrop);
    item.addEventListener('dragenter', dragEnter);
    item.addEventListener('dragleave', dragLeave);

    item.addEventListener('touchenter',handleTouchEnter);
    item.addEventListener('touchleave', dragLeave);
  });
}

check.addEventListener('click', submitVote);
</script>
{%endblock%}