<!-- Modal Structure -->
<div id="office_terms_modal" class="modal modal-fixed-footer" style="width: 65% !important;">
  <div class="modal-content">
    <h2>Kontrakt for tilgang til HC-kontoret  </h2>
    <br>
        <p>
            <u>
                Vilkår for tilgang til HC-kontoret
            </u>
            <br>
            Tilgang til HC-kontoret skal være et gode som tilfaller aktive medlemmer av Høiskolens Chemikerforening. Det stilles følgende krav til vedkommende:
        </p>
    <br>
      <ol>
          <li>Alle medlemmer av Høiskolens Chemikerforening har rett til å søke på tilgang til Kontoret.</li>
          <li>Kjøkkenutstyr (vaffeljern, mikrobølgeovn, toastjern, vannkoker etc.) skal kun benyttes på kjøkkenet, aldri på Kontoret. </li>
          <li>Alle medlemmer som har tilgang til Kontoret har et kollektivt ansvar for å holde Kontoret rent og ryddig. Dette innebærer å rydde etter seg selv, samt å sørge for at andre gjør det samme. </li>
          <li>Ved bruk av kopper, bestikk o.l. fra Kontoret skal dette vaskes og legges tilbake samme dag som det ble brukt. </li>
          <li>Bruk av Kontoret på nattestid skal skje i henhold til NTNUs regler. Ved aktiviteter som krever rydding eller vasking skal dette gjennomføres samme kveld eller påfølgende skoledag. Se forøvrig også punkt 6. </li>
          <li>Hvis man er sistemann som forlater Kontoret skal døren låses. </li>
          <li>Ved aktivitet på Kontoret utenom vanlig arbeidstid (kl. 18:00 – 08:00), vil vedkommende som sist låste seg inn på Kontoret stå som økonomisk ansvarlig for eventuelle skader/tap av verdier. </li>
          <li>Drikking av alkohol på Kontoret skal kun skje til de tider som blir bestemt av Styret og godkjent av NTNUs adgangskontroll. </li>
          <ol type="a">Ved konsumering av alkohol skal døren til Kontoret holdes lukket. </ol>
          <li>Akademisk arbeid skal ikke gjøres på Kontoret. </li>
          <li>Nøkler til HCs lagerrom skal kun brukes til komitéarbeid. </li>
      </ol>
      <p>
          Ved å godkjenne bekrefter man at man har lest og godtar de vilkår som er beskrevet i kontrakten og vil med dette få tilgang til HC-kontoret. Styret har mulighet til å oppheve kontrakten hvis kravene over ikke er tilfredsstilt.
      </p>
    </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Lukk</a>
  </div>
</div>
