{% extends "chemie/base.html" %}
{% load material_form %}
 {% block nav_header %}
  Kontortilgang
{% endblock nav_header %}
 {% block nav_sub_header %}
  Send søknad
{% endblock nav_sub_header %}
 {% block content %}
  {% if perms.home %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% include "home/permissions.html" %}
        {% block permissions %}
        {% endblock %}
      </ul>
    </div>
  {% endif %}
  <div class="row">
    <div class="card">
     <div class="card-content">
      <p class="flow-text">
        Her kan du søke om tilgang på kontoret med studentkortet ditt.
        For at tilgang skal kunne bli innvilget er det
        viktig at ditt lagrede studentkortnummer samsvarer med nummeret på studentkortet.
      </p>
     {% if not already_applied %}
        <br>
         <p class="flow-text">
             For å søke må du oppgi brukernavnet du har fått fra NTNU:
         </p>
         <form method="POST" enctype="multipart/form-data">{% csrf_token %}
            {% form form=office_form %}
            {% endform %}
         <p class="flow-text">
          Ditt lagrede studentkortnummer er <b>{{ access_card }}</b>.</p><br>
        <p class="flow-text"> Vennligst bekreft at dette stemmer før du sender inn søknaden.
      </p>
         <br>
        <div>
          <a style="float: left;" href="{% url "profile:edit" %}">
            <button class="btn btn-primary pull-right red accent-2" type="submit">Endre kortnummer</button>
          </a>
            <a style="padding-left: 2rem"><input class="btn green lighten-2" type='submit' value='Kortnummer stemmer, send søknad'/></a>
          </form>
        </div>
      {% endif %}
     </div>
    </div>
  </div>
  </div>
{% endblock content %}