<!-- Modal Structure -->
<div id="office_terms_modal" class="modal modal-fixed-footer" style="width: 65% !important;">
  <div class="modal-content">
    <h2>Kontrakt for tilgang til HC-kontoret  </h2>
    <br>
        <p>
            <u>
                Vilkår for tilgang til HC-kontoret
            </u>
            <br>
            Det stilles følgende krav til vedkommende:
        </p>
    <br>
      <ol>
          <li>Kontoret skal ikke brukes som en oppbevaringsplass.</li>
          <li>Alle som studerer MTKJ eller MSCHEMBI, eller er medlem i Høiskolens Chemikerforening har rett til å søke på tilgang til Kontoret.</li>
          <li>Alle som benytter Kontoret har et ansvar for å holde Kontoret rent og ryddig. Dette vil si bl.a. kaste søppelet sitt og vaske alt kjøkkenutstyr man bruker.</li>
              <ol type="a">Ved bruk av kopper, bestikk o.l. fra Kontoret skal dette vaskes og legges tilbake samme dag som det ble brukt. </ol>
          <li>Kjøkkenutstyr (vaffeljern, mikrobølgeovn, toastjern, vannkoker etc.) skal kun benyttes på kjøkkenet, aldri på Kontoret. </li>
          <li>Hvis man er sistemann som forlater Kontoret, skal døra låses.</li>
          <li>Ved aktivitet på Kontoret utenom vanlig arbeidstid (kl. 18.00 – 08.00), vil vedkommende som sist låste seg inn på Kontoret stå som økonomisk ansvarlig for eventuelle skader/tap av verdier.</li>
          <li>Drikking av alkohol på Kontoret skal kun skje til de tider som blir bestemt av Styret og godkjent av NTNUs adgangskontroll. </li>
            <ol type="a">Ved konsumering av alkohol skal døra til Kontoret holdes lukket.  </ol>
          <li>Akademisk arbeid skal ikke gjøres på Kontoret</li>
          <li>Nøkler til HCs lagerrom skal kun brukes til komitearbeid.</li>
          <li>Gjenglemt etter arrangementer i regi av HC, har en frist på 2 virkedager til å bli fjernet før det flyttes ned til U2. Deretter har dere 2 uker på å hente det under Styrets kontortid før det blir fjernet eller kastet.</li>
            <ol type="a">Komiteene har selv ansvar for å flytte gjenglemt fra arrangementer fra Kontoret til U2. de har også ansvaret for å fjerne gjenglemt fra U2 etter 2 uker.</ol>
          <li>Annet gjenglemt kan legges i en boks under sofaen på Kontoret. Denne vil tømmes en gang annenhver uke av Omsorgskomiteen.</li>
            <ol type="a">Dette har Omsorgskomiteen ansvaret for.</ol>
          <li>Man kan oppbevare sekker og andre personlige eiendeler midlertidig innerst på Kontoret under HC-logoen, men må fjernes når man forlater Kontoret. </li>
          <li>Omsorgskomiteen og Styret har et overordnet ansvar for Kontoret, og benyttere av Kontoret må innstille seg etter beskjedene gitt av Omsorgskomiteen og Styret.</li>
          <li>Dersom en gruppe har hatt et arrangement/vors på Kontoret, skal det vaskes i henhold til vaskerutinene senest dagen derpå slik at Kontoret holdes pent og rent.</li>
            <ol type="a">Det skal ryddes rett etter at arrangementet er ferdig. Det vil si at all søppel og gjenstander skal ryddes opp, slik at det ser bra ut.</ol>
          <li>Bruk av Kontoret skal skje i henhold til NTNUs regler.</li>
      </ol>
      <p>Til kjøleskapet:</p>
      <ol>
          <li>Kjøleskapet skal brukes til daglig bruk.</li>
          <li>Alt som legges i kjøleskapet skal markeres med NAVN og DATO.</li>
          <li>Ikke oppbevar et helt brød og store mengder pakker med pålegg.</li>
          <li>Dersom det ligger umerket mat der, vil det bli kastet. Merket mat kastes dersom det ligger der i mer enn 1 uke.</li>
      </ol>
      <p>
          Ved å godkjenne bekrefter man at man har lest og godtar de vilkår som er beskrevet i kontrakten og vil med dette få tilgang til HC-kontoret. Styret har mulighet til å oppheve kontrakten hvis kravene over ikke er tilfredsstilt.
      </p>
    </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Lukk</a>
  </div>
</div>
