{% extends "chemie/base.html" %}
{% load material_form %}
{% load static %}

{% block nav_header %}
  Komiteer
{% endblock nav_header %}

{% block nav_sub_header %}
  Endre medlemmer - {{ committee }}
{% endblock nav_sub_header %}

{% block header %}
  <link href="/static/autocomplete_light/vendor/select2/dist/css/select2.css" type="text/css" media="all"
        rel="stylesheet"/>
  <link href="/static/autocomplete_light/select2.css" type="text/css" media="all" rel="stylesheet"/>
  <script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
  <script type="text/javascript" src="/static/smart-selects/admin/js/chainedfk.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/jquery.init.js"></script>
  <script type="text/javascript" src="/static/autocomplete_light/autocomplete.init.js"></script>
  <script src="/static/autocomplete_light/vendor/select2/dist/js/select2.full.js" defer></script>
  <script type="text/javascript" src="/static/autocomplete_light/forward.js"></script>
  <script src="/static/autocomplete_light/select2.js" defer></script>

  <style>
    .select2-container {
      width: inherit !important;
    }
  </style>
{% endblock %}

{% block content %}
  <div class="col s12 m8 l8">
    <div class="row">
      <div class="card">
        <div class="card-content">

          <form class="form" method='POST'>{% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
              <h5>{{ form.instance.title }} ({{ form.instance.max_members }} stk)</h5>
              {{ form }}
              <br>
            {% endfor %}
            <br>
            <input class="btn" type='submit' value='Lagre!'/>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}


{% block footer_script %}

  <!-- <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script> -->
  <script>
      $(function () {
          $("#id_position").on("change", function () {
              $('select').material_select();
          })
      });
  </script>

{% endblock footer_script %}




