{% extends 'chemie/base.html' %}
{% load material_form %}

{% block nav_header %}
    Komiteer
{% endblock nav_header %}

{% block nav_sub_header %}
    {{ committee.title }}
{% endblock nav_sub_header %}

{% block content %}
    <div class="col s12 m12 l12">
        <div class="row">
            <form class="editContent" method='POST'>{% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <input class="btn" type='submit' value='Endre innhold!'/>
            </form>
        </div>
    </div>
{% endblock content %}