{% extends "chemie/base.html" %}
{% load static %}


{% block header %}
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.9/css/theme.materialize.min.css">
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.9/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.9/js/widgets/widget-output.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.9/js/jquery.tablesorter.widgets.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <script>
  $(function () {
    var table = $('table')
    $('.download').click(function (){
        table.trigger('outputTable');
    });

    table.tablesorter({
        theme: "materialize",
        widgets: ['output', 'zebra'],
        widgetOptions: {
            output_delivery: 'd',
            zebra: ['even', 'odd'],
            output_saveFileName  : '{{ committee.title }}_epostliste.csv',
        }
    })
})
  </script>

{% endblock header %}

{% block nav_header %}
{{ committee.title }}
{% endblock nav_header %}

{% block nav_sub_header %}
   E-postliste
{% endblock nav_sub_header %}

{% block content %}
<div class="row">
  <div class="col s12 m12 l10">
    <p class="flow-text" >
      Last ned e-postadressen til alle komiteemedlemmer som en csv fil.
    </p>
    <button class="download btn">Last ned</button>
  </div>

</div>
<div class="row">
  <div class="col s12 m12 l10">
    <table id="myTable" class="tablesorter">
      <thead>
        <tr>
            <th>Epost</th>
        </tr>
      </thead>

      <tbody>
      {% for member in members %}
        <tr>
            <td>{{ member.email }} </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

</div>
{% endblock content %}

