{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% block nav_header %}
  Undergrupper
{% endblock nav_header %}

{% block nav_sub_header %}
  Oversikt
{% endblock nav_sub_header %}


{% block content %}
  <style>
    .card .card-image .card-title {
      padding: 10px;
    }
  </style>
  <div class="row">
    {% for committee in committees %}
      <div class="col s12 m6 l4">
        <div class="card small">
          <div class="card-image">
            <a href="{{ committee.get_absolute_url }}">
              {% thumbnail committee.image "400x300" crop="center" as im %}
                <img src="{{ im.url }}">
              {% endthumbnail %}
            </a>
            <a class="card-title card-event-title" href="{{ committee.get_absolute_url }}">
              <h5 class="truncate" style="font-size: 1.54rem;">{{ committee.title }}</h5>
            </a>
          </div>
          <div class="card-content">
            <p>
              {{ committee.one_liner }}
            </p>
          </div>
          <div class="card-action">
            <div class="row valign-wrapper" style="margin: 0">
              <div class="col s8 m8 l8">
                <a href="{{ committee.get_absolute_url }}">Detaljer</a>
              </div>
              <div class="col s4 m4 l4">
                <a href="mailto:{{ committee.email }}" class="valign-wrapper">
                  <i class="material-icons valign right small">email</i>
                </a>
              </div>
            </div>

          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}