{% extends 'chemie/base.html' %}

{% block nav_header %}
    Komiteer
{% endblock nav_header %}

{% block nav_sub_header %}
    Detaljer
{% endblock nav_sub_header %}

{% block content %}
    <div class="row">
        <h1 class="heading">{{ committee.title }}</h1>
        <div class="col s12 m12 l8">
            <img class="responsive-img materialboxed" src="/media/{{ committee.image }}">
        </div>
        <div class="col s12 m12 l4">
            <div class="card card-event">
                <div class="card-content amber darken-2">
                    <div class="section" style="padding-top: 0;">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">people</i>
                            <h5 class="left-align">Medlemmer</h5>
                        </div>
                        {% for member in members %}
                            <a href="mailto:{% if member.position.email %}{{ member.position.email }}{% else %}{{ member.user.email }}{% endif %}">
                                <div class="valign-wrapper">
                                    <i class="material-icons valign left tiny">email</i>
                                    <p class="black-text"> {{ member.position.title }} : {{ member.user.get_full_name }}</p>
                                </div>
                            </a>
                        {% endfor %}
                    </div>
                    {% if committee.email %}
                        <div class="divider grey"></div>
                        <div class="section">
                            <a href="mailto:{{ committee.email }}">
                            <div class="valign-wrapper">
                                <i class="material-icons valign left tiny">email</i>
                                <p class="left-align black-text">Mail oss</p>
                            </div>
                            </a>
                            <p>{{ event.date|date:"j. F - H:i" }}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>


    {{ committee.description|safe }}

    {% if request.user.is_authenticated %}
        <a href="edit/">Trykk her for å redigere innhold</a>
    {% endif %}
{% endblock content %}