*.DS_Store/
chemie/__pycache__/
chemie/db.sqlite3
chemie/chemie/__pycache__/*
chemie/elections/__pycache__/*
chemie/elections/migrations/*
chemie/.idea/
chemie/.idea/*
.idea/
.idea/*
chemie/home/migrations/*
chemie/home/__pycache__/*
*.log
*.pot
*.pyc
.DS_Store
.xml
