{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}
Admin
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "exchangepage:index" %}" class="breadcrumb">Reisebrev</a>
    <a href="{% url "exchangepage:admin" %}" class="breadcrumb">Rediger</a>
    <a href="{% url "exchangepage:admindetail" travelletter.id %}" class="breadcrumb">{{travelletter.user}}</a>
    <a href="{% url "exchangepage:admindetailimage" travelletter.id %}" class="breadcrumb">Bilder</a>
        <a href="{% url "exchangepage:createexperience" travelletter.id %}" class="breadcrumb">Spørsmål</a>
    <a class="breadcrumb">Rediger</a>
</div>

<style>
  select{display: block}
  .cke{
      width: 100% !important;
  }
</style>
<p class="flow-text">Her kan du oppdatere spørsmål og svar!</p>
<div class="card">
  <div class="card-content">
  <form id = "form-container" method="POST" enctype="multipart/form-data">{% csrf_token %}

      {{ experienceform.media }}
      {{ experienceform.as_p }}

      <div class="card-action" id="button-container">
        <div class="right-align">
          <a class="btn btn-danger pull-left modal-trigger" href="#deleteModal" style="background-color: red; border-color: red; margin: 5px">Slett svar</a>
          <input class="btn btn-primary pull-right" type='submit' style="margin: 5px" value='Lagre svar!'/>
        </div>
      </div>
  </form>
  </div>
</div>

<!-- Modal Structure -->
<div id="deleteModal" class="modal">
  <div class="modal-content">
    <h4>Slett Svar på Spørsmål</h4>
    <p>Er du sikker på at du vil slette dette svaret?</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class="modal-close waves-effect waves-green btn-flat">Avbryt</a>
    <a href="{% url 'exchangepage:deleteexperience' experience.id %}" class="modal-close waves-effect waves-green btn-flat red-text">Slett</a>
  </div>
</div>
{% endblock content %}

{% block footer_script %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
  });
</script>
{% endblock %}