{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}
Admin
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url 'exchangepage:index' %}" class="breadcrumb">Reisebrev</a>
    <a href="{% url 'exchangepage:admin' %}" class="breadcrumb">Admin</a>
    <a href="{% url 'exchangepage:admindetail' travelletter.id %}" class="breadcrumb">{{travelletter.user}}</a> <!-- takes user to edit page -->
    <a href="{% url 'exchangepage:admindetailimage' travelletter.id %}" class="breadcrumb">Bilder</a>
    <a class="breadcrumb">Spørsmål</a>
</div>

<p class="flow-text">Her kan du legge inn spørsmål og svar!</p>
{% if experiences|length != 0 %}
<div class = "card">
    <div class ="card-content">
        {% for experience in experiences %}
            <div class="row valign-wrapper" style="margin: 0; padding-bottom: 5px">
                <div class="col s9 m10 l10">
                  <a href="{% url 'exchangepage:admindetailexperience' experience.id %}" class="waves-effect waves-light btn-large" style="width: 100%"><i class="material-icons left">label_outline</i>
                    <div style="display: flex;flex-direction: row;justify-content: space-between">
                      <div class="truncate" style="padding-right: 10px">{{experience.question}}</div>
                    </div>
                  </a>
                </div>
                <div class="col s3 m2 l2 valign-wrapper">
                    <!-- Modal Trigger -->
                    <a class="modal-trigger delete-button btn-floating red valign-wrapper" href="#deleteModal{{ experience.id }}">
                        <i class="material-icons">delete</i>
                    </a>
                    <!-- Modal Structure -->
                    <div id="deleteModal{{ experience.id }}" class="modal">
                        <div class="modal-content">
                            <h4>Slett Svar på Spørsmål</h4>
                            <p>Er du sikker på at du vil slette dette svaret?</p>
                        </div>
                        <div class="modal-footer">
                            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Avbryt</a>
                            <a href="{% url 'exchangepage:deleteexperience' experience.id %}" class="waves-effect waves-green btn-flat" style="color: red">Slett</a>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endif %}

<div class="card">
  <div class="card-content">
      <form id = "form-container" method="POST" enctype="multipart/form-data">{% csrf_token %}

          {{ experienceform.media }}
          {{ experienceform.as_p }}

          <div class="card-action" id="button-container">
            <div class="right-align">
              <input class="btn btn-primary pull-right" style="margin: 5px" type='submit' value='Lagre spørsmål!'/>
            </div>
          </div>
      </form>
      <div class="right-align" style="padding-right: 24px">
        <a href="{% url 'exchangepage:admin' %}" class="btn btn-primary pull-right" style="margin: 5px">Ferdig!</a>
      </div>
  </div>
</div>

<style>
  select{display: block}
  .cke_1{
      width: 100% !important;
  }
</style>
{% endblock content %}

{% block footer_script %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);
    });
</script>
{% endblock %}