{% extends "chemie/base.html" %}
{% block content %}
<style>
div.unoccupied {
    background-color:green;
    color:white;
    margin:20px;
    padding:10px;
    width: 8px;
}
div.occupied {
  background-color:red;
  color:white;
  margin:20px;
  padding:10px;
  width:8px;
}
</style>

{% if lockers %}
There are {{lockers|length}} locker(s) available:
<div class="lockers">
  {% for l in lockers %}
  <div class="unoccupied">
    <a href="/bokskap/registrere-skap/{{l.number}}">{{ l.number }}</a>
  </div>
  {% endfor %}
  {% else %}
  There are no lockers available.
  {% endif %}
  Unavailable lockers:
  {% for l in occupied %}
  <div class="occupied">
    <a href="">{{ l.number }}</a>
  </div>
</div>
{% endfor %}


<ul class="pagination nav navbar-nav">
    {% if lockers.has_previous %}
        <li><a href="group={{ lockers.previous_page_number }}">Prev</a></li>
    {% endif %}
    {% for page in lockers.paginator.page_range %}
        <li class="{% if lockers.number == page  %}active{% endif %}"><a href="group={{page }}">{{ page }}</a></li>
    {% endfor %}

    {% if lockers.has_next %}
        <li> <a href="group={{ lockers.next_page_number }}">Next</a></li>
    {% endif %}
</ul>



{% endblock content %}
