{% extends "chemie/base.html" %}
{% block content %}


<ul class="pagination nav navbar-nav">
    {% if lockers.has_previous %}
        <li><a href="group={{ lockers.previous_page_number }}">Prev</a></li>
    {% endif %}
    {% for page in lockers.paginator.page_range %}
        <li class="{% if lockers.number == page  %}active{% endif %}"><a href="group={{page }}">{{ page }}</a></li>
    {% endfor %}

    {% if lockers.has_next %}
        <li> <a href="group={{ lockers.next_page_number }}">Next</a></li>
    {% endif %}
</ul>

There are {{lockers|length}} locker(s) available:
<div class="row">
  {% for locker in lockers %}
      <div class="col s3 m2">
          <div class="card cyan">
              <div class="card-content">
                  <span class="card-title grey-text text-darken-4 modal-trigger" href="#modal1">{{ locker.number }}</span>
              </div>
          </div>
      </div>
 {% endfor %}
</div>




{% endblock content %}
