{% extends "chemie/base.html" %}
{% block content %}

{% if innlogget %}
Vil du ha skap nummer {{ number }}?
<form action="" method="POST">
    {% csrf_token %}
    <input type="Submit" value="Ja">
    <input type="Submit" value="Nei">
</form>
{% else %}
<form method="POST">
    {% csrf_token %}
    <input type="text" id="first_name", placeholder="Fornavn">
    <input type="text" id="last_name", placeholder="Etternavn">
    <input type="text" id="internal_user", placeholder="Internt brukernavn">
    <input type="Submit" value="OK">
</form>
{% endif %}


{% endblock content %}
