{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load material_form %}
{% load staticfiles %}
{% load static %}
{% block nav_header %}
  Bilder
{% endblock nav_header %}

{% block nav_sub_header %}
  Avventer godkjenning
{% endblock nav_sub_header %}


{% block content %}
<style xmlns:carousel="http://www.w3.org/1999/xhtml">
    img.responsive-img, video.responsive-video {
      height: auto;
      width: auto;
      max-width: 300px;
    }

    .btn {
        margin-top: 5px;
    }
</style>
  {% if perms.picturecarousel %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.picturecarousel %}
          <li>
            <a class="btn-floating blue" href="{% url "carousel:active" %}"><i class="material-icons">photo_album</i></a>
            <a class="btn-floating mobile-fab-tip">Tagg bilder</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <ul class="pagination nav navbar-nav">
    {% if picture_page.has_previous %}
      <li><a href="{{ picture_page.previous_page_number }}">Forrige</a></li>
    {% endif %}
    {% for page in picture_page.paginator.page_range %}
      <li class="{% if picture_page.number == page %}active{% endif %}"><a href="{{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if picture_page.has_next %}
      <li><a href="{{ picture_page.next_page_number }}">Neste</a></li>
    {% endif %}
  </ul>


  <div class="row">
    <h3>Avventer godkjenning</h3>
    <div class="card">
      <div class="card-content">
        <form method="post">{% csrf_token %}
          {{ awaiting_formset.management_form }}
        <table class="responsive-table bordered">
          <thead>
          <tr>
            <th data-field="image">Bilde</th>
            <th data-field="tags">Tags</th>
            <th data-field="who">Innsender</th>
            <th data-field="date">Dato</th>
            <th data-field="approve">Godkjenning</th>
          </tr>
          </thead>
          <tbody>
          {% for form in awaiting_formset %}
            <tr>
              <td>
                <img class="responsive-img materialboxed" src="{{ form.instance.image.url }}">
              </td>
              <td>
                {{ form.as_p }}
                <input type="submit" class="btn" name="save_tag" value="{{ page }}">
              </td>
              <td><p>{{ form.instance.author }}</p></td>
              <td><p>{{ form.instance.date|date:"j. F" }}</p></td>
              <td>
                <form method="POST">
                  {% csrf_token %}
                  <button class="btn waves-effect waves-light" type="submit"
                          name="delete" value="{{ form.instance.id }}">Slett
                    <i class="material-icons right">delete</i>
                  </button>
                </form>
                <form action="{% url "carousel:approve" form.instance.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn waves-effect waves-light" type="submit"
                          name="approve" value="{{ form.instance.id }}">Godkjenn
                    <i class="material-icons right">check</i>
                  </button>
                </form>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
         </form>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer_script %}
{{ awaiting_formset.form.media }}
{% endblock footer_script %}
