{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% block nav_header %}
  Bilder
{% endblock nav_header %}

{% block nav_sub_header %}
  Venter på godkjenning
{% endblock nav_sub_header %}


{% block content %}
  <style>
    img.responsive-img, video.responsive-video {
      height: auto;
      width: auto;
      max-width: 300px;
    }
  </style>

  <ul class="pagination nav navbar-nav">
    {% if picture_page.has_previous %}
      <li><a href="{{ picture_page.previous_page_number }}">< Forrige</a></li>
    {% endif %}
    {% for page in picture_page.paginator.page_range %}
      <li class="{% if picture_page.number == page %}active{% endif %}"><a href="{{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if picture_page.has_next %}
      <li><a href="{{ picture_page.next_page_number }}">Neste ></a></li>
    {% endif %}
  </ul>

  <div class="row">
    <h3>Avventer godkjenning</h3>
    <h6>NB: Hvis det er personer som er lett gjenkjennbare på bildene, må de tagges før de godkjennes.</h6>
    <div class="card">
      <div class="card-content">
        <table class="responsive-table bordered">
          <thead>
          <tr>
            <th data-field="image">Bilde</th>
            <th data-field="who">Innsender</th>
            <th data-field="date">Dato</th>
            <th data-field="approve">Godkjenning</th>
          </tr>
          </thead>
          <tbody>
          {% for picture in picture_page %}
            <tr>
              <td>
                <img class="responsive-img materialboxed" src="{{ picture.image.url }}">
              </td>
              <td><p>{{ picture.author }}</p></td>
              <td><p>{{ picture.date|date:"j. F" }}</p></td>
              <td>
                <form action="{% url "carousel:deny" picture.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn waves-effect waves-light" type="submit" name="action">Slett
                    <i class="material-icons right">delete</i>
                  </button>
                </form>
                <br>
                <form action="{% url "carousel:approve" picture.id %}" method="POST">
                  {% csrf_token %}
                  <button class="btn waves-effect waves-light" type="submit" name="action">Godkjenn
                    <i class="material-icons right">check</i>
                  </button>
                </form>
                <br>
                <a class="waves-effect btn" href="{% url "carousel:tag_users" picture.pk %}">
                  <i class="material-icons right">photo_album</i>Tagg personer</a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ul class="pagination nav navbar-nav" style="float:right;">
    {% if picture_page.has_previous %}
      <li><a href="{{ picture_page.previous_page_number }}">< Forrige</a></li>
    {% endif %}

    {% if picture_page.has_next %}
      <li><a href="{{ picture_page.next_page_number }}">Neste ></a></li>
    {% endif %}
  </ul>

{% endblock %}

{% block footer_script %}

  <script>
    $(document).ready(function () {
      $('.materialboxed').materialbox();
    });
  </script>
{% endblock footer_script %}
