{% extends "chemie/base.html" %}
{% load material_form %}
{% load thumbnail %}
{% load static %}

{% block nav_header %}
    Bildekarusell
{% endblock nav_header %}

{% block nav_sub_header %}
    Send inn bilder
{% endblock nav_sub_header %}

{% block content %}
<style>
  .indicators {
    display:  none;
  }
</style>
<div class="slider fullscreen">
   <ul class="slides">
       {%for picture in pictures%}
     <li>
         {% thumbnail picture.image "1920" padding=True as pic %}
       <img src="{{pic.url}}"> <!-- random image -->
       <div class="caption center-align">
         <h3>{{picture.description}}</h3>
         {%endthumbnail%}
       </div>
     </li>
     {%endfor%}
   </ul>
 </div>
<script>
    $(document).ready(function(){
      $('.slider').slider();
      $('.side-nav').hide();
    });
</script>

{% endblock content %}
