{% extends "chemie/base.html" %}
{% load material_form %}

{% block nav_header %}
  Bildekarusell
{% endblock nav_header %}

{% block nav_sub_header %}
  Send inn bilder
{% endblock nav_sub_header %}

{% block content %}
  {% if perms.picturecarousel %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.picturecarousel %}
          <li>
            <a class="btn-floating blue" href="{% url "carousel:overview" %}"><i class="material-icons">list</i></a>
            <a class="btn-floating mobile-fab-tip">Godkjenn</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
  <div class="row">
    <div class="col s12 m12 l8">
      <a class="waves-effect btn" href="{% url "carousel:display" %}">
        <i class="material-icons left">view_carousel</i>Til karusellen!</a>
      <a class="waves-effect btn" href="{% url "carousel:view_pictures" %}">
        <i class="material-icons left">photo_album</i>Se bilder</a>
      <p class="flow-text">
        Her kan du sende inn bilder til bildekarusellen på kontoret! <br>
      </p>

      <form class="editContent" method='POST' enctype="multipart/form-data">{% csrf_token %}
        {% form form=form %}
        {% endform %}
        <input class="btn" type='submit' value='Send inn bilder!'/>
      </form>
    </div>
  </div>


{% endblock content %}
