{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% load static %}

{% block nav_header %}
  Bilder
{% endblock nav_header %}

{% block nav_sub_header %}
  Aktive bilder
{% endblock nav_sub_header %}

{% block content %}
  <style xmlns:carousel="http://www.w3.org/1999/xhtml">
    img.responsive-img {
      height: auto;
      width: auto;
      max-width: 300px;
    }
  </style>
  {% if perms.picturecarousel %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.picturecarousel %}
          <li>
            <a class="btn-floating blue" href="{% url "carousel:overview" %}">
              <i class="material-icons">list</i>
            </a>
            <a class="btn-floating mobile-fab-tip">Godkjenn bilder</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <ul class="pagination nav navbar-nav">
    {% if picture_page.has_previous %}
      <li><a href="{{ picture_page.previous_page_number }}">< Forrige</a></li>
    {% endif %}

    {% for page in picture_page.paginator.page_range %}
      <li class="{% if picture_page.number == page %}active{% endif %}"><a
              href="{{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if picture_page.has_next %}
      <li><a href="{{ picture_page.next_page_number }}">Neste ></a></li>
    {% endif %}
  </ul>


  <div class="row">
    <h3>Aktive bilder</h3>
    <div class="card">
      <div class="card-content">
        <table class="responsive-table bordered">
          <thead>
          <tr>
            <th data-field="image">Bilde</th>
            <th data-field="who">Innsender</th>
            <th data-field="date">Dato</th>
            {% if perms.picturecarousel.change_contribution %}
              <th></th>
            {% endif %}
          </tr>
          </thead>
          <tbody>
          {% for pic in picture_page %}
            <tr class="pictureTr">
              <td>
                <img class="responsive-img materialboxed" src="{{ pic.image.url }}" alt="">
              </td>
              <td><p>{{ pic.author }}</p></td>
              <td><p>{{ pic.date|date:"j. F" }}</p></td>
              {% if perms.picturecarousel.change_contribution %}
                <td>
                  <a class="waves-effect btn" href="{% url "carousel:tag_users" pic.pk %}">
                    <i class="material-icons right">photo_album</i>Tagg personer</a>
                </td>
              {% endif %}
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <ul class="pagination nav navbar-nav" style="float:right">
    {% if picture_page.has_previous %}
      <li><a href="{{ picture_page.previous_page_number }}">< Forrige</a></li>
    {% endif %}

    {% if picture_page.has_next %}
      <li><a href="{{ picture_page.next_page_number }}">Neste ></a></li>
    {% endif %}
  </ul>

{% endblock content %}

{% block footer_script %}

  <script>
    $(document).ready(function () {
      $('.materialboxed').materialbox();
    });
  </script>

{% endblock footer_script %}
