{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load material_form %}
{% load staticfiles %}
{% load static %}

{% block nav_header %}
  Bilder
{% endblock nav_header %}

{% block nav_sub_header %}
  Aktive bilder
{% endblock nav_sub_header %}

{% block content %}
  <style xmlns:carousel="http://www.w3.org/1999/xhtml">
    img.responsive-img {
      height: auto;
      width: auto;
      max-width: 300px;
    }
  </style>
  {% if perms.picturecarousel %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.picturecarousel %}
          <li>
            <a class="btn-floating blue" href="{% url "carousel:active" %}">
              <i class="material-icons">edit</i>
            </a>
            <a class="btn-floating mobile-fab-tip">Tagg bilder</a>
          </li>
          <li>
            <a class="btn-floating blue" href="{% url "carousel:overview" %}">
              <i class="material-icons">list</i>
            </a>
            <a class="btn-floating mobile-fab-tip">Godkjenn bilder</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <ul class="pagination nav navbar-nav">
    {% if picture_page.has_previous %}
      <li><a href="{{ picture_page.previous_page_number }}?tags={{ tags }}">Forrige</a></li>
    {% endif %}
    {% for page in picture_page.paginator.page_range %}
      <li class="{% if picture_page.number == page %}active{% endif %}"><a href="{{ page }}?tags={{ tags }}">{{ page }}</a></li>
    {% endfor %}

    {% if picture_page.has_next %}
      <li><a href="{{ picture_page.next_page_number }}?tags={{ tags }}">Neste</a></li>
    {% endif %}
  </ul>

  <form id="filterDiv" method="POST">{% csrf_token %}
    {{ filter_form.as_p }}
  <input type="submit" class="btn btn-default" value="Filtrer!">
  </form>


  <div class="row">
    <h3>Aktive bilder</h3>
    <div class="card">
      <div class="card-content">
        <table class="responsive-table bordered">
          <thead>
          <tr>
            <th data-field="image">Bilde</th>
            <th data-field="image">Tags</th>
            <th data-field="who">Innsender</th>
            <th data-field="date">Dato</th>
          </tr>
          </thead>
          <tbody>
          {% for pic in picture_page %}
            <tr class="pictureTr {{ pic.tags.all }}">
              <td>
                <img class="responsive-img materialboxed" src="{{ pic.image.url }}" alt="">
              </td>
              <td>
                {% for tag in pic.tags.all %}
                  <div class="chip">{{ tag }}</div><br>
                {% endfor %}
              </td>
              <td><p>{{ pic.author }}</p></td>
              <td><p>{{ pic.date|date:"j. F" }}</p></td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer_script %}
  {{ filter_form.media }}

  <script>
      $(document).ready(function () {
          $('.materialboxed').materialbox();
      });
  </script>

{% endblock footer_script %}
