<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">

{% extends "chemie/base.html" %}
{% block content %}



<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" media="screen" />
</head>
<body>
<p>Dis is internetzzside</p>
<p><a href="../valg/">Valgsystem</a><p>
<p><a href="../shitbox/">Sladreboks</a><p>
<p><a href="../bokskap/">Bokskap</a><p>
<p><a href="../klassekatalog/">Klassekatalog</a><p>
<p><a href="../news/">Nyheter</a><p>
<p><a href="../admin/">Adminpanel</a><p>
<p><a href="../calendar/">Kalender</a><p>


{% endblock content %}
