{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}
Admin
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "exchangepage:index" %}" class="breadcrumb">Reisebrev</a>
        <a href="{% url "exchangepage:admin" %}" class="breadcrumb">Admin</a>
    <a class="breadcrumb">Spørsmål</a>
</div>

<p class="flow-text">Velg spørsmål å redigere!</p>
  <ul class="collection">
    {% for question in questions %}
       <div class="col s12 m6 l3" style="padding-bottom: 5px">
              <a href="{% url 'exchangepage:adminquestiondetail' question.id %}" class="waves-effect waves-light btn-large" style="width: 100%"><i class="material-icons left">label_outline</i>
                <div style="display: flex;flex-direction: row;justify-content: space-between">
                  <div class="truncate" style="padding-right: 10px">{{question}}</div>
                </div>
              </a>
            </div>
    {% endfor %}
  </ul>

<!-- Add Button -->
{% if perms.exchangepage %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large">
    <i class="large material-icons">edit</i>
  </a>
  <ul>
    {% if perms.exchangepage.change_travelletter %}
      <li>
        <a class="btn-floating blue" href="{% url "exchangepage:createquestion" %}"><i
            class="material-icons">add</i></a>
        <a class="btn-floating mobile-fab-tip">Nytt Spørsmål</a>
      </li>
    {% endif %}
  </ul>
</div>
{% endif %}

{% endblock content %}

{% block footer_script %}

{% endblock %}