{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}
Admin
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
<p class="flow-text">Velg reisebrev å endre!</p>
  <ul class="collection">
    {% for travelletter in travelletters %}
       <div class="col s12 m6 l3" style="padding-bottom: 5px">
              <a href="{% url 'exchangepage:admindetail' travelletter.id %}" class="waves-effect waves-light btn-large" style="width: 100%"><i class="material-icons left">person</i>
                <div style="display: flex;flex-direction: row;justify-content: space-between">
                  <div style="padding-right: 10px">{{travelletter.user}}</div>
                  <div style="padding-right: 10px">{{travelletter.city}}</div>
                </div>
              </a>
            </div>
    {% endfor %}
  </ul>


{% endblock content %}

{% block footer_script %}

{% endblock %}