{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}
Admin
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "exchangepage:index" %}" class="breadcrumb">Reisebrev</a>
    <a href="{% url "exchangepage:admin" %}" class="breadcrumb">Rediger</a>
    <a href="{% url "exchangepage:admindetail" travelletter.id %}" class="breadcrumb">{{travelletter.user}}</a>
    <a href="{% url "exchangepage:admindetailimage" travelletter.id %}" class="breadcrumb">Bilder</a>
    <a class="breadcrumb">Spørsmål</a>
</div>

<style>
  select{display: block}
  .cke{
      width: 100% !important;
  }
</style>
<p class="flow-text">Her kan du oppdatere spørsmål og svar!</p>
<div class="card">
  <div class="card-content">
  <form id = "form-container" method="POST" enctype="multipart/form-data">{% csrf_token %}

      {{ experienceform.as_p }}

      <div class="card-action" id="button-container">
        <div class="right-align">
          <input class="btn btn-primary pull-right" type='submit' style="margin: 5px" value='Lagre svar!'/>
        </div>
      </div>
  </form>
  </div>
</div>

{% endblock content %}

{% block footer_script %}
{% endblock %}