{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}
Admin
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "exchangepage:index" %}" class="breadcrumb">Reisebrev</a>
    <a href="{% url "exchangepage:admin" %}" class="breadcrumb">Rediger</a>
    <a href="{% url "exchangepage:admindetail" travelletter.id %}" class="breadcrumb">{{travelletter.user}}</a>
    <a href="{% url "exchangepage:admindetailimage" travelletter.id %}" class="breadcrumb">Bilder</a>
    <a class="breadcrumb">Spørsmål</a>
</div>

<style>
  select{display: block}
</style>
<p class="flow-text">Her kan du oppdatere svar!</p>
<div class="card">
  <div class="card-content">
  <form id = "form-container" method="POST" enctype="multipart/form-data">{% csrf_token %}

      <div>
      {{ experienceformset.management_form }}
      {% for form in experienceformset %}
      <div class = "experience-form">
          {{ form.media }}
          {{ form.as_p }}
      </div>
      {% endfor %}
      </div>

      <div class="card-action" id="button-container">
        <div class="right-align">
          <button class="btn btn-primary pull-right" id="add-form" style="margin: 5px" type="button">Ny spm</button>
          <input class="btn btn-primary pull-right" type='submit' style="margin: 5px" value='Lagre reisebrev!'/>
        </div>
      </div>
  </form>
  </div>
</div>

{% endblock content %}

{% block footer_script %}
<script>
    let experienceForm = document.querySelectorAll(".experience-form");
    // Variable containing the whole form
    let container = document.querySelector("#form-container");
    // Variable containing the button to add a new receipt
    let addButton = document.querySelector("#add-form");
    // Variable containing the button to add a new receipt
    let addButtonContainer = document.querySelector("#button-container");
    // Variable containing the number for receipts on the current page
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS");
    // Get the number of the last form on the page with zero-based indexing
    let formNum = experienceForm.length-1;

    // Function to add a new form
    function addForm(e) {
        e.preventDefault();
        let newForm = experienceForm[0].cloneNode(true);
        //Regex to find all instances of the form number
        let formRegex = RegExp(`form-(\\d){1}-`,'g');

        formNum++;
        //Update the new form to have the correct form number
        newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`);
        //Insert the new form at the end of the list of forms
        container.insertBefore(newForm, addButtonContainer);
        //Increment the number of total forms in the management form
        totalForms.setAttribute('value', `${formNum+1}`);
    }
    // Add an eventlistener to the new receipt button
    addButton.addEventListener('click', addForm);
</script>
{% endblock %}