{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}
Admin
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "exchangepage:index" %}" class="breadcrumb">Reisebrev</a>
    <a href="{% url "exchangepage:admin" %}" class="breadcrumb">Rediger</a>
    <a class="breadcrumb">{{travelletter.user}}</a>
</div>

<style>
  select{display: block}
</style>
<p class="flow-text">Her kan du oppdatere reisebrev!</p>
<div class="card">
  <div class="card-content">
  <form id = "form-container" method="POST" enctype="multipart/form-data">{% csrf_token %}

      {{ travelletterform.media}}
      {% for field in travelletterform %}
        <div>
          <label for="{{ field.id_for_label }}">{{ field.label }}</label>
          {{ field }}
          {% if field.errors %}
            <ul class="errorlist">
              {% for error in field.errors %}
                <li style="color: red">{{ error }}</li>
              {% endfor %}
            </ul>
          {% endif %}
        </div>
      {% endfor %}

      <div class="card-action" id="button-container">
        <div class="right-align">
          <a class="btn btn-danger pull-left" id="delete-button" style="background-color: red; border-color: red; margin: 5px">Slett reisebrev</a>
          <input class="btn btn-primary pull-right" type='submit' style="margin: 5px" value='Lagre og gå videre!'/>
        </div>
      </div>

  </form>
  </div>
</div>

{% endblock content %}

{% block footer_script %}
<script>
document.addEventListener('DOMContentLoaded', function () {
    document.getElementById('delete-button').addEventListener('click', function () {
        var confirmDelete = confirm('Er du sikker på at du vil slette dette reisebrevet?');
        if (confirmDelete) {
            window.location.href = "{% url 'exchangepage:deletetravelletter' travelletter.id %}";
        }
    });
});
</script>


{% endblock %}