{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
{% endblock nav_header %}

{% block nav_sub_header %}

{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}

<h1 class="center" style="color: #F9CF00;">Webkom x Indkom</h1>
<h4 class="center" style="color: #F9CF00;">Presenterer Utvekslingssiden!</h4>
<div class="card" id="Countdown">
    <div class="row align-items-center" style="margin: 20px;padding:10px">
        <div class="col s12 m12 l12">
            <div class="until__text" style="color: #F9CF00; font-size: 2rem; font-weight: bold">00</div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer_script %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js"></script>
<script>
  dayjs.extend(dayjs_plugin_duration);

function dayCountdown(element, targetString, eventString){
    const targetDate = dayjs(targetString);

    setInterval(() => {
        const now = dayjs();
        const duration = dayjs.duration(targetDate.diff(now));

        if (duration.asMilliseconds() <= 0) {
            element.querySelector(".days__until").textContent = `Utvekslingssiden er klar!`;
            element.querySelector(".days__until").style.fontSize= "4rem";
            element.querySelector(".until__text").textContent = ``;
            return;
        }

        // Calculate days, hours, minutes, and seconds
        const days = Math.floor(duration.asDays());
        const hours = duration.hours();
        const minutes = duration.minutes();
        const seconds = duration.seconds();

        element.querySelector(".until__text").textContent = days+" dager "+hours.toString().padStart(2, "0")+" timer "
            +minutes.toString().padStart(2, "0")+" minutter  "+seconds.toString().padStart(2, "0")+" sekunder  "+`igjen`;

    }, 1000); // Update every 1 second

}

dayCountdown(document.getElementById("Countdown"), "2024-06-06 12:00", "utvekslingsside");


</script>

{% endblock %}