{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}

{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
<style>
  select{display: block}
</style>
<p class="flow-text">Her kan du legge til nytt reisebrev!</p>
<div class="card">
  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="card-content">

      {{ form.travelletter_info.as_p }}
      {{ form.questions_info.as_p }}
      {{ form.as_p }}
      {{ form.errors }}

      <div class="card-action">
        <div class="right-align">
          <input class="btn btn-primary pull-right" type='submit' value='Lagre reisebrev!'/>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock content %}

{% block footer_script %}

{% endblock %}