{% extends "chemie/base.html" %}
{% load static %}

{% block nav_header %}
    {{ travelletter.user.user.first_name }}s eventyr i {{ travelletter.city }}
{% endblock nav_header %}

{% block nav_sub_header %}
   Retning: {{ specialization }}, Semester: {{ travelletter.semester }}
{% endblock nav_sub_header %}

{% load material_form %}

{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "exchangepage:index" %}" class="breadcrumb">Land</a>
    <a href="{% url "exchangepage:citypage" travelletter.city %}" class="breadcrumb">Byer</a>
    <a class="breadcrumb">{{travelletter.user}}</a>
</div>

<style>
    .information-box-container {
        background-color: #f0f0f0;
        padding: 20px;
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .info-item {
        margin-bottom: 10px;
    }

    .carousel-item {
        width:400px !important;
    }


    /* Width definert i bilder kan ikke overskride width i bildekarusell får da overflow. :( Ser scuffed ut når man trykker inn på et bilde og :(( og bildene er scuffed /*

</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems);
  });


  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
  });

</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems);
  });


  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
  });

</script>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems);
  });


  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });

  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.materialboxed');
    var instances = M.Materialbox.init(elems);
  });
</script>

<div class="carousel">
    {% for image in images %}
    <a class="carousel-item" href="#{{ forloop.counter }}!">
        <img class="materialboxed" style="width: 100%" src="{{ image.image.url }}">
    </a>
    {% endfor %}
</div>

 <div class="information-box-container">
        <h3>Generell informasjon om {{ travelletter.city }}</h3>

     <div class="row customcol">
      <div class="col s12 m12 l8">
          {{ travelletter.destinationInfo }}
      </div>
        <div class="col s12 m12 l4">
          <div class="card yellow">
            <div class="card-content white-text">
              <span class="card-title"> Vurdering: </span>
              <p>
                <div class="info-item">
                    <p>Solfaktor: {{ travelletter.sun }}</p>
                </div>
                <div class="info-item">
                    <p>Levekostnader: {{ travelletter.livingExpences }}</p>
                </div>
                <div class="info-item">
                    <p>Tilgjengelighet: {{ travelletter.availability }}</p>
                </div>
                <div class="info-item">
                    <p>Natur: {{ travelletter.nature }}</p>
                </div>
                <div class="info-item">
                    <p>Gjestfrihet: {{ travelletter.hospitality }}</p>
                </div>
                <div class="info-item">
                    <p>Arbeidsmengde: {{ travelletter.workLoad }}</p>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

 <div class="information-box-container">
    <div class="information-box">
        <h3>Erfaringer</h3>
            <ul class="collapsible">
                {% if experiences %}
                    {% for experience in experiences %}
                        <li>
                            <div class="collapsible-header"><strong>{{ experience.question }}</strong></div>
                            <div class="collapsible-body"><p>{{ experience.answer }}</p></div>
                        </li>
                    {% endfor %}
                {% else %}
                    <li>
                        <div class="collapsible-header"><i class="material-icons">info</i>Ingen tilgjengelige erfaringer.</div>
                        <div class="collapsible-body"><span>BASJ!, er ingen erfaringer som kan vises her >:(( </span></div>
                    </li>
                {% endif %}
    </div>
</div>

{% endblock content %}

{% block footer_script %}

{% endblock %}
