{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}

{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}

{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}


{% for letter in travelletter %}
<ul class="collapsible">
  <li>
    <div class="collapsible-header">{{letter.country}}</div>
    <div class="collapsible-body">
      Content for Section 1
    </div>
  </li>
</ul>
{% endfor %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>

{% endblock content %}

{% block footer_script %}

{% endblock %}