{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}

<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <div class="container" style="width: 100%">
        <div class = "row" style="margin-bottom: 0">
          <div class="col s3">
            Sted
          </div>
          <div class="col s9">
            {% for element_key, element_value in context_data.items %}
                <div class="col s2">
                  <a style="color: black" href = "?sort_by={{element_value.1}}&sort_order={% if sort_order == 'desc' %}asc{% else %}desc{% endif %}">
                    <div>
                      <i class="material-icons">{{element_value.2}}</i>
                    </div>
                  </a>
                </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

{% for country, data in travelletters_by_country.items %}
<ul class="collapsible">
  <li>
    <div class="collapsible-header">
      <div class = "container" style="width: 100%">
        <div class = "row" style="margin-bottom: 0">
          <div class = "col s3">
            <i class="material-icons">place</i>
            {{ country }}
          </div>
          <div class = "col s9">
            <div class = "col s2">
              {{ data.avg_sun}}
            </div>
            <div class = "col s2">
              {{ data.avg_livingExpences}}
            </div>
            <div class = "col s2">
              {{ data.avg_availability}}
            </div>
            <div class = "col s2">
              {{ data.avg_nature}}
            </div>
            <div class = "col s2">
              {{ data.avg_hospitality}}
            </div>
            <div class = "col s2">
              {{ data.avg_workLoad}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collapsible-body">
      <div class="col">
      {% for land, city in data_by_city.items %}
        {% if land == country %}
          {% for city_name, city_data in city.items %}
            <div class="col s12 m6 l3" style="padding-bottom: 5px">
              <a href="{% url 'exchangepage:citypage' city_name %}" class="waves-effect waves-light btn-large" style="width: 100%">
                <div class="container" style="width: 100%">
                  <div class = "row" style="margin-bottom: 0">
                    <div class="col s3 valign-wrapper">
                      <div>
                      <i class="material-icons white-text">location_city</i>
                      </div>
                      <div class="truncate">
                      {{city_name}}
                      </div>
                    </div>
                    <div class = "col s9">
                      <div class = "col s2">
                        {{ city_data.avg_sun }}
                      </div>
                      <div class = "col s2">
                        {{ city_data.avg_livingExpences }}
                      </div>
                      <div class = "col s2">
                        {{ city_data.avg_availability }}
                      </div>
                      <div class = "col s2">
                        {{ city_data.avg_nature }}
                      </div>
                      <div class = "col s2">
                        {{ city_data.avg_hospitality }}
                      </div>
                      <div class = "col s2">
                        {{ city_data.avg_workLoad}}
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    </div>
  </li>
</ul>
{% endfor %}


<!-- Add Button -->
{% if perms.exchangepage %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large">
    <i class="large material-icons">edit</i>
  </a>
  <ul>
      {% if perms.exchangepage.change_travelletter %}
        <li>
          <a class="btn-floating yellow" href="{% url "exchangepage:admin" %}"><i
              class="material-icons">sync</i></a>
          <a class="btn-floating mobile-fab-tip">Rediger Reisebrev</a>
        </li>
      {% endif %}
      {% if perms.exchangepage.change_travelletter %}
        <li>
          <a class="btn-floating yellow" href="{% url "exchangepage:adminquestion" %}"><i
              class="material-icons">sync</i></a>
          <a class="btn-floating mobile-fab-tip">Rediger Spørsmål</a>
        </li>
      {% endif %}
  </ul>
</div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);

    var elems = document.querySelectorAll('.dropdown-trigger');
    var options = {};
    var instances = M.Dropdown.init(elems, options);
  });
</script>


{% endblock content %}

{% block footer_script %}

{% endblock %}