{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}
{% endblock %}

{% block nav_header %}
  Reisebrev
{% endblock nav_header %}

{% block nav_sub_header %}
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}

<a class='dropdown-trigger btn' style="width:150px" href='#' data-target='dropdown1'>Endre filtre!</a>

<ul id='dropdown1' class='dropdown-content'>
  <form method="post">
    {% csrf_token %}
      {% for field in form.visible_fields %}
          <div style="padding: 5px">
           {% for std in field %}
              <li>
                <div style="justify-items: center; align-items: center;padding: 10px">
                  <label>
                    <input type="checkbox" class="filled-in" name="{{ std.name }}"/>
                    <span>{{ std }}</span>
                  </label>
                </div>
              </li>
           {% endfor %}
          </div>
        <input type="submit" value="Submit">
      {% endfor %}
  </form>
</ul>





<ul class="collapsible">
  <li>
    <div class="collapsible-header" style="display: flex; justify-content: space-between; align-items: center;">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 25px">
        Sted
      </div>
      <div style="display: flex">
        <a style="color: black" href = "?sort_by=avg_sun&sort_order={% if sort_order == 'desc' %}asc{% else %}desc{% endif %}">
          <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 25px">
            <i class="material-icons">local_atm</i> Solfaktor
          </div>
        </a>
        <a style="color: black" href = "?sort_by=avg_livingExpences&sort_order={% if sort_order == 'desc' %}asc{% else %}desc{% endif %}">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 25px">
          <i class="material-icons">local_dining</i> Levekostnader
        </div>
        </a>
        <a style="color: black" href = "?sort_by=avg_availability&sort_order={% if sort_order == 'desc' %}asc{% else %}desc{% endif %}">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 25px">
          <i class="material-icons">local_see</i> Tilgjengelighet
        </div>
        </a>
        <a style="color: black" href = "?sort_by=avg_nature&sort_order={% if sort_order == 'desc' %}asc{% else %}desc{% endif %}">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 25px">
          <i class="material-icons">local_library</i> Natur
        </div>
        </a>
      </div>
    </div>
  </li>
</ul>
{% for country, data in travelletters_by_country.items %}
<ul class="collapsible">
  <li>
    <div class="collapsible-header" style="display: flex; justify-content: space-between; align-items: center;">
      <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 25px">
        <i class="material-icons">place</i>
        {{ country }}
      </div>
      <div style="display: flex">
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 100px">
          {{ data.avg_sun }}
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 150px">
          {{ data.avg_livingExpences }}
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 125px">
          {{ data.avg_availability }}
        </div>
        <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 50px">
          {{ data.avg_nature }}
        </div>
      </div>
    </div>
    <div class="collapsible-body">
      <div class="col">
      {% for land, city in data_by_city.items %}
        {% if land == country %}
          {% for city_name, city_data in city.items %}
            <div class="col s12 m6 l3" style="padding-bottom: 5px">
              <a href="{% url 'exchangepage:citypage' city_name %}" class="waves-effect waves-light btn-large" style="width: 100%"><i class="material-icons left">location_city</i>
                <div style="display: flex;flex-direction: row;justify-content: space-between">
                  <div style="padding-right: 10px">{{city_name}}</div>
                  <div style="display: flex">
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 100px">
                      {{ city_data.avg_sun }}
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 150px">
                      {{ city_data.avg_livingExpences }}
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 125px">
                      {{ city_data.avg_availability }}
                    </div>
                    <div style="display: flex; flex-direction: row; justify-content: center; align-items: center; padding-right: 5px">
                      {{ city_data.avg_nature }}
                    </div>
                  </div>
                </div>
              </a>
            </div>
          {% endfor %}
        {% endif %}
      {% endfor %}
    </div>
    </div>
  </li>
</ul>
{% endfor %}


<!-- Add Button -->
{% if perms.exchangepage %}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large">
    <i class="large material-icons">edit</i>
  </a>
  <ul>
    {% include "permissions.html" %}
    {% block permissions %}
    {% endblock %}
  </ul>
</div>
{% endif %}

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);

    var elems = document.querySelectorAll('.dropdown-trigger');
    var options = {};
    var instances = M.Dropdown.init(elems, options);
  });
</script>


{% endblock content %}

{% block footer_script %}

{% endblock %}