{% extends "chemie/base.html" %}
{% load material_form %}
{% load static %}

{% block nav_header %}
  Merch
{% endblock nav_header %}



{% block content %}
    <card>
        <h1>{{merch.name}}</h1>
        <img src="{{merch.image.url}}" style="height:400px"/>
        <h4>{{merch.info}}<h4/>
    </card>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large">
            <i class="large material-icons">edit</i>
          </a>
          <ul>

            {% if perms.merch.delete_merch %}
              <li>
                <a class="btn-floating red" href={% url "merch:delete" pk=merch.id %}>
                  <i class="material-icons">clear</i>
                  <a class="btn-floating mobile-fab-tip" href={% url "merch:delete" pk=merch.id %}>Fjern denne merchen.</a>
                </a></li>
            {% endif %}
              <li>
                  <a class="btn-floating blue" href={% url "merch:index" %}>
                  <i class="material-icons">arrow_back</i>
                  <a class="btn-floating mobile-fab-tip" href={% url "merch:index" %}>Til resten av merchen!</a>
              </li>
          </ul>
        </div>

    </div>
{% endblock content %}