{% extends "chemie/base.html" %}
{% load material_form %}
{% load static %}

{% block nav_header %}
  Merch
{% endblock nav_header %}

{% block nav_sub_header %}
  Selges av styret under kontortid!
{% endblock nav_sub_header %}

{% block content %}

    <div>
        <h3>Velg en kategori:</h3>
        <form enctype="multipart/form-data" method='POST'>
        {% csrf_token %}
        <div class="card-content">
        {{ form.media }}
        {{ form.as_p }}
        <input class="btn" type='submit' name='submit' value='Sorter!'/>
        <input class="btn" type='submit' name='submit' value='Nullstill'/>
        </div>
    </form>
        <ul class="pagination nav navbar-nav">
        {% if merchs.has_previous %}
         <li><a href="?page={{ merchs.previous_page_number }}">Forrige</a></li>
        {% endif %}
        {% for page in merchs.paginator.page_range %}
        <li class="{% if merchs.number == page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
        {% endfor %}

        {% if merchs.has_next %}
          <li><a href="?page={{ merchs.next_page_number }}">Neste</a></li>
        {% endif %}
        </ul>
    </div>

    <div class="row">
      {% for merch in merchs %}
        <div class="col s12 m6 l4">
            <a href={%url "merch:detail" pk=merch.id %}>
            <div class="card" style ="height: 350px">
              <!-- Showing the pictures. -->
              <div class="card-image" style="padding: 10px">
                  <img src="{{merch.image.url}}" alt="img" style="height:180px; object-fit: contain;"}>
              </div>
              <!-- The box under each picture -->
              <div class="card-content">
                  <div class="card-title">{{merch.name}}</div>
                  <div>{{merch.price|floatformat:2}} kr </div>
              </div>
            </div>
            </a>
        </div>
      {% endfor %}

    </div>

    <ul class="pagination nav navbar-nav">
    {% if merchs.has_previous %}
      <li><a href="?page={{ merchs.previous_page_number }}">Forrige</a></li>
    {% endif %}
    {% for page in merchs.paginator.page_range %}
      <li class="{% if merchs.number == page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if merchs.has_next %}
      <li><a href="?page={{ merchs.next_page_number }}">Neste</a></li>
    {% endif %}
  </ul>

    {% if perms.merch%}
        <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
          <a class="btn-floating btn-large">
            <i class="large material-icons">dehaze</i>
          </a>
          <ul>
            {% if perms.merch.add_merch %}
              <li>
                <a class="btn-floating blue" href={% url "merch:categories" %}>
                  <i class="material-icons">edit</i>
                  <a class="btn-floating mobile-fab-tip" href={% url "merch:categories" %}>Endre eller slette kategori</a>
                </a>
              </li>
              <li>
                <a class="btn-floating blue" href={% url "merch:create_category" %}>
                  <i class="material-icons">add</i>
                  <a class="btn-floating mobile-fab-tip" href={% url "merch:create_category" %}>Legg til en ny kategori</a>
                </a>
              </li>
              <li>
                <a class="btn-floating blue" href={% url "merch:create" %}>
                  <i class="material-icons">add</i>
                  <a class="btn-floating mobile-fab-tip" href={% url "merch:create" %}>Legg til mer merch</a>
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
    {% endif %}
{% endblock content %}

{% block footer_script %}'
<script>
$(function(){
        $("#refresh").click(function(event){
            $.ajax({
             type: "POST",
             url: 'refresh/',
              success:function(response) {
              location.reload(true);

              //do something with 'response'
             }
            });
    });
</script>
{% endblock footer_script %}
