/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

header, main, footer {
  padding-left: 200px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

.error {
  color: red;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 38px;
}


nav.top-nav {
    height: 122px;
    box-shadow: none;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 10px;
}

#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}

#logo-container {
    height: 130px;
}

.logo-text {
    font-family: "Roboto Condensed";
    font-weight: 300;
    margin-top: 5px;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

ul.side-nav.fixed a {
    font-size: 14px;
    line-height: 44px;
    height: 44px;
    font-weight: 400;
}

#heading {
  font-size: 3.56rem;
  font-family: "Roboto";
  font-weight: 300;
  margin-top: 0.0rem;
}

@media screen and (max-width: 690px) {
    #heading {
        font-size: 2rem;

    }
}
#subheading {
  font-family: "Roboto Condensed";
    font-weight: 300;
    position: absolute;
    top:1.7em;
}

section#top-title {
  padding-top: .1rem;
}

nav, footer.page-footer {
  color: #fff;
  background-color: #FFA000;
}

.detail-title {
    font-weight: 700;
    display: block;
}


.icon-text {
    vertical-align:middle
}

.heading {
  color: #FFA000;
  font-family: "Roboto";
  font-weight: 200;
  margin-top: 0.0rem;
}

.success-message {
  background-color: #00e676 !important;
}

.info-message {
  background-color: #00e5ff !important;
}

.warning-message {
  background-color: #ffeb3b !important;
}

.error-message {
  background-color: #f44336 !important;
}

i.icon-green {
    color: green;
}
i.icon-red {
    color: red;
}
i.icon-gray {
    color: gray;
}

img.profile-circle {
    margin-left: 10px;
    width: 20%;
    height: 20%;
}

.side-nav li > a > i.material-icons {
    color: rgb(0, 0, 0);
        width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 45px;
}

.card-event {
        margin: 0rem 0 1rem 0;
}


.text-background {
    position:absolute;
    top:250px;
    left:140px;
    width:500px;
    height:50px;
    background-color:black;
    z-index:0;
    opacity:0.5;
}

.card-event-title {
    padding: 0px 10px;
    background-color: rgba(0,0,0,.2);
    width: 100%;
}