{% extends "chemie/base.html" %}
{% block nav_header %}
Arrangementer
{% endblock nav_header %}

{% block nav_sub_header %}
Oversikt
{% endblock nav_sub_header %}
{% block content %}

{% if perms.events %}
<div class="row">
    {% for event in events %}
        <div class="col s12 m10 l6">
            <div class="card medium">
                <div class="card-image">
                    <a href="{{ event.get_absolute_registration_url }}">
                        <img src="/media/{{ event.image }}">
                    </a>
                    <span class="card-title card-event-title">
                      <h4>{{ event.title }}</h4>
                      <h5>{{ event.date|date:"j F - H:i" }}</h5>
                    </span>
                </div>
                <div class="card-content">
                    <p class="flow-text">
                        {{ event.description }}
                    </p>
                </div>
                <div class="card-action">
                    <a href="{{ event.get_absolute_url }}">Detaljer</a>
                    <a href="{{ event.get_absolute_registration_url }}">Til påmelding</a>
                    <form action="{{event.id}}" class="material-icons" method="POST">{%csrf_token%}<button type="submit"><i class="material-icons">delete</i></button></form>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{%endif%}

{% endblock content %}
