{% extends "chemie/base.html" %}
{% load material_form %}

{% block nav_header %}
Arrangementer
{% endblock nav_header %}

{% block nav_sub_header %}
Opprett påmelding
{% endblock nav_sub_header %}

{% block content %}
    {% load staticfiles %}
    <p class="flow-text">Her finner du de beste arrangementene på gløs!!11 </p>
    <div class="row">
        <div class="card">
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
                <div class="card-content">
                    {% form form=form %}
                        {% attr form.date 'widget' class append %}datepicker{% endattr %}
                    {% endform %}
                    <div class="card-action">
                        <div class="right-align">
                            <input class="btn btn-primary pull-right" type='submit' value='Lag arrangementet!'
                                   onclick="Materialize.toast('Takk for at du lagde arrangementet!', 4000)"/>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock content %}