{% extends "chemie/base.html" %}
{% load material_form %}

{% block nav_header %}
Arrangementer
{% endblock nav_header %}

{% block nav_sub_header %}
Påmelding
{% endblock nav_sub_header %}

{% block content %}
{% load staticfiles %}
    <h2>{{ event.title }}</h2>
    <h3>{{ event.date|date:"j F Y" }}</h3>
    {% if not registration_form %}
        <h4>Du er allerede påmeldt.</h4>
    {% endif %}
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    {% if registration_form %}
    <p class="flow-text">Okei folkens! Gløym at dykk ikkje fekk væra me på soleis store slåttemda festen sist gang. Det er no det gjeld!</p>
    <form method='POST'>{% csrf_token %}
        {% form form=registration_form %}

        {% endform %}
            <button class="btn btn-primary" type="submit">Meld meg på!</button>
    </form>
    {% endif %}
{% endblock %}