  <!-- Modal Trigger -->

  <a class="modal-trigger" href="#cakemodal">skjema for prisberegning</a>

  <!-- Modal Structure -->
  <div id="cakemodal" class="modal">
    <div class="modal-content">
        <h4>Kakekalkulator</h4>

        <p>Kalkulatoren brukes for estimere prisen på hjemmebakt kake (ikke posekake). Refusjon for kakeutlegg skal ikke overstige 100 kr.</p>

        <div class="row" style="margin-top: 20px;">
            <div class="col s12 m4 l4">
                <label for="milk">Melk [dl]</label>
                <input class="cake-input" id="milk" name="milk" value=0 type="number" min="0">
                <label for="flour">Mel [g]</label>
                <input class="cake-input" id="flour" name="flour" value=0 type="number" min="0">
            </div>
            <div class="col s12 m4 l4">
                <label for="egg">Egg [egg]</label>
                <input class="cake-input" id="egg" name="egg" value=0 type="number" min="0">
                <label for="butter">Smør [g]</label>
                <input class="cake-input" id="butter" name="butter" value=0 type="number" min="0">
            </div>
            <div class="col s12 m4 l4">
                <label for="sugar">Sukker [g]</label>
                <input class="cake-input" id="sugar" name="sugar" value=0 type="number" min="0">
                <label for="powdered_sugar">Melis [g]</label>
                <input class="cake-input" id="powdered_sugar" name="powdered_sugar" value=0 type="number" min="0">
            </div>
            <div class="col s12 m12 l12">
                <span style="margin-top: 20px;"> </span>
            </div>
            <div class="col s12 m12 l12">
                <span style="margin-top: 20px;"> <p>Ekstra ingredienser: </p></span>
            </div>
            <div class="col s12 m4 l4">
                <label for="baking_powder">Bakepulver [g]</label>
                <input class="cake-input" id="baking_powder" name="baking_powder" value=0 type="number" min="0">
                <label for="carrot">Gulrot [g]</label>
                <input class="cake-input" id="carrot" name="carrot" value=0 type="number" min="0">
            </div>
            <div class="col s12 m4 l4">
                <label for="cocoa_powder">Kakaopulver [g]</label>
                <input class="cake-input" id="cocoa_powder" name="cocoa_powder" value=0 type="number" min="0">
                <label for="apple">Epler [g]</label>
                <input class="cake-input" id="apple" name="apple" value=0 type="number" min="0">
            </div>
            <div class="col s12 m4 l4">
                <label for="vanilla_sugar">Vaniljesukker [g]</label>
                <input class="cake-input" id="vanilla_sugar" name="vanilla_sugar" value=0 type="number" min="0">
                <label for="chocolate">Kokesjokolade [g]</label>
                <input class="cake-input" id="chocolate" name="chocolate" value=0 type="number" min="0">
            </div>
            <div class="col s12 m12 l12">
                <span style="margin-top: 20px;"> <p id="total-cake-price"> <b>Kakepris: </b> 0 kr</p> </span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Lukk</a>
    </div>
  </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.modal');
    var instances = M.Modal.init(elems);
});

const cakeFactors = {
    "milk": 2.3,             // 2.3 kr per dl melk, egt 2.1
    "flour": 2/100,          // 2 kr per 100 g mel, egt 1.5
    "egg": 3,                // 3 kr per egg, egt 3.1
    "butter": 7/100,         // 7 kr per 100 g smør, egt 11.4
    "sugar": 3/100,          // 3 kr per 100 g sukker, egt 3.1
    "powdered_sugar": 4/100 ,// 4 kr per 100 g melis, egt 4.4
    "baking_powder": 26/250,
    "cocoa_powder": 50/250, 
    "vanilla_sugar": 23/125,
    "apple": 40/1000,        // 40 kr per kg epler, 
    "carrot": 30/750, 
    "chocolate": 19/200 ,  // 19 kr per 200 g kokesjokolade, 
};

const cakeprice = document.getElementById("total-cake-price");

const cakeInputs = [...document.getElementsByClassName("cake-input")];
cakeInputs.forEach((inputElement) => {
    inputElement.addEventListener('input', () => {
        let sum  = 0;
        cakeInputs.forEach( (element)=> {
            let value = parseFloat(element.value) || 0;
            sum += (value * cakeFactors[element.name]);
        })
        cakeprice.innerHTML = `<b>Kakepris: </b> ${Math.round(sum * 100) / 100} kr`;
    })
});


</script>

