coverage==4.1
Django==1.9.7
django-ckeditor==5.0.3
django-classy-tags==0.8.0
django-debug-toolbar==1.5
django-extended-choices==1.0.7
django-filter==0.13.0
django-jenkins==0.19.0
django-mail-templated==2.6.2
django-material==0.8.0
django-mptt==0.8.6
django-nyt==0.9.9
django-post-office==2.0.8
django-recaptcha==1.0.5
django-sekizai==0.10.0
djangorestframework==3.4.0
future==0.15.2
jsonfield==1.0.3
Markdown==2.6.6
Pillow==3.3.0
six==1.10.0
sorl-thumbnail==12.3
sqlparse==0.2.0
wiki==0.1.2
