{% extends "chemie/base.html" %}
{% load material_form %}
{% block nav_header %}
  Bruker
{% endblock nav_header %}

{% block nav_sub_header %}
  Logg inn
{% endblock nav_sub_header %}

{% block content %}
  {% load staticfiles %}

  <p class="flow-text">Logg inn her!</p>

  <div class="row">
    <div class="col s12 m10 l8">
      <div class="card">
        <form id='login-form' method='POST'>
          {% csrf_token %}
          <div class="card-content">
            {% form form=form %}
            {% endform %}
          </div>
          {% if show_popup %}
              <div>
                <div class="card-content">
                  {% include "registration/terms_and_conditions.html" %}
                  <div style="float: left; clear:none; margin-right: 3px">
                    {% form form=termsform %}
                    {% endform %}
                  </div>
                  <div style="font-size: 15px; padding-top: 1.2px">
                    <a class="modal-trigger" href="#terms_modal"> Vilkår og Betingelsene</a>
                  </div>
                </div>
              </div>
          {% endif %}
          <div class="card-action" style="overflow: hidden;">
            <div>
              <a href="{% url "profile:forgotpassword" %}" style="vertical-align: -webkit-baseline-middle;">Mistet
                passord?</a>
              <button class="btn btn-primary" style="float: right;" type="submit">Logg inn</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}