{% extends "chemie/base.html" %}
{% load material_form %}
{% block nav_header %}
    Bruker
{% endblock nav_header %}

{% block nav_sub_header %}
    Logg inn
{% endblock nav_sub_header %}
{% block content %}
{% load staticfiles %}


<div class="container">
    <p class="flow-text">Vennligst logg inn!
    </p>
    <div class="row">
    <div class="col s12 m12">
    <div class="card">
    <form method='POST'>{% csrf_token %}
        <div class="card-content">
            {% form form=form %}
            {% endform %}
        </div>
        <div class="card-action">
          <div class="left-align"></div>
            <div class="right-align">
              <button class="btn btn-primary pull-left"><a class="white-text" href="{% url "profile:forgotpassword" %}" >Mistet passord?</a></button>
                <button class="btn btn-primary pull-right" type="submit">Logg inn</button>
            </div>
        </div>
    </form>
    </div>
    </div>
    </div>
</div>

{% endblock content %}
