{% extends "chemie/base.html" %}
{% load material_form %}
{% block nav_header %}
  Bruker
{% endblock nav_header %}

{% block nav_sub_header %}
  Logg inn
{% endblock nav_sub_header %}

{% block content %}
  {% load staticfiles %}

  <p class="flow-text">Logg inn her!</p>

  <div class="row">
    <div class="col s12 m10 l8">
      <div class="card">
        <form method='POST'>{% csrf_token %}
          <div class="card-content">
            {% form form=form %}
            {% endform %}
          </div>
          <div class="card-action" style="overflow: hidden;">
            <div>
              <a href="{% url "profile:forgotpassword" %}" style="vertical-align: -webkit-baseline-middle;">Mistet
                passord?</a>
              <button class="btn btn-primary" style="float: right;" type="submit">Logg inn</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
