{% extends 'chemie/base.html' %}
{% load thumbnail %}

{% block nav_header %}
  Kontaktinfo
{% endblock nav_header %}

{% block content %}
<div class="row">
    <div class="col s12"> <!---size of the layout--->
        <div class="container" style="margin-bottom: 40px;">
            <div class="col-12 col-md-6" style="margin-bottom: 40px;">
                <p class="flow-text">
                  Har dere lyst til å leie utstyr fra oss?
                  Utleieavtalen gjøres via epost, og vi blir enige der om henting
                  av utstyr. 
                  <br><br>
                  I e-posten skal det opplyses om hva utstyret skal brukes til og når man tenker å leie fra og til.
                  Noe utstyr har spesifikke krav for hva som må gjøres før innlevering. Dette står beskrevet på siden for det utstyret det gjelder. 
                  <br><br>
                  Dette skal være et fint tilbud for alle medlemmene i HC. Det er derfor viktig at utstyret leveres tilbake i den stand det ble utlevert.
                  Vi hjelper gjerne til med å finne ut av hva dere trenger å leie,
                  så om dere er usikre på noe er det bare å sende spørsmål så hjelper vi gjerne. Gleder oss til å høre fra dere!
                  <br><br>
                  Send epost til sportskom@hc.ntnu.no, eller ved å trykke <a href = "mailto: sportskom@hc.ntnu.no">her!</a>
                    <br><br>
                    Tilbake til <a href="{% url 'rentalservice:index_sportskom' %}"> utleieproduktene. </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}