{% extends 'chemie/base.html' %}
{% load thumbnail %}

{% block nav_header %}
  Kontaktinfo
{% endblock nav_header %}

{% block content %}
<div class="row">
    <div class="col s12"> <!---size of the layout--->
        <div class="container" style="margin-bottom: 40px;">
            <div class="col-12 col-md-6" style="margin-bottom: 40px;">
                <p class="lead">
                  Har dere lyst til å leie teknisk utstyr fra oss?
                  Utleieavtalen gjøres via epost, og vi blir enige der om henting
                  av utstyr og fakturering, og ordner signering av utleiekontrakt.
                  Vi hjelper gjerne til med å finne ut av hva dere trenger å leie,
                  så om dere er usikre på hva som vil fungere best til dergit add.es
                  arrangement er det bare å spørre. Husk at det også er mulig å leie tekniker,
                  så gjerne spesifiser om dette er noe dere ønsker. Gleder oss til å høre fra dere!
                  <br><br>
                  Send epost til ac@hc.ntnu.no, eller ved å trykke <a href = "mailto: ac@hc.ntnu.no">her!</a>
                    <br><br>
                    Tilbake til <a href="{% url 'rentalservice:index' %}"> utleieproduktene. </a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
