{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load staticfiles %}

{% block nav_header %}
  Utstyr til utlån
{% endblock nav_header %}

{% block nav_sub_header %}
  Detaljer
{% endblock nav_sub_header %}

{% block content %}
{% if perms.rentalservice %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.rentalservice.delete_rentalobject %}
          <li>
            <a class="btn-floating red" href="{% url "rentalservice:delete_rentalobject" rental_object.id %}"><i class="material-icons">delete_forever</i></a>
            <a class="btn-floating mobile-fab-tip" href="{% url "rentalservice:delete_rentalobject" rental_object.id %}">Slett</a>
          </li>
        {% endif %}
        {% if perms.rentalservice.edit_rentalobject %}
          <li>
            <a class="btn-floating blue" href="{% url "rentalservice:edit_rentalobject" rental_object.id %}">
              <i class="material-icons">edit</i>
              </a>
            <a class="btn-floating mobile-fab-tip" href="{% url "rentalservice:edit_rentalobject" rental_object.id %}">Endre</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "rentalservice:index_ac" %}" class="breadcrumb">Oversikt</a>
    <a class="breadcrumb">{{ rental_object.name }}</a>
</div>

<div class="row"> <!-- Rad for bilde og beskrivelse/handlevogn ved siden av hverandre -->

    <!-- Bildekolonne -->
    <div class="col s12 m7 l7"> <!-- Bildet tar halvparten av bredden på større skjermer -->
        {% thumbnail rental_object.image "500" crop="center" as im %}
            <img class="responsive-img materialboxed" src="{{ im.url }}">
        {% endthumbnail %}
    </div>

    <!-- Beskrivelseskolonne med handlevogn over beskrivelsen -->
    <div class="col s12 m5 l5"> <!-- Beskrivelse og handlevogn tar halvparten av bredden på større skjermer -->
        
        <!-- Handlevognikon -->
        <div class="card contactForm" style="padding-top: 0.25rem; width: 100%; height: 6rem; margin-bottom: 10px;">
            <a href="/utleie/kontaktac">
              <div class="col s4 m3.5 l4">
                <i class="material-icons micon" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);
                max-height: 5rem; margin: 2rem; transform: scale(2); color:#0b3954;" >shopping_cart</i> 
              </div>
              <div class="col s8 m8.5 l8">
                <p style="color: black;">Ønsker du å leie? <br>Ta kontakt her!</p>
              </div>
            </a>
        </div>

        <!-- Beskrivelse -->
        <div class="card">
            <div class="card-content">
                <h5>Beskrivelse:</h5>
                <p class="flow-text">{{ rental_object.description|safe }}</p>
            </div>
        </div>

    </div>

</div>
{% endblock content %}

{% block footer_script %}
  <script>
      $(document).ready(function () {
          $('.materialboxed').materialbox();
      });
  </script>
{% endblock footer_script %}
