{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load static %}

{% block nav_header %}
  Utleie
{% endblock nav_header %}

{% block nav_sub_header %}
Audiochromatene
{% endblock nav_sub_header %}

{% block content %}
<div class="row">
    <div class="col s12 m12 l8"> <!---size of the layout--->
        <div class="container" style="margin-bottom: 40px;">
            <div class="col-12 col-md-6" style="margin-bottom: 40px;">
                <p class="flow-text">
                    Vi er Audiochromatene, lys- og lydteknisk komité i HC!
                    Vi har utstyr som kan leies både av foreninger, foretninger og privatpersoner.
                    Detaljer om priser og tekniske spesifikasjoner er beskrevet under de ulike utstyrene.

                    Ta kontakt via kontakt-knappen for å avtale.
                    <br><br>
                    Er du medlem i HC? Da får du rabatt på leie av utstyr!
                    <br><br>
                </p>
                <li class="flow-text">Privat arrangement: 25% rabatt</li>
                <li class="flow-text">Arrangement der minst et helt MTKJ/MTKMB/MSCHEMBI-klassetrinn er invitert: 50% rabatt</li>
                <li class="flow-text">Alle komitéer som arrangerer fellesarrangementer i HC: gratis lån av utstyr</li>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4" style="max-width:350px;" >
      <!--Kontaktskjema-->
      <h2 class="heading">Kontakt</h2>
      <div class="col coffee-box" style="width: 100%; height:auto;">
        <a href="{% url 'rentalservice:contact_info' %}" style="width: 100%;">
          <div class="row" style="display: flex; align-items: center; margin: 0; padding: 0">
            <div class="col s4 m3 l4">
              <i class="material-icons micon" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);
              max-height: 5rem; margin: 2rem; transform: scale(2); color:#0b3954;" >shopping_cart</i> 
            </div>
            <div class="col s8 m9 l8">
              <p style="color: black; margin: 0; padding: 0">Ønsker du å leie noe? <br>Ta kontakt her!</p>
            </div>
          </div>
        </a>
      </div>
    </div>
</div>

<div>
  <ul class="pagination nav navbar-nav">
    {% if rentalObjects.has_previous %}
     <li><a href="?page={{ rentalObjects.previous_page_number }}">Forrige</a></li>
    {% endif %}
    {% for page in rentalObjects.paginator.page_range %}
    <li class="{% if rentalObjects.number == page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if rentalObjects.has_next %}
      <li><a href="?page={{ rentalObjects.next_page_number }}">Neste</a></li>
    {% endif %}
    </ul>
</div>

{% if perms.rentalservice %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.rentalservice.add_rentalobject_ac %}
          <li>
            <a class="btn-floating blue" href="{% url 'rentalservice:new_object_ac' %}">
              <i class="material-icons">add</i>
              <a class="btn-floating mobile-fab-tip" href="{% url 'rentalservice:new_object_ac' %}">Legg til ny</a>
            </a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
<div class="row">
        <div class="col s12"> <!---size of the layout--->
            <div class="row">
            {% if not rentalObjects %}
            <p class="flow-text">Ingenting å låne enda!</p>
            {% endif %}
            {% for object in rentalObjects %}
                <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image">
                        <a href="{% url 'rentalservice:detail_ac' object.id %}">
                            {% thumbnail object.image "630x400" crop="center" as im %} <!--- standard image crop for HC--->
                                <img src="{{ im.url }}"> <!--- locates image url--->
                            {% endthumbnail %}
                        </a>
                    </div>
                    <div class="card-content" style="padding-top: 0px; margin-top: -15px;" >
                        <br>
                        <h5>{{ object.name }}</h5>
                        <p class="card-text"> {{ object.description|safe }} </p>
                    </div>
                    <div class="card-action center">
                        <a href="{% url 'rentalservice:detail_ac' object.id %}">Mer info</a> <!--- det er ingen hyperlenke her nå--->
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>
</div>

<div>
  <ul class="pagination nav navbar-nav">
    {% if rentalObjects.has_previous %}
     <li><a href="?page={{ rentalObjects.previous_page_number }}">Forrige</a></li>
    {% endif %}
    {% for page in rentalObjects.paginator.page_range %}
    <li class="{% if rentalObjects.number == page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if rentalObjects.has_next %}
      <li><a href="?page={{ rentalObjects.next_page_number }}">Neste</a></li>
    {% endif %}
    </ul>
</div>

{% endblock %}