{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load static %}

{% block nav_header %}
  Utleie
{% endblock nav_header %}

{% block nav_sub_header %}
Promoteringskomiteen
{% endblock nav_sub_header %}

{% block content %}
<div class="row">
    <div class="col s12 m9"> <!---size of the layout--->
        <div class="container" style="margin-bottom: 40px;">
            <div class="col-12 col-md-6" style="margin-bottom: 40px;">
                <p class="flow-text">
                    Vi er promoteringskomiteen! Vi tar bilder og video til HC sine arrangementer. 
                    Det er også mulig å leie promokom sine tjenester (fotoboks, fotograf eller utstyr) for foreneninger og privatpersoner.
                    </p>
                    <br>
                    <h4>Fotoboks</h4>
                    <p class="flow-text">Ved å leie ut fotoboksen vår, sikrer du fantastiske bilder på ditt arrangement. 
                    Prisen inkluderer opprigg, nedrigg og redigering av bilder. 
                    OBS! Man er selv ansvarlig for å fikse transport av fotoboksen til og fra gløshaugen.
                    <br> 
                    <i>Pris: 1500 kr inkl. mva</i></p>
                    <br><br>
                    <h4>Fotograf</h4>
                    <p class="flow-text"> Vil du heller ha litt flere candid bilder? 
                    Det kan du få løst ved å leie en av våre talentfulle fotografer. 
                    Prisen inkluderer fire timer med fotografering og redigering av bildene.
                    <br> 
                    <i>Pris: 1500 kr inkl. mva</i>
                    <br><br>
                    <h4>Utstyr</h4>
                    <p class="flow-text">Er du litt av en fotograf selv, men mangler litt utstyr? Det er også mulig å leie mye av kamera-utstyret vårt. 
                    Du kan leie lys, blitz, mikrofon eller kamera. Prisen varierer fra utstyr til utstyr.
                    <br>
                    <i>Pris: 400 kr - 1500 kr inkl. mva</i>
                    <br><br>
                    Er du Chemiker? Da får du rabatt på utstyr fra oss! 
                    Er det et arrangement der minst et helt klassetrinn er invitert (evt. åpent for deltakelse fra hele foreningen) får du 50% rabatt. 
                    Alle komitéer som arrangerer fellesarrangementer i HC får låne utstyr gratis.
                    <br><br>
                    Ta kontakt via linken på høyre side for å avtale.
                </p>
            </div>
        </div>
    </div>
    <div class="col s12 m3">
      <!--Kontaktskjema-->
      <h2 class="heading">Kontakt</h2>
      <div class="col coffe-box" style="width: 100%;">
        <a href="kontaktpromo" style="width: 100%;">
            <div class="row" style="width: 100%;">
                <div class="col s4 m3 l3">
                    <img type="image/png" src="{% static "images/handlekurv.png" %}" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);
                    max-height: 5rem; margin-top: 1rem;">
                </div>
                <div class="col s8 m9 l9">
                    <p style="margin: auto; margin-top: 1rem; color: black;">Ønsker du å leie noe? <strong>Ta kontakt her!</strong></p>
                </div>
            </div>
        </a>
      </div>
    </div>
</div>

{% endblock %}