{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load static %}

{% block nav_header %}
  Utlån
{% endblock nav_header %}

{% block nav_sub_header %}
Sportskomiteen
{% endblock nav_sub_header %}

{% block content %}


<div class="row">
    <div class="col s12 m12 l8" > <!---size of the layout--->
        <div class="container" style="margin-bottom: 40px;">
            <div class="col-12 col-md-6" style="margin-bottom: 40px;">
                <p class="flow-text">
                    Vi er sportskomiteen! Vi har som ansvar å arrangere BlotsCup, HC-fjelltur, Gaukerenn og andre sportslige begivenheter.
                    Det er også mulig å leie utstyr fra oss. 
                </p>
                
                    
                <p class="flow-text"> Ta kontakt via kontakt-knappen for å avtale</p>
            </div>
        </div>
    </div>
    <div class="col s12 m12 l4" style="max-width:350px;" >
        <!--Kontaktskjema-->
        <h3 class="heading">Kontakt</h3>
        <div class="col coffee-box" style="width: 100%; height:auto;">
          <a href="kontaktsportskom"style="width: 100%;">
            <div class="row" style="display: flex; align-items: center; margin: 0; padding: 0">
              <div class="col s4 m3 l4">
                <i class="material-icons micon" style="-webkit-filter: grayscale(100%); filter: grayscale(100%);
                max-height: 5rem; margin: 2rem; transform: scale(2); color:#0b3954;" >shopping_cart</i> 
              </div>
              <div class="col s8 m9 l8">
                <p style="color: black;">Ønsker du å leie noe? <br>Ta kontakt her!</p>
              </div>
            </div>
          </a>
        </div>
      </div> 
           
</div>
<div>
  <ul class="pagination nav navbar-nav">
    {% if rentalObjects.has_previous %}
     <li><a href="?page={{ rentalObjects.previous_page_number }}">Forrige</a></li>
    {% endif %}
    {% for page in rentalObjects.paginator.page_range %}
    <li class="{% if rentalObjects.number == page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if rentalObjects.has_next %}
      <li><a href="?page={{ rentalObjects.next_page_number }}">Neste</a></li>
    {% endif %}
    </ul>
</div>

{% if perms.rentalservice %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.rentalservice.add_rentalobject %}
          <li>
            <a class="btn-floating blue" href="ny/">
              <i class="material-icons">add</i>
              <a class="btn-floating mobile-fab-tip" href="ny/">Legg til ny</a>
            </a></li>
        {% endif %}
      </ul>
    </div>
  {% endif %}
<div class="row">
        <div class="col s12"> <!---size of the layout--->
            <div class="row">
            {% for object in rentalObjects %}
                <div class="col s12 m6 l4">
                <div class="card small">
                    <div class="card-image">
                        <a href="{% url 'rentalservice:detail' object.id %}">
                            {% thumbnail object.image "630x400" crop="center" as im %} <!--- standard image crop for HC--->
                                <img src="{{ im.url }}"> <!--- locates image url--->
                            {% endthumbnail %}
                        </a>
                    </div>
                    <div class="card-content" style="padding-top: 0px; margin-top: -15px;" >
                        <br>
                        <h5>{{ object.name }}</h5>
                        <p class="card-text"> {{ object.description|safe }} </p>
                    </div>
                    <div class="card-action center">
                        <a href="{% url 'rentalservice:detail' object.id %}">Mer info</a> <!--- det er ingen hyperlenke her nå--->
                    </div>
                </div>
                </div>
            {% endfor %}
            </div>
        </div>
</div>

<div>
  <ul class="pagination nav navbar-nav">
    {% if rentalObjects.has_previous %}
     <li><a href="?page={{ rentalObjects.previous_page_number }}">Forrige</a></li>
    {% endif %}
    {% for page in rentalObjects.paginator.page_range %}
    <li class="{% if rentalObjects.number == page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if rentalObjects.has_next %}
      <li><a href="?page={{ rentalObjects.next_page_number }}">Neste</a></li>
    {% endif %}
    </ul>
</div>



{% endblock %}