{% extends 'chemie/base.html' %}
{% load material_form %}
{% block style %}
  <style>
    .exisiting_type{
      color:red;
    }
  </style>
{% endblock style %}
{% block nav_header %}
  Utleie
{% endblock nav_header %}

{% block nav_sub_header %}
  Oversikt
{% endblock nav_sub_header %}

{% block content %}
  <form class="new_object" enctype="multipart/form-data" method='POST'>{% csrf_token %}
    {% form form=new_obj_form %}
      {% part new_obj_form.type prefix %}<div class="is_new_type">{% endpart %}
      {% part new_obj_form.type postfix %}</div>{% endpart %}
      {% part new_obj_form.type prefix %}<div id="exisiting_type">{% endpart %}
      {% part new_obj_form.type postfix %}</div>{% endpart %}
      {% part new_obj_form.new_type_name prefix %}<div id="new_type">{% endpart %}
      {% part new_obj_form.type postfix %}</div>{% endpart %}
    {% endform %}
      <input class="btn" type='submit' value='Lagre objekt!'/>
  </form>
{% endblock content %}

{% block footer_script %}
  <script>
    $(document).ready(function(){
    $('select').formSelect();
    });
  </script>

<script>
  function hide_type() {
    var useExisting = document.getElementById("id_is_new_type_0");
    var existingTypeField = document.getElementById("exisiting_type");
    var newTypeField = document.getElementById("new_type");
    if (useExisting.checked){
      existingTypeField.style.display = "block";
      newTypeField.style.display = "none";
    }
  }
</script>
{% endblock footer_script %}