{% extends "chemie/base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load event_extras %}

{% block nav_header %}
  Bedriftspresentasjoner
{% endblock nav_header %}

{% block nav_sub_header %}
  Detaljer
{% endblock nav_sub_header %}

{% block content %}

  {% if perms.events %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.events.change_eventregistration %}
          <li>
            <a class="btn-floating blue" href="{% url 'events:adminlist_bedpres' bedpres.id %}"><i class="material-icons">list</i></a>
            <a class="btn-floating mobile-fab-tip" href="{% url 'events:adminlist_bedpres' bedpres.id %}">Se påmeldte</a>
          </li>
        {% endif %}
      {% if perms.events.change_bedpres %}
          <li>
            <a class="btn-floating blue" href="{% url 'events:edit_bedpres' bedpres.id %}"><i class="material-icons">mode_edit</i></a>
            <a class="btn-floating mobile-fab-tip" href="{% url 'events:edit_bedpres' bedpres.id %}">Endre</a>
          </li>
      {% endif %}
      </ul>
    </div>
  {% endif %}

  <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "events:index_bedpres" %}" class="breadcrumb">Bedpreser</a>
    <a class="breadcrumb">{{ bedpres.title }}</a>
  </div>

  <div class="row">
    <div class="col s12 m12 l12"><h1 class="heading">{{ bedpres.title }}</h1></div>
  </div>

  <div class="row">
    <div class="col l7 m12">
      {% thumbnail bedpres.image "1600" crop="center" as im %}
        <img class="responsive-img materialboxed" src="{{ im.url }}">
      {% endthumbnail %}
    </div>

    <div class="col l5 m12 s12">
      <div class="card card-event">
        <div class="card-content">

          <!-- General info -->
          <div class="section">
            <div class="valign-wrapper">
              <i class="material-icons valign left">location_on</i>
              <h5 class="left-align">Hvor</h5>
            </div>
            <p>{{ bedpres.location }}</p>
          </div>
          <div class="section">
            <div class="valign-wrapper">
              <i class="material-icons valign left">access_time</i>
              <h5 class="left-align">Når</h5>
            </div>
            <p>{{ bedpres.date|date:"j. F - H:i" }}</p>
          </div>

          <!-- Total and remaining slots bar -->
          <div class="divider"></div>
          <div class="section">
            <div class="valign-wrapper">
              <i class="material-icons valign left">people_outline</i>
              <h5 class="left-align">Plasser</h5>
            </div>
            <div>
              <p class="left valign"><b>Påmeldte:</b></p>
              <p class="right valign">{{ bedpres.registered_users|default_if_none:0 }} av {{ bedpres.sluts }}</p>
            </div>
            <br>
            <div class="progress">
              <div class="determinate" style="width: {{ bedpres.percentage_filled }}%"></div>
            </div>
          </div>

        </div>
        <div class="divider"></div>
      </div>

    </div>
  </div>

  <!-- Button for signup page -->
  <a class="waves-effect waves-light btn" href="{{ bedpres.get_absolute_registration_url }}">Til påmelding</a>

  <!-- Desription info -->
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="card">
        <div class="card-content">
          <h5>Beskrivelse:</h5>
          <p class="flow-text"> {{ bedpres.description|safe }} </p>
        </div>
      </div>
    </div>
  </div>

  <!-- List of attending users -->
  <div class="row">
    <h2>Påmeldte</h2>
    {% include "events/attendees.html" with user_list=attendees %}
  </div>

  <!-- List of users on waiting list -->
  {% if attendees_waiting %}
    <div class="row">
      <h2>Venteliste</h2>
      {% include "events/attendees.html" with user_list=attendees_waiting %}
    </div>
  {% endif %}

{% endblock content %}

{% block footer_js_files %}
  <script src="{% static "events/transpose_table.js" %}"></script>
{% endblock footer_js_files %}