{% extends "events/bedpres/bedpres_base.html" %}

{% block nav_sub_header %}
  Oversikt
{% endblock nav_sub_header %}

{% block maincontent %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs z-depth-1">
        <li class="tab col s4">
          <a class="active" href="#futureEvents">
            <span class="hide-on-med-and-down">Kommende arrangementer</span>
            <span class="hide-on-large-only">Kommende</span>
          </a>
        </li>
        <li class="tab col s4">
          <a href="#myEvents">
            <span class="hide-on-med-and-down">Mine arrangementer</span>
            <span class="hide-on-large-only">Mine</span>
          </a>
        </li>
        <li class="tab col s4">
          <a target="_self" href="{% url "events:past_bedpres" %}">
            <span class="hide-on-med-and-down">Tidligere arrangementer</span>
            <span class="hide-on-large-only">Tidligere</span>
          </a>
        </li>
      </ul>

      <div id="futureEvents" class="col s12">
        {% include "events/list_events.html" with object_list=events %}
        {% if not events %}
          <p class="flow-text">Det er ingen aktive arrangementer nå. Finn på noe kult da vel!</p>
        {% endif %}
      </div>
      <div id="myEvents" class="col s12">
        {% include "events/list_events.html" with object_list=my_events %}
        {% if user.is_authenticated %}
          {% if not my_events %}
            <p class="flow-text">Du er ikke påmeldt noen arrangementer. Finn på noe sprell!</p>
          {% endif %}
        {% else %}
          <p class="flow-text">Vennligst <a href="{% url "login" %}">logg inn</a> for å se dine aktive arrangementer.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock maincontent %}