{% extends "events/bedpres/bedpres_base.html" %}

{% block nav_sub_header %}
  Oversikt
{% endblock nav_sub_header %}

{% block maincontent %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs z-depth-1">
        <li class="tab col s4"><a target="_self" href="{% url "events:index_bedpres" %}#futureEvents">Kommende arrangement</a></li>
        <li class="tab col s4"><a target="_self" href="{% url "events:index_bedpres" %}#myEvents">Mine arrangement </a></li>
        <li class="tab col s4"><a class="active" href="#pastEvents">Tidligere arrangement</a></li>
      </ul>
      <div id="pastEvents" class="col s12">
        {% include "events/list_events.html" %}
        {% if not object_list %}
          <p class="flow-text">Det finnes ingen tidligere arrangement.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock maincontent %}