{% extends "chemie/base.html" %}
{% load material_form %}
{% block nav_header %}
  Endring av ord
{% endblock nav_header %}

{% block nav_sub_header %}
  
{% endblock nav_sub_header %}

{% block content %}


<style>

  select{display: block;}
  .knapp{display: block;}
  
  
</style>
<div>
<form method = "POST" enctype = "multipar/form-date"> {% csrf_token %}

{%form form=wordform%}
{% endform %}

  <div>
  <input type = "submit" value = "Lagre ord i databasen", class = "knapp" /> 
  </div>

</form>
<form method = "POST" enctype = "multipar/form-date"> {% csrf_token %}

  {%form form=categoryform%}
  {% endform %}
  
    <div>
    <input type = "submit" value = "Lagre ord i databasen", class = "knapp" /> 
    </div>
  
  </form>
</div>

{% endblock content %}

{% block footer_script %}

{% endblock footer_script %}