{% extends "chemie/base.html" %}
{% load material_form %}
{% block nav_header %}
  Innsending av ord
{% endblock nav_header %}

{% block nav_sub_header %}
  
{% endblock nav_sub_header %}

{% block content %}


{# Breadcrumbs #}
{% block breadcrumbs %}
  <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "wordlist:index" %}" class="breadcrumb">Ordlisten</a>
    <a class="breadcrumb">Innsending av ord</a>
  </div>
{% endblock %}

<style>

  select{display: block;}
  .knapp{display: block;}

  
  
</style>


<div>
  <form method = "POST" enctype = "multipart/form-data" id="select"> 
    {% csrf_token %}
    {%form form=checkwhatformform%}
    
    {% endform %}
    <div>
      <input type = "submit" value = "Velg form", name = "check" class = "btn" />
      
    </div>
  </form>
</div>

{% if formindex == 1 %}
<div>
  
  <form method = "POST" enctype = "multipart/form-data"> 
  
    {% csrf_token %}

    {%form form=wordform%}
    {% endform %}
    
    <div>
      <input type = "submit" value = "Lagre ord i databasen", class = "btn" /> 
      <input type = "submit" value = "Lag ett ord til!" name = "nytt", class = "btn" /> 
    </div>

  </form>
</div>
{% endif %}}

{% if formindex == 2 %}
<div>
  
  <form method = "POST" enctype = "multipart/form-data"> 
  
    {% csrf_token %}

    {%form form=verbform%}
    {% endform %}
    
    <div>
      <input type = "submit" value = "Lagre ord i databasen", class = "btn" /> 
      <input type = "submit" value = "Lag ett ord til!" name = "nytt", class = "btn" /> 
    </div>

  </form>
</div>
{% endif %}}

{% if formindex == 3 %}
<div>
  
  <form method = "POST" enctype = "multipart/form-data"> 
  
    {% csrf_token %}

    {%form form=nounform%}
    {% endform %}
    
    <div>
      <input type = "submit" value = "Lagre ord i databasen", class = "btn" /> 
      <input type = "submit" value = "Lag ett ord til!" name = "nytt", class = "btn" /> 
    </div>

  </form>
</div>
{% endif %}}

{% if formindex == 4 %}
<div>
  
  <form method = "POST" enctype = "multipart/form-data"> 
  
    {% csrf_token %}

    {%form form=adjectiveform%}
    {% endform %}
    
    <div>
      <input type = "submit" value = "Lagre ord i databasen", class = "btn" /> 
      <input type = "submit" value = "Lag ett ord til!" name = "nytt", class = "btn" /> 
    </div>

  </form>
</div>
{% endif %}}



{% endblock content %}

{% block footer_script %}

{% endblock footer_script %}