{% extends "chemie/base.html" %}
{% load static %}
{% load material_form %}
{% block nav_header %}
  Ordliste 
{% endblock nav_header %}

{% block nav_sub_header %}
  Detaljer
{% endblock nav_sub_header %}

{% block content %}

{# Breadcrumbs #}
{% block breadcrumbs %}
  <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "wordlist:index" %}" class="breadcrumb">Ordlisten</a>
    
    <a class = "breadcrumb"> {{ord}}</a>
  </div>
{% endblock %}


<card>
    <h2>{{ord}}</h2>
    {%if ord.picture%}
      <img src="{{ord.picture.url}}" style="height:400px"/>
      {%else%}
      <img alt="bilde"  src="{% static "images/holiday_images/paul_tullebilde.png" %}"/ style="height:400px">
    {%endif%}
    <h6>Laget av: {{ord.author.profile}}</h6>
    <h6>Laget: {{ord.date}}</h6>
    <h5>Forklaring: 
      {{ord.explanations}}</h5>
    <h5>Kategori: {%for word in ord.category.all%}
      {{word}}{% if not forloop.last %}
      ,
      {% endif %}
      {% empty %}
      Ingen kategori
      {%endfor%} </h5>

</card>

{%if substantiv.indefinite_singular%}
<div>
  <p>Substantiv:</p>
   <table>
      <tr>
        <th>Ubestemt entall</th>
        <th>Bestemt entall</th>
        <th>Ubestemt flertall</th>
        <th>Bestemt flertall</th>
      </tr>
      <tr>
        <td>{{substantiv.indefinite_singular}}</td>
        <td>{{substantiv.indefinite_plural}}</td>
        <td>{{substantiv.definite_singular}}</td>
        <td>{{substantiv.definite_plural}}</td>
      </tr>
   </table>
</div>
{%elif verb.infinitive%}
<div>
  <p>Verb:</p>
   <table>
      <tr>
        <th>Infinitiv</th>
        <th>Presens</th>
        <th>Preteritum</th>
        <th>Presens futurum</th>
      </tr>
      <tr>
        <td>{{verb.infinitive}}</td>
        <td>{{verb.present}}</td>
        <td>{{verb.past}}</td>
        <td>{{verb.future}}</td>
      </tr>
   </table>
</div>
{%elif adjektiv.positive%}
<div>
  <p>Adjektiv:</p>
   <table>
      <tr>
        <th>Positiv</th>
        <th>Komparlativ</th>
        <th>Superlativ</th>
      </tr>
      <tr>
        <td>{{adjektiv.positive}}</td>
        <td>{{adjektiv.comparative}}</td>
        <td>{{adjektiv.superlative}}</td>
      </tr>
   </table>
</div>
{%endif%}


{% if perms.wordlist%}
<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large">
    <i class="large material-icons">dehaze</i>
  </a>
  <ul>

    {% if perms.wordlist.delete_word %}
      <li>
        <a class="btn-floating red" href={% url "wordlist:delete" pk=ord.id %}>
          <i class="material-icons">delete</i>
          <a class="btn-floating mobile-fab-tip" href={% url "wordlist:delete" pk=ord.id %}>Slett</a>
        </a></li>
    {% endif %}

    {% if perms.wordlist.change_word %}
        <li>
        <a class="btn-floating blue" href={% url "wordlist:adminword" pk=ord.id %}>
          <i class="material-icons">edit</i>
          <a class="btn-floating mobile-fab-tip" href={% url "wordlist:adminword" pk=ord.id %}>Rediger</a>
        </a></li>
    {% endif %}
  </ul>
</div>
{% endif %}

</div>

{% endblock content %}

{% block footer_script %}

{% endblock footer_script %}