{% extends "chemie/base.html" %}

{% load material_form %}
{% load static %}
{% block extra_css %}
  <link href = "{% static "css/wordlist.css" %}" type = "text/css" rel = "stylesheet" media = "screen,projection" /> 
{% endblock %}

{% block nav_header %}
  Ordliste
{% endblock nav_header %}

{% block nav_sub_header %}
  Alle ord i ordlisten
{% endblock nav_sub_header %}

{% block content %}

<div>
  <h5>Søkemotor: </h5>
  <form enctype="multipart/form-data" method='POST'>
    {% csrf_token %}
    <div class="card-content">
      {% for field in form %}{{field.error}}{{field}}{%endfor%}
      <input class="btn" type='submit' name='submit' value='Søk!'/>
      <input class="btn" type='submit' name='submit' value='Nullstill søk'/>
    </div>
  </form>
</div>



<div>
  <h5>Velg en kategori:</h5>
  <form enctype="multipart/form-data" method='POST'>
    {% csrf_token %}
    {%form form=category_form%}
      {% endform %}
    <div class="card-content">
        
      <input class="btn" type='submit' name='submit' value='Ta meg til kategorien'/>
    </div>
  </form>
</div>




{% for word in word %}
  <div class="row">

    <div class="col" s>
      <a class="card" href="{%url 'wordlist:details' word.id %}" >
        <div class="card" style="color:#222222; background-color:#F9CF00;"  >
          
          <div>{{word.word}}:</div> 

          <div><i class="material-icons">arrow_forward</i> {{word.explanations}}</div>
          {% if word.picture %}
          <img src="{{word.picture.url}}" alt="{{word.explanations}}">
          {% endif %}
        
        
        </div>
      </a>
    </div>
   


  </div> 
{% endfor %}


<div>
  <ul class="pagination nav navbar-nav">
    {% if word.has_previous %}
     <li><a href="?page={{ word.previous_page_number }}">Forrige</a></li>
    {% endif %}
    {% for page in word.paginator.page_range %}
    <li class="{% if word.number == page %}active{% endif %}"><a href="?page={{ page }}">{{ page }}</a></li>
    {% endfor %}

    {% if word.has_next %}
      <li><a href="?page={{ word.next_page_number }}">Neste</a></li>
    {% endif %}
    </ul>
</div>



{% endblock content %}





{% block footer_script %}


<script>
$(function(){
        $("#refresh").click(function(event){
            $.ajax({
             type: "POST",
             url: 'refresh/',
              success:function(response) {
              location.reload(true);

              //do something with 'response'
             }
            });
    });
</script>

{% endblock footer_script %}
