{% extends "chemie/base.html" %}

{% load material_form %}
{% load static %}
{% block extra_css %}
  <link href = "{% static "css/wordlist.css" %}" type = "text/css" rel = "stylesheet" media = "screen,projection" /> 
{% endblock %}

{% block nav_header %}
  Ordliste
{% endblock nav_header %}

{% block nav_sub_header %}
  Alle ord i ordlisten
{% endblock nav_sub_header %}

{% block content %}

<div>

  <h3>Velg en kategori:</h3>
  <form enctype="multipart/form-data" method='POST'>
    {% csrf_token %}
    <div class="card-content">
     {{ form.media }}
      {{ form.as_p }}
      <input class="btn" type='submit' name='submit' value='Sorter!'/>
      <input class="btn" type='submit' name='submit' value='Nullstill'/>
    </div>
</form>


 



</div>








{% for word in words %}
  <div class="row">

    <div class="col" s>
      <a class="card" href="{%url 'wordlist:details' word.id %}" >
        <div class="card" style="color:#222222; background-color:#F9CF00;"  >
          
          <div>{{word.word}}:</div> 

          <div><i class="material-icons">arrow_forward</i> {{word.explanations}}</div>
          <img src="{{word.picture.url}}" alt="{{word.explanations}}">
        
        
        </div>
      </a>
    </div>
   


  </div> 
{% endfor %}






{% endblock content %}





{% block footer_script %}


<script>
$(function(){
        $("#refresh").click(function(event){
            $.ajax({
             type: "POST",
             url: 'refresh/',
              success:function(response) {
              location.reload(true);

              //do something with 'response'
             }
            });
    });
</script>

{% endblock footer_script %}
