{% extends "chemie/base.html" %}
{% load material_form %}
{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block nav_header %}
  Profil 
{% endblock nav_header %}
{% block nav_sub_header %}
  Endre push varsel
{% endblock nav_sub_header %}

{% block content %}

<div style="display:inline">
    <form method="POST" style="display:inline; margin:auto">{% csrf_token %}
            {% for field in form %}
            <label>
                {{field}}
                <span style="width:100%; margin:0.5rem" id="span-{{field.label}}">{{field.label}}</span>
            </label>
            {% endfor %}
        <button class="btn btn-primary pull-right" type="submit">Lagre endringer</button>
    </form>
</div>
  
{% endblock content %}

{% block footer_script %}
<script>
  
</script>
{% endblock footer_script %}