{% extends "chemie/base.html" %}
{% load material_form %}
{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block nav_header %}
  Profil 
{% endblock nav_header %}
{% block nav_sub_header %}
  Endre push varsel
{% endblock nav_sub_header %}


{% block content %}
<style>
  [type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: relative;
    opacity: 1;
  }
</style>
<div style="display:inline">
  <a class="btn" style="float:right" href="{% url 'customprofile:edit' %}">Tilbake</a>  
  <h5>
      Rediger dine push varsler her.
    </h5>
    
    <form method="POST" style="display:inline; margin:auto">{% csrf_token %}
      {{ form.subscriptions.label }}
      {% for field in form %}
            {{ field }}
      {% endfor %}
        <button class="btn btn-primary pull-right" style="margin:1rem" type="submit">Lagre endringer</button>
    </form>
    <img type="image/png" style="max-width: 100%"  src="{% static "images/instruction_webpush.png" %}">
</div>
  
{% endblock content %}

{% block footer_script %}
<script>
  
</script>
{% endblock footer_script %}