{% extends "chemie/base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block nav_header %}
  Klassekatalog
{% endblock nav_header %}

{% block nav_sub_header %}
  Oversikt
{% endblock nav_sub_header %}

{% block extra_css %}
  <style>
    .card .card-content {
      height: 11em;
    }
  </style>
{% endblock %}

{% block content %}
  {% if perms.customprofile %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large red">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li>
          <a class="btn-floating blue" href="{% url "profile:memberships" %}"><i
              class="material-icons">edit</i></a>
          <a class="btn-floating mobile-fab-tip">Se medlemsoversikt</a>
        </li>
      </ul>
    </div>
  {% endif %}

  <div class="row">
    <div class="klassetrinn">
      <div class="col s6 m6 l4">
        <a class='dropdown-button light-blue lighten-1 btn-large' href='#' data-activates='dropdown1'
           role="navigation">Klassetrinn</a>
        <ul id='dropdown1' class='dropdown-content'>
          {% for year_number, year_text in grades %}
            <li><a href="/klassekatalog/{{ year_number }}">{{ year_text }}</a></li>
          {% endfor %}
        </ul>
      </div>
      <div class="col s6 m6 l8">
        <nav>
          <div class="nav-wrapper">
            <form method='post' class="newPost">{% csrf_token %}
              <div class="input-field light-blue lighten-1">
                <input id="{{ search_form.search_field.id_for_label }}"
                       type="search" required name="{{ search_form.search_field.html_name }}"
                       value="{{ search_form.search_field.value|default:"" }}">
                <label for="{{ search_form.search_field.id_for_label }}"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>
      </div>
    </div>
  </div>

  <div class="row">
    {% for profile in profiles %}
      <div class="col s10 m4">
        <div class="card">
          <div class="card-image">
            {% thumbnail profile.image_primary "412x551" crop="center" as primary %}
              <img src="{{ primary.url }}"
                  {% thumbnail profile.image_secondary "412x551" crop="center" as secondary %}
                   data-alt-src="{{ secondary.url }}"
                  {% endthumbnail %}>
            {% empty %}
              <img src="{% static "images/blank_person.png" %}">
            {% endthumbnail %}
          </div>
          <div class="card-content">
            <a class="card-title" href="mailto:{{ profile.user.email }}">{{ profile }}</a>
              {% if profile.relationship_status == 1 %}
                <i class="material-icons icon-green">favorite</i>
              {% elif profile.relationship_status == 2 %}
                <i class="material-icons icon-red">favorite</i>
              {% else %}
                <i class="material-icons icon-gray">favorite</i>
              {% endif %}
            </a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock content %}

{% block footer_script %}
  <script>
      var sourceSwap = function () {
          var $this = $(this);
          var newSource = $this.data('alt-src');
          $this.data('alt-src', $this.attr('src'));
          $this.attr('src', newSource);
      };

      $(function () {
          $('img[data-alt-src]').each(function () {
              new Image().src = $(this).data('alt-src');
          }).hover(sourceSwap, sourceSwap);
      });
  </script>
{% endblock %}
