{% extends 'chemie/base.html' %}
{% load staticfiles %}
{% load material_form %}

{% block nav_header %}
  Bruker
{% endblock nav_header %}

{% block nav_sub_header %}
  Sett nytt passord
{% endblock nav_sub_header %}

{% block content %}
  <div class="row">
    <div class="col s12 m10">
      <div class="card">
        <form method='POST'>{% csrf_token %}
          <div class="card-content">
            {% form form=form %}
            {% endform %}
          </div>
          <div class="card-action">
            <div class="right-align">
              <button class="btn btn-primary pull-right" type="submit">Endre passord</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}