<!-- Klassekatalog side -->

{% extends "chemie/base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block nav_header %}
  Klassekatalog
{% endblock nav_header %}

{% block nav_sub_header %}
  Oversikt
{% endblock nav_sub_header %}

{% block extra_css %}
  <link href='{% static "css/detailview.css" %}' type="text/css" rel="stylesheet" media="screen,projection"/>
{% endblock %}

{% block extra_js %}
  <script src='{% static "js/hammer.min.js" %}' defer></script>
{% endblock %}

{% block content %}
  {% if perms.customprofile %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">menu</i>
      </a>
      <ul>
        <li>
          <a class="btn-floating blue" href='{% url "profile:memberships" %}'><i
              class="material-icons">edit</i></a>
          <a class="btn-floating mobile-fab-tip">Se medlemsoversikt</a>
        </li>
      </ul>
    </div>
  {% endif %}



  <div class="row">
      <div class="col s4 m4 l4 s6" style="display: flex;flex-direction: row;margin-right: 30px">
            <div style="margin-right: 10px">
        <a class='dropdown-trigger btn-large' href='#' data-target='dropdown1'
           >Klassetrinn</a>
        <ul id='dropdown1' class='dropdown-content'>
          {% for year_number, year_text in grades %}
            <li><a href='{% url "profile:yearbook-grade" year=year_number %}'>{{ year_text }}</a></li>
          {% endfor %}
        </ul>
            </div>

        {% if grade != grades.DONE %}
            <div>
            <a class='dropdown-trigger btn-large' href='#' data-target='dropdown3'
                >Spesialisering</a>
            <ul id = 'dropdown3' class='dropdown-content'>
              {% for spec_value, spec_text in spec %}
                  {% if spec_value == 1 %}
                    <li><a href='{% url "profile:yearbook-spec" year=grade spec=spec_value %}'>Alle </a></li>
                  {% else %}
                    <li><a href='{% url "profile:yearbook-spec" year=grade spec=spec_value %}'>{{ spec_text }}</a></li>
                  {% endif %}
              {% endfor %}
            </div>
        {% else %}
            <div style="margin-left:20px ">
                <form method='post' class="newPost">{% csrf_token %}
                  <a class='dropdown-trigger btn-large' href='#' data-target='dropdown2'
               >Sluttår</a>
                  <ul class="dropdown-content" id="dropdown2" style="max-height: 250px">
                    {% for end_year in end_years %}
                      <li>
                      <button class="newbtn" id="year-{{end_year}}" type="submit" name="{{ endYearForm.integer_field.html_name }}"
                              href="" value="{{ end_year}}">{{end_year}}</button>
                      </li>

                      {% endfor %}
                  </ul>
                </form>
            </div>
        {% endif %}
      </div>




      <div class="col s6 m6 l7 s12">
        <nav>
          <div class="nav-wrapper">
            <form method='post' class="newPost">{% csrf_token %}
              <div class="input-field">
                <input id="{{ search_form.search_field.id_for_label }}"
                       type="search" required name="{{ search_form.search_field.html_name }}"
                       value="{{ search_form.search_field.value|default:'' }}">
                <label for="{{ search_form.search_field.id_for_label }}" class="label-icon">
                  <i class="material-icons" style="line-height: 42px;">search</i></label>
              </div>
            </form>
          </div>
        </nav>
      </div>
  </div>




  <!-- Shows all the students which are seemingly put into three columns, but is really one long row -->
  <div class="row">
    {% for profile in profiles %}
      <div class="col s12 m4">
        <!-- When card is pressed, a detail view pops up. -->
        <div class="card">
          <!-- Showing the pictures. -->
          <div class="card-image">
            {% thumbnail profile.image_primary "412x551" crop="center" as primary %}
              <img src="{{ primary.url }}" data-field-id="#modal-{{ profile.pk }}"
                  {% thumbnail profile.image_secondary "412x551" crop="center" as secondary %}
                   data-alt-src="{{ secondary.url }}"
                  {% endthumbnail %}>
            {% empty %}
              <img src="{% static 'images/blank_avatar.png' %}" data-field-id="#modal-{{ profile.pk }}" >
            {% endthumbnail %}
          </div>

          <!-- The box under each picture -->
          <div class="card-content">
            <a class="card-title">{{ profile }}</a>
            {% if profile.relationship_status == 1 %}
              <i class="material-icons icon-green">favorite</i>
            {% elif profile.relationship_status == 2 %}
              <i class="material-icons icon-red">favorite</i>
            {% elif profile.relationship_status == 4 %}
              <i class="material-icons" style="color: #f9cf00;">favorite</i>
            {% else %}
              <i class="material-icons icon-gray">favorite</i>
            {% endif %}
          </div>
        </div>
      </div>

      <!-- Detail view in yearbook -->
      <div id="modal-{{ profile.pk }}" class="modal">

        <!-- All content in popup goes here -->
        <div class="modal-content">

          <div class="row">
            <!-- Picture in detail view -->
            <div class="center-align">
              <div class="col s12 m4 l4">
                  {% thumbnail profile.image_primary "400x680" crop="center" as primary %}
                      <img src="{{ primary.url }}" alt="" class="rcorners6 responsive-img z-depth-1"
                           href="#modal-{{ profile.pk }}" style="margin-top: 10px;">
                  {% empty %}
                      <img src="{% static 'images/blank_avatar.png' %}" alt="" class="rcorners6 responsive-img z-depth-1" style="margin-top: 10px;">
                  {% endthumbnail %}
              </div>
            </div>

            <!-- All text in view-->
            <div class="col s12 m8 l8">
              <div class="center-align">
                <h4 class="grey-text darken-4" style="margin-top: 70px;">{{ profile }}</h4>
                <p>Klassetrinn: {{ profile.get_nice_grade }}</p>
                <p>E-post: <a href="mailto:{{ profile.user.email }}">{{ profile.user.email }}</a></p>
                <p>Mobilnummer: {{ profile.phone_number }}</p>
                <p>Samlivsstatus: {{ profile.get_nice_relationship_status }}</p>
                {% if profile.specialization != 1 %} <!--Check if person has a specialization-->
                 <p> Spesialisering: {{profile.get_nice_specialization }}</p>
                {% endif %}
                <div class="row">
                  {% for medal in profile.medals.all %}
                    <img src="{{ medal.image.url }}" alt="{{ medal.title }}"
                         title="{{ medal.title }}" style="height:50px;width:auto;">
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Footer on popup. Contains closing button. -->
        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Lukk</a>
          <a href="mailto:{{ profile.user.email }}"
             class="modal-action modal-close waves-effect waves-green btn-flat">Send e-post</a>
        </div>
      </div>

    {% endfor %}
  </div>
  <style>

.popup-container {
  width: 400px;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.popup-header img {
  max-width: 100px;
  display: block;
  margin: 0 auto 10px;
}

.popup-header h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 700;
  letter-spacing: 0;
}

.subscription-options h3, .features h3 {
  font-size: 16px;
  margin-bottom: 10px;
}

.subscription-plans {
  /*display: flex;
  flex-direction: column;*/
  overflow: hidden;
  margin-bottom: 1.5rem;
}

.subscription-plans-inner{
    width: 100%;
    overflow: auto;
    height: 100%;
    padding-right: 15px;
    display: inline-flex; /* Arrange child items in a row */
    gap: 10px; /* Space between items */
    overflow: auto;
    scrollbar-width: none;
}

.plan {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 2px solid #ddd;
  border-radius: 8px;
  cursor: pointer;
  min-width: calc(66.6667% - 4px);
  max-width: calc(66.6667% - 4px);

}

.plan-details {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.plan input {
  display: none;
}

.plan input:checked + .plan-details{
  border-color: #f0c040;
}

input[type="radio"]:checked+label{
  border-color: #896707;
  border-width: 2px;
}

.features ul {
  list-style: none;
  padding: 0;
}

.features li {
  margin: 8px 0;
}

.gold-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(0deg, #ffffff, #ffe8a5);
  padding: 20px;
  margin: auto;
}

.gold-logo {
  width: 50px;
  margin-right: 10px; /* Spacing between the image and text */
}

.gold-text {
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #000;
  margin: 1rem;
}

.gold-mark{
  background: linear-gradient(15deg, #e7b019, #ffe8a5);
  border-radius: 10px;
  padding: 5px;
  transform: skew(-15deg);
}

.blah{
  transform: skew(15deg);
  margin-left: 2px;
  margin-right: 2px;
  font-size: 20px;
}

.parallelogram {
	width: 100px;
	height: 50px;
	transform: skew(-20deg);
	background: #555;
}

#modal-gull{
  background-color: #ffffff;
  border-radius: 1rem;
  scrollbar-width: none;
}

#gull-content{
  padding-top: 0;
}

.duration{
  font-weight: 700;
  font-size: 1rem;
  color: #000;

}

.popular{
  color: #896707;
}

.price{
  color:#000;
  font-weight: 700;
}

.invis{
  color:white;
}

.discount{
  color:#000;
  font-weight: 700;
}

.plan svg {
  display: none;
}

/* Show the SVG icon when the input is checked */
.sub-input:checked + .plan svg {
  display: inline-block; /* Makes the SVG visible */
}


.continue-btn{
  display: block;
  border-radius: 1.5rem;
  height:3rem;
  background: linear-gradient(to top right, #e6af16, #f7d472);
  color:black;
  text-align: center;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.2;
  margin-bottom: 1rem;
}

.continue-btn:hover{
  background: #e6af16;
}

  </style>
  <!-- Detail view in yearbook -->
  <div id="modal-gull" class="modal fade bd-example-modal-sm" tabindex="-1">

    <div class="gold-box">
      <img class="gold-logo" style="width: 30px;" type="image/jpg" src="{% static "images/gullogo.png" %}" alt="Logo"></img>
      <div class="gold-text">HC</div>
      <div class="gold-text gold-mark"><div class="blah">GULL</div></div>
    </div>
    <!-- All content in popup goes here -->
    <div class="modal-content" id="gull-content">


      <div class="popup-header">
      <h2>Se hvem som stalker deg og søk ubegrenset med HC Gul(l).</h2>
    </div>


      <div class="subscription-options">
        <h3 style="font-weight: 700;">Velg et abonnement</h3>
        <div class="subscription-plans">
          <div class="subscription-plans-inner">
            
          <input class="sub-input" type="radio" name="subscription" value="1m" id="1m">
          <label class="plan" for="1m">
            <div class="plan-details">
              <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 24px;">
                <div>
                  <div class="popular">Populær</div>
                  <div class="duration">1 måned</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#896707" class="bi bi-check" viewBox="0 0 16 16">
                  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                </svg>
              </div>
              <div style="display: flex; justify-content: space-between;">
                <span class="price">65,00  <span><img type="image/png" style="width:0.7rem" src="{% static "images/HC_coin.png" %}"></span>/uke</span>
                <span class="discount">Spar 51%</span>
              </div>
            </div>
          </label>
          <input class="sub-input" type="radio" name="subscription" value="1w" id="1w">
          <label class="plan" for="1w">
            <div class="plan-details">
              <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 24px;">
                <div>
                  <div class="invis">Populær</div>
                  <div class="duration">1 uke</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#896707" class="bi bi-check" viewBox="0 0 16 16">
                  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                </svg>
              </div>
              <div style="display: flex; justify-content: space-between;">
                <span class="price">157,50  <span><img type="image/png" style="width:0.7rem" src="{% static "images/HC_coin.png" %}"></span>/uke</span>
                <span class="discount"></span>
              </div>
            </div>
          </label>

          
          
          <input class="sub-input" type="radio" name="subscription" value="6m" id="6m" checked>

          <label class="plan" for="6m">
            <div class="plan-details">
              <div style="display: flex; justify-content: space-between; align-items: center; padding-bottom: 24px;">
                <div>
                  <div class="invis">Populær</div>
                  <div class="duration">6 måneder</div>
                </div>
                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#896707" class="bi bi-check" viewBox="0 0 16 16">
                  <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
                </svg>
              </div>
              <div style="display: flex; justify-content: space-between;">
                <span class="price">32,21  <span><img type="image/png" style="width:0.7rem" src="{% static "images/HC_coin.png" %}"></span>/uke</span>
                <span class="discount">Spar 76%</span>
              </div>
            </div>
          </label>
        </div>
      </div>
      </div>
    
      <div class="features">
        <div style="text-align: center; font-size: small;">Inkludert in HC Gul(l)</div>
        <ul>
          <li style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <div style="font-weight: 700;">Ubegrensede søk</div>
          </li>
          <li style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <div style="font-weight: 700;">Se hvem som søker deg opp</div>
          </li>
          <li style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <div style="font-weight: 700;">Prioritert kø for påmeldinger</div>
          </li>
          <li style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <div style="font-weight: 700;">1 ekstra stemme per valg</div>
          </li>
          <li style="display: flex; align-items: center;">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="black" class="bi bi-check" viewBox="0 0 16 16">
              <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425z"/>
            </svg>
            <div style="font-weight: 700;">Tilgang til premium sladder</div>
          </li>
        </ul>
      </div>
              <!-- Footer on popup. Contains closing button. -->
              <div style="  position: sticky;
              bottom: 0;
              background-color: white; display: block; text-align: left; font-size: small; padding-top: 1rem;padding-bottom: 1rem;">
              <p style="font-size: small;">
                Når du trykker på «fortsett», vil betalingen gjennomføres, og abonnementet ditt fornyes automatisk til samme pris og pakkelengde inntil du avbestiller via innstillingene. Du godkjenner samtidig våre 
                <a href="#">vilkår</a>.
              </p>
                <a  class="continue-btn" href="#!" class="modal-action modal-close waves-effect waves-green">Fortsett</a>
          
              </div>
    </div>

    </div>
                    

  </div>

  
   
  


{% endblock content %}

{% block footer_script %}
  <script>
      var sourceSwap = function () {
          var $this = $(this);
          var newSource = $this.data('alt-src');
          $this.data('alt-src', $this.attr('src'));
          $this.attr('src', newSource);
      };

      $(function () {
          $('img[data-alt-src]').each(function () {
              new Image().src = $(this).data('alt-src');
          }).hover(sourceSwap, sourceSwap);
      });

      // Functions for double tap (swap image) and tap/click (show modal)
      // https://codepen.io/jtangelder/pen/pBuIw
      $(document).ready(function () {
          $('.card-image').each(function () {
              var $this = $(this);
              var mc = new Hammer.Manager(this);

              // Tap recognizer with minimal 2 taps
              mc.add(new Hammer.Tap({event: 'double_tap', taps: 2}));

              // Single tap recognizer
              mc.add(new Hammer.Tap({event: 'single_tap'}));

              // we want to recognize this simulatenous, so a quadrupletap will be detected even while a tap has been recognized.
              mc.get('double_tap').recognizeWith('single_tap');
              // we only want to trigger a tap, when we don't have detected a doubletap
              mc.get('single_tap').requireFailure('double_tap');

              // Double tap swaps the images
              mc.on("double_tap", function (e) {
                  sourceSwap.call(e.srcEvent.target);
                  return false;
              });

              // Single tap calls the modal trigger
              mc.on("single_tap", function (e) {
                  id = e.srcEvent.target.getAttribute('data-field-id');
                  $(id).modal('open');
                  return false;
              });
          });
          $('.dropdown-trigger').dropdown();
          $('.modal').modal();
      });

    $(document).ready(function(){
      $("#modal-gull").modal('open');
    });
  </script>
{% endblock %}
