.Committee-width {
    width: 100%;
}

.Committee-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.Committee {
    width: 97%;
    overflow: hidden;
}

.Committee-image {
    width: 100%;
}

.Committee > h2 {
    font-weight: 600;
    margin-top: 0.2rem;
    margin-bottom: 0.5rem;
}

.Committee > p {
    margin-top: 0;
}

@media screen and (min-width: 600px) {
    .Committee-width {
        width: 31%;
    }
}