.Company-wrapper {
  display: flex;
  flex-flow: row wrap;
}

.Company {
  width: 48%;
  margin-right: 2%;
  margin-bottom: 2rem;
  overflow: hidden;
}

.Company-logo {
  width: 100%;
  overflow: hidden;
}

.Company-list {
  width: 65%;
  margin-right: 2%;
}