.Company-list {
    width: 100%;
    margin-right: 0;
}

.Company-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.Company {
    width: 100%;
    margin-bottom: 2rem;
    overflow: hidden;
}

.Company-logo {
    width: 100%;
    overflow: hidden;
}

@media screen and (min-width: 600px) {
    .Company-list {
        width: 65%;
        margin-right: 2%;
    }

    .Company {
        width: 48%;
        margin-right: 2%;
    }
}