.Company-list {
    width: 100%;
    margin-right: 0;
}

.Company-wrapper {
    display: flex;
    flex-flow: row wrap;
}

.Company {
    margin-bottom: 2rem;
}

.Company-logo-wrapper {
    width: 100%;
    height: 0;
    padding-bottom: 67%;
    overflow: hidden;
    background-color: #fff;
}

.Company-logo {
    width: 100%;
    padding: auto;
    display: block;
}

@media screen and (min-width: 600px) {
    .Company-list {
        width: 100%;
        margin-right: 2%;
    }

    .Company {
        width: 15rem;
        margin-right: 1.5rem;
    }
}

@media screen and (min-width: 768px) {
    .Company-list {
        width: 100%;
        margin-right: 2%;
    }

    .Company {
        width: 14rem;
        margin-right: 0.7rem;
    }
}

@media screen and (min-width: 992px) {
    .Company-list {
        width: 67%;
        margin-right: 2%;
    }

    .Company {
        width: 48%;
        margin-right: 2%;
    }
}

@media screen and (min-width: 1200px) {
    .Company-list {
        width: 67%;
        margin-right: 2%;
    }

    .Company {
        width: 48%;
        margin-right: 2%;
    }
}