{% extends "chemie/base.html" %}
{% load material_form %}

{% block nav_header %}
  Nyheter
{% endblock nav_header %}

{% block nav_sub_header %}
    {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'create' %}
             Opprett
        {% elif url_name == 'edit_article' %}
             Rediger
        {% endif %}
    {% endwith %}
{% endblock nav_sub_header %}

{% block content %}
  <body>
  <p></p>
  <form class="newPost" enctype="multipart/form-data" method='POST'>{% csrf_token %}
    {{ post.media }}
    {{ post.as_p }}
    {% with url_name=request.resolver_match.url_name %}
        {% if url_name == 'create' %}
             <input class="btn" type='submit' value='Lag artikkelen!' />
        {% elif url_name == 'edit_article' %}
             <input class="btn" type='submit' value='Lagre artikkelen!' />
        {% endif %}
    {% endwith %}
    <!-- <input class="btn" type='submit' value='Lag artikkelen!' /> <!-- onclick="Materialize.toast('Takk for innslaget!', 4000)" -->
  </form>
{% endblock content %}