{% extends "chemie/base.html" %}
{% load material_form %}

{% block nav_header %}
  Nyheter
{% endblock nav_header %}

{% block nav_sub_header %}
  Opprett
{% endblock nav_sub_header %}

{% block content %}
<body>
    <p></p>
    <form class="newPost" enctype="multipart/form-data" method='POST'>{% csrf_token %}
        {{ post.media }}
        {{ post.as_p }}
      <input class ="btn" type ='submit' value = 'Lag artikkelen!' onclick="Materialize.toast('Takk for innslaget!', 4000)"/>
    </form>
{% endblock content %}