{% load thumbnail %}
<div class="row">
  {% for post in posts %}
    <div class="col s12 m10 l6">
      <div class="card medium">
        <div class="card-image">
          <a href="{{ post.get_absolute_url }}">
            {% thumbnail post.image "630x400" crop="center" as im %}
              <img src="{{ im.url }}">
            {% endthumbnail %}
          </a>
          <a class="card-title card-event-title" href="{{ post.get_absolute_url }}">
            <h5>{{ post.title }}</h5>
          </a>
        </div>
        <div class="card-content">
          {{ post.content|safe }}
        </div>
        <div class="card-action center">
          <a href="{{ post.get_absolute_url }}" class="">Til artikkelen</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
