{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load static %}

<!--Main page-->
{% block nav_header %}
  MatLab
{% endblock nav_header %}


{% block nav_sub_header %}
Finn en oppskrift!
{% endblock nav_sub_header %}

{% block content %}

<h4>Våre Oppskrifter</h4>
  {% for oppskrift in Recipes %}
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        {% thumbnail oppskrift.image "630x400" crop="center" as im %}
            <img src="{{ im.url }}">
            {% empty %}
            <p>Ikke noe bilde</p>
          {% endthumbnail %}
        <p class="flow-text truncate">
          {{ oppskrift.title }} 
        </p>
      </div>
      <div class="card-content">
        <li>Antatt pris: {{oppskrift.expected_price}} kr</li>
        <li> Tidsbruk: {{oppskrift.time}} min</li>
        <li> Porsjoner: {{oppskrift.portions}}</li>

      </div>
      <div class="card-action">
        <a href="{% url 'matlab:oppskriftbeskrivelse' oppskrift.pk %}">Trykk her for å se oppskrift</a>
      </div>
    </div>
  </div>
</div>
  

{% endfor %}

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large">
    <i class="large material-icons">edit</i>
  </a>
  <ul>
      <li>
        <a class="btn-floating blue" href="{% url 'matlab:lageoppskrift' %}">
          <i class="material-icons">add</i>
          <a class="btn-floating mobile-fab-tip" href="{% url 'matlab:lageoppskrift' %}">Legg til ny Oppskrift</a>
        </a></li>
  </ul>
</div>    
{% endblock content %}

