{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load static %}

<!--Main page-->
{% block nav_header %}
  MatLab
{% endblock nav_header %}


{% block nav_sub_header %}
Finn en oppskrift!
{% endblock nav_sub_header %}

{% block content %}

<h4>Våre Oppskrifter</h4>
  {% for oppskrift in Recipes %}
<div class="row">
  <div class="col s12 m7">
    <div class="card">
      <div class="card-image">
        <img src="https://www.certifiedangusbeef.com/_next/image?url=https%3A%2F%2Fappetizing-cactus-7139e93734.media.strapiapp.com%2FClassic_Smashed_Burger_111c4bfdb7.jpeg&w=3840&q=75">
        <span class="card-title">{{oppskrift.name}}</span>
      </div>
      <div class="card-content">
        <li>Antatt pris: {{oppskrift.price}} kr</li>
        <li> Tidsbruk: {{oppskrift.time}} min</li>
      </div>
      <div class="card-action">
        <a href="#">Trykk her for å se oppskrift</a>
      </div>
    </div>
  </div>
</div>
  
{% endfor %}

<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
  <a class="btn-floating btn-large">
    <i class="large material-icons">edit</i>
  </a>
  <ul>
      <li>
        <a class="btn-floating blue" href="{% url 'matlab:lageoppskrift' %}">
          <i class="material-icons">add</i>
          <a class="btn-floating mobile-fab-tip" href="{% url 'matlab:lageoppskrift' %}">Legg til ny Oppskrift</a>
        </a></li>
  </ul>
</div>    
{% endblock content %}

