{% extends "chemie/base.html" %}
{% load material_form %}

{% block nav_header %}
  Oppskrift
{% endblock nav_header %}

{% block nav_sub_header %}
  Opprett
{% endblock nav_sub_header %}

{# Extra javascript that provides Norwegian locale for time and datepickers#}
{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/translations/no_NO.js" defer>
  </script>
{% endblock %}

{% block content %}
{# Breadcrumbs #}
{% block breadcrumbs %}
  <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "matlab:index" %}" class="breadcrumb">Matlab</a>
    <a href="{% url "matlab:lageoppskrift" %}" class="breadcrumb">Opprett oppskrift</a>
  </div>
{% endblock %}


<div class="card">
  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="card-content">
      {% form form=lageoppskrift %}
      {% endform %}
      <div class="card-action">
        <div class="right-align">
          <input class="btn btn-primary pull-right" type='submit' value='Lagre oppskrift!'/>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock content %}