{% extends "chemie/cgp_base.html" %}
{% load staticfiles%}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
    <div>
        <div>
            Er du sikker på at du vil slette {{ object }}?
        </div>
    <div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="choice" value="delete">
            <button type="submit">Ja</button>
        </form>
    </div>
    <div>
        <a href="../">
            <button> Nei </button>
        </a>
    </div>

    </div>


{% endblock content %}