{% extends "chemie/cgp_base.html" %}
{% load staticfiles%}

{% block breadcrumbs %}
{% endblock breadcrumbs %}

{% block content %}
    <div class="outerdiv">
        <hr class="whiteline">
        <div style="text-align: center">
        <h1> {{ type }} </h1>
        </div>
        <hr class="whiteline">

    <form class="submitform" method="post" enctype="multipart/form-data">
        <div class=formdiv>
        {% csrf_token %}
        {{ form }}
        {{ formmembers }}
            </div>

        <div class="formbtndiv">

         {% if object %}
        <a href="delete"><button class="formbtn" type="button">Slett</button></a>
            {% endif %}
        <button class="formbtn" type="submit"> Lagre </button>
            </div>
    </form>
    <hr class="whiteline">
    </div>

{% endblock content %}