{% extends "chemie/base.html" %}
{% load staticfiles %}
{% block nav_header %}
    Oops!
{% endblock nav_header %}
{% block nav_sub_header %}
    Feil ved lasting av side
{% endblock nav_sub_header %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l10">
            <h3 class="heading">Beklager!</h3>
            <p class="flow-text">
                Vi finner ikke siden. <b><a href="{% url "frontpage:kontakt" %}">Kontakt oss</a></b> dersom lenken burde finnes.
            </p>
            <div class="row">
                <div class="col l4 m6 s12"><br><img class="responsive-img" src="{{ bilde.picture.url }}"></div>
            </div>
        </div>
    </div>
{% endblock content %}