{% load static %}
{% load thumbnail %}
{% load chemie_tags %}
{% load cache %}

<!DOCTYPE html>
<html lang="no">

<head>
  <!--Specific for Base_elections-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!--From Base template-->
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
  <title>Høiskolens Chemikerforening</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicons/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "favicons/manifest.json" %}">
  <link rel="mask-icon" href="{% static "favicons/safari-pinned-tab.svg" %}" color="#5bbad5">

  <!-- CSS from base -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/IBM-type/0.5.3/css/ibm-type.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  {% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/style_cgp.css' %}" type="text/css" media="screen,projection">
  {% endblock %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="{% static "js/timepicker.js" %}"></script>
  <script src="{% static "js/init.js" %}" defer></script>

  {% block extra_js %}
  {% endblock %}

  {% block style %}
  {% endblock style %}

  {% block header %}
  {% endblock header %}
  <meta name="theme-color" content="#3C91E6">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#3C91E6">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
</head>


<body class="bodybackground">
  <div class="divbackground" id="contentbox">
        <div style="width: 100%;    margin-top: -10px; margin-bottom: -15px; display: flex; flex-direction: row-reverse;">
        <button type="button" class="btn btn-seccondary" style="padding: 0px;margin: 0px;" data-toggle="modal" data-target="#instruksModal"
        style="background-color: transparent">
        <a style="color: white"><i class="material-icons">
            help_outline
          </i></a>
      </button>
            </div>
  {% block breadcrumbs %}
  {% endblock breadcrumbs %}

    {% if messages %}
    <div class="row" style="padding-bottom: 1rem;">
      {% for message in messages %}
      <div class="col s12 m6 l6">
        <div class="card bg-{{ message.level_tag }}">
          <div class="card-body">
            <span class="card-title black-text valign-wrapper" style="clear: both;">

              <h5><i class="material-icons black-text"
                  style="padding-right: 10px;">priority_high</i>{{ message.extra_tags }}</h5>
            </span>
            <p class="flow-text black-text">{{ message }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    {% endif %}


    {% block content %}
    {% endblock content %}

  {% block footer_script %}

  {% endblock footer_script %}

<div id="confetti-wrapper">
</div>
  <script>
        confetti_wrapper = document.getElementById("confetti-wrapper");
        contentbox = document.getElementsByTagName("body")[0];
        confetti_wrapper.style.height = `${contentbox.offsetHeight}px`;
        confetti_wrapper.style.position = "absolute";
        confetti_wrapper.style.top = 0;
        confetti_wrapper.style.left = 0;
        confetti_wrapper.style.width = `${contentbox.offsetWidth}px`;
        confetti_wrapper.style.overflow = "hidden";
        confetti_wrapper.style.zIndex = -200;

  </script>
  <script src="{% static "js/cgp.js" %}"></script>
  </div>
</body>

</html>