{% extends "chemie/base.html" %}
{% load cache %}

{% block nav_header %}
  Forsiden
{% endblock nav_header %}

{% block nav_sub_header %}
  Velkommen!
{% endblock nav_sub_header %}

{% block content %}
  {% if perms.events or perms.news %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.events.add_event %}
          <li>
            <a class="btn-floating blue" href="{% url "events:create_social" %}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Opprett arrangement</a>
          </li>
        {% endif %}
        {% if perms.events.add_bedpres %}
          <li>
            <a class="btn-floating blue" href="{% url "events:create_bedpres" %}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Opprett bedpres</a>
          </li>
        {% endif %}
        {% if perms.news.add_article %}
          <li>
            <a class="btn-floating blue" href="{% url "news:create" %}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Opprett nyhet</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <!-- News -->
  <div class="row">
    <div class="col s12 push-m6 m6 push-l7 l5">
    <!-- Events -->
      <h3 class="heading">Arrangementer</h3>
      {% if social or bedpres %}
        {% include 'events/frontpage_list_events.html' with object_list=object_list %}
      {% endif %}
    </div>
    <div class="col s12 pull-m6 m6 pull-l5 l7">
      <!-- News -->
      {% if posts %}
        {% cache 60 active_news %}
          <h3 class="heading">Nyheter</h3>
          {% include 'news/frontpage_news.html' with posts=posts %}
        {% endcache %}
      {% endif %}
    </div>
  </div>

{% endblock content %}
