{% extends "chemie/base.html" %}
{% load cache %}
{% load static %}

{% block extra_css %}
<!--<link rel="stylesheet" href="{% static "css/textrain.css" %}">-->
  {% endblock %}

{% block nav_header %}
  Forsiden
{% endblock nav_header %}

{% block nav_sub_header %}
  Velkommen!
{% endblock nav_sub_header %}

{% block content %}

  <style>
    .gradient-border {
      position: relative;
      display: inline-block;
      border-radius: 0px;
      background: linear-gradient(45deg, #f6df90, #ddab06, #f6df90);
    }

    .gradient-border::before {
      content: "";
      position: absolute;
      inset: 0;
      background: black; /*linear-gradient(45deg, #f6df90, #ddab06, #f6df90);; /* Switch between white and black background  */
      margin: 3px; /* Adjust for border thickness */
      border-radius: inherit;

    }

    @font-face {
      font-family: 'Amoresa';
      src: url( "{% static 'font/jubileum/Amoresa.otf' %}" ) format('opentype');
      font-weight: normal;
      font-style: normal;
    }


    .gradient-text {
      background: linear-gradient(45deg, #f6df90, #ddab06, #f6df90);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-family: 'Amoresa';
      position: relative;
      z-index: 1;
    }

    .gradient-text-small {
      letter-spacing: 3px;
      font-size: 1.5rem;
    }

    .gradient-text-large{
      letter-spacing: 3px;
      font-size: 2.5rem;
    }



    @media (min-width: 600px) and (max-width: 1300px) { /*770px*/
      .gradient-text{
        font-size: 1.1rem;
        letter-spacing: 2px;
      }
    }
    @media (min-width: 600px) and (max-width: 1300px) { /*770px*/
    .gradient-text-large{
        font-size: 1.9rem;
        letter-spacing: 2px;
      }
    }

  </style>
  {% if perms.events or perms.news %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.events.add_event %}
          <li>
            <a class="btn-floating blue" href="{% url "events:create_social" %}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Opprett arrangement</a>
          </li>
        {% endif %}
        {% if perms.events.add_bedpres %}
          <li>
            <a class="btn-floating blue" href="{% url "events:create_bedpres" %}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Opprett karriere arrangement</a>
          </li>
        {% endif %}
        {% if perms.news.add_article %}
          <li>
            <a class="btn-floating blue" href="{% url "news:create" %}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Opprett nyhet</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <!-- News -->
  <div class="row">
    <div class="col s12 push-m6 m6 push-l7 l5">

    <!-- Events -->
      <h3 class="heading">Arrangementer</h3>
    <!-- COUNTDOWN -->
    <div class="col coffee-box" id="Countdown" style="width: 100%; margin-top: 0px;padding:6px;background:black">
        <div class="gradient-border" style="width: 100%;height: 100%;">
        <div class="row valign-wrapper" style="width:100%; margin:0px; height: 100%;">
            <div class="col s12 m12 l12" style="margin: 0px; padding: 0px;">
                <div class="until__text gradient-text gradient-text-small" style="font-weight: bold; margin:0px;padding-top: 3px;padding-bottom: 3px;">00</div>
            </div>
        </div>
      </div>
    </div>

      {% if social or bedpres %}
        {% include 'events/frontpage_list_events.html' with object_list=object_list %}
      {% else %}
        <p class="card center" style="background-color: var(--card-bg); padding: 0.2rem">Det er ingen aktive arrangementer.</p>
      {% endif %}

      <!--Kontaktskjema-->
      <div class="col coffee-box" style="width: 100%;">
            <a href="/s/schyggesiden/" style="width:100%">
                <div class="row" style="width:100%; height: 100%; margin:0px">
                    <div class="col s4 m3 l3 valign-wrapper" style="display: flex;justify-content: center">
                        <img type="image/png" src="{% static "images/contactForm.png" %}" style="-webkit-filter: grayscale(100%); filter: grayscale(100%); max-height:5rem; margin-top: 1rem">
                    </div>
                    <div class="col s8 m9 l9">
                        <p style="margin:auto; margin-top: 1rem; color: black">
                            Har du noe du vil fortelle styret? <br>Klikk her!</br>
                        </p>
                    </div>
                </div>
            </a>
      </div>

      <!-- Coffee -->
      <div class="col coffee-box" style="width: 100%;">
           <div class="row" style="width:100%; margin: 0">
               <div class="col s4 m3 l3 valign-wrapper" style="display: flex;justify-content: center; height: 100%">
                    <img type="image/png" src="{% static "images/caffeine.png" %}" style="max-height:5rem; max-width:5rem">
               </div>
               <div class="col s8 m9 l9">
                    <p style="margin: auto; margin-top: 1rem" >
                      Kaffeknappen sist trykket: <br>
                      {{coffee}}
                    </p>
               </div>
           </div>
      </div>
     <!--Links to video about office -->

      <!-- Latest sugepodden episode-->
        <div class="col coffee-box" style="width: 100%;">
            <a href={{ latest_podcast }} style="width:100%">
                <div class="row" style="width:100%; height: 100%; margin:0px">
                   <div class="col s4 m3 l3 valign-wrapper" style="display: flex;justify-content: center; height: 100%">
                        <img type="image/png" src="{% static "images/sugepodden_logo_liten_svart_hvitkant.png" %}" style="max-height:5rem; max-width:5rem">
                   </div>
                   <div class="col s8 m9 l9">
                        <p style="margin: auto; margin-top: 1rem; color:black", >
                            Klikk her for nyeste episode av sugepodden!
                        </p>
                   </div>
                </div>
            </a>
        </div>
    </div>
        <div class="col s12 pull-m6 m6 pull-l5 l7">
          <!-- News -->
          {% if posts %}
            {% cache 60 active_news %}
              <h3 class="heading">Nyheter</h3>
              {% include 'news/frontpage_news.html' with posts=posts %}
            {% endcache %}
          {% endif %}
        </div>

  </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js"></script>

{% endblock content %}


{% block footer_js_files %}
    <!---<script type="text/javascript" src="{% static "js/textrain.js" %}"></script>--->
    <!--<script src="{% static "js/makeItRain.js" %}"></script>-->

    <!-- COUNTDOWN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js"></script>
    <script>
    function calc_duration(now, target) {
        if (target-now<0){
            return null
        }

        let working_time = (target-now)
        const millisec = working_time%1000;
        working_time = (working_time-millisec)/1000;
        const sec = working_time%60;
        working_time = (working_time-sec)/60;
        const min = working_time%60;
        working_time = (working_time-min)/60;
        const hours = working_time%24;
        const days = (working_time-hours)/24;
        return {millisec:millisec,sec: sec, min:min, hours:hours, days:days}
    }

    function dayCountdown(element, targetString){
        const targetDate = dayjs(targetString);

        setInterval(() => {
            const now = dayjs();
            const duration= calc_duration(now, targetDate);

            if (!duration) {
                let el =  element.querySelector(".until__text")
                el.textContent = `Jubileumsblot!`;
                //element.querySelector(".until__text").style.fontSize= "2.5rem";
                el.classList.remove('gradient-text-small'); 
                el.classList.add('gradient-text-large'); 
                return;
            } else {

                // Calculate days, hours, minutes, and seconds
                const days = duration.days;
                const hours = duration.hours;
                const minutes = duration.min;
                const seconds = duration.sec;

    element.querySelector(".until__text").innerHTML =
        days + "d " + hours.toString().padStart(2, "0") + "t " +
        minutes.toString().padStart(2, "0") + "m " +
        seconds.toString().padStart(2, "0") + "s " +
        "<br> igjen til Jubileumsblot!";

            }
        }, 1000); // Update every 1 second

    }

    dayCountdown(document.getElementById("Countdown"), "2025-03-08 19:00");
    </script>
  {% endblock footer_js_files %}