{% extends "chemie/base.html" %}
{% load cache %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static "css/textrain.css" %}">
  {% endblock %}

{% block nav_header %}
  Forsiden
{% endblock nav_header %}

{% block nav_sub_header %}
  Velkommen!
{% endblock nav_sub_header %}

{% block content %}
  {% if perms.events or perms.news %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.events.add_event %}
          <li>
            <a class="btn-floating blue" href="{% url "events:create_social" %}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Opprett arrangement</a>
          </li>
        {% endif %}
        {% if perms.events.add_bedpres %}
          <li>
            <a class="btn-floating blue" href="{% url "events:create_bedpres" %}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Opprett karriere arrangement</a>
          </li>
        {% endif %}
        {% if perms.news.add_article %}
          <li>
            <a class="btn-floating blue" href="{% url "news:create" %}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Opprett nyhet</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}

  <!-- News -->
  <div class="row">
    <div class="col s12 push-m6 m6 push-l7 l5">
        <!--countdown-->
        <div class="col coffee-box" id = "Countdown" style="width: 100%;">
            <div class="row" style="width:100%">
                <div class="col s4 m3 l3" style="margin: 0px; padding: 0px">
                    <div class="days__until" style = "color: #F9CF00; font-size: 5rem; margin-left: 20px">00</div>
                </div>
                <div class="col s8 m9 l9">
                    <p style="margin: auto; margin-top: 0.5rem; margin-bottom: 1rem; color:black; font-size: 30px; text-align: center ", >
                        Dager til vinterblotet!
                    </p>
                </div>
            </div>

            </div>
    <!-- Events -->
      <h3 class="heading">Arrangementer</h3>
      {% if social or bedpres %}
        {% include 'events/frontpage_list_events.html' with object_list=object_list %}
      {% else %}
        <p class="card center" style="background-color: var(--card-bg); padding: 0.2rem">Det er ingen aktive arrangementer.</p>
      {% endif %}
      <!--Kontaktskjema-->

      <div class="col coffee-box" style="width: 100%;">
            <a href="/s/schyggesiden/" style="width:100%">
                <div class="row" style="width:100%">
                    <div class="col s4 m3 l3">
                        <img type="image/png" src="{% static "images/contactForm.png" %}" style="-webkit-filter: grayscale(100%); filter: grayscale(100%); max-height:5rem; margin-top: 1rem">
                    </div>
                    <div class="col s8 m9 l9">
                        <p style="margin:auto; margin-top: 1rem; color: black">
                            Har du noe du vil fortelle styret? <br>Klikk her!</br>
                        </p>
                    </div>
                </div>
            </a>
      </div>

      <!-- Coffee -->
      <div class="col coffee-box" style="width: 100%;">
           <div class="row" style="width:100%">
               <div class="col s4 m3 l3">
                    <img type="image/png" src="{% static "images/caffeine.png" %}" style=" max-height:5rem; margin-top: 1rem;">
               </div>
               <div class="col s8 m9 l9">
                    <p style="margin: auto; margin-top: 1rem" >
                      Kaffeknappen sist trykket: <br>
                      {{coffee}}
                    </p>
               </div>
           </div>
      </div>
     <!--Links to video about office -->

      <!-- Latest sugepodden episode-->
        <div class="col coffee-box" style="width: 100%;">
            <a href={{ latest_podcast }} style="width:100%">
                <div class="row" style="width:100%">
                   <div class="col s4 m3 l3">
                        <img type="image/png" src="{% static "images/sugepodden_logo_liten_svart_hvitkant.png" %}" style="max-height:5rem; margin-top: 1rem;">
                   </div>
                   <div class="col s8 m9 l9">
                        <p style="margin: auto; margin-top: 1rem; color:black", >
                            Klikk her for nyeste episode av sugepodden!
                        </p>
                   </div>
                </div>
            </a>
        </div>
    </div>
        <div class="col s12 pull-m6 m6 pull-l5 l7">
          <!-- News -->
          {% if posts %}
            {% cache 60 active_news %}
              <h3 class="heading">Nyheter</h3>
              {% include 'news/frontpage_news.html' with posts=posts %}
            {% endcache %}
          {% endif %}
        </div>

  </div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/dayjs.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.11.10/plugin/duration.min.js"></script>
    <script src="{% static "js/countdown.js" %}"></script>
{% endblock content %}


{% block footer_js_files %}
    <script type="text/javascript" src="{% static "js/textrain.js" %}"></script>
  {% endblock footer_js_files %}