<!DOCTYPE html>
<html lang="no">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>HC - Fadderperioden</title>

  {% load staticfiles %}

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/IBM-type/0.5.3/css/ibm-type.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
  <link href="{% static "css/landing-style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- JS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js" defer></script>
  <script src="{% static "js/timepicker.js" %}"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}" defer></script>

  <style>
    {% block style %}
    {% endblock style %}
  </style>

</head>
<body>
  <nav class="black" role="navigation">
    <div class="nav-wrapper container yellow-text">
      <a id="logo-container" href="https://chemie.no" class="brand-logo yellow-text" style="font-weight: 300">HC</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="https://chemie.no" class="yellow-text" style="font-weight: 300">Til forsiden</a></li>
      </ul>
    </div>
  </nav>

  <div class="container" style="margin: 0; padding: 0; max-width: 100vw; width: 100vw;">
    <div class="vimeo" style="padding:56.25% 0 0 0;position:relative;">
      <iframe class="vimeo" src="https://player.vimeo.com/video/231355360?color=FFE900" style="position:absolute;top:0;left:0;width:100%;height:100%;" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
    <script class="vimeo" src="https://player.vimeo.com/api/player.js"></script>
  </div>

  <div class="row" style="margin-bottom: 0;">
    <div class="col s12 m12 l6 push-l6" style="padding: 0 0 0 0; margin: 0 0 0 0;">
      <div class="container" style="vertical-align: bottom">
        <br><br>
        <br><br>
          <h3 class="header center" style="font-weight: 600">Fadderperioden 2018</h3>
          <div class="row center">
            <h5 class="header col s12" style="font-weight: 400">Velkommen til fadderperioden med Høiskolens
                Chemikerforening!</h5>
            <br><br>
            <h5 class="header col s12" style="font-weight: 400">Starter du på Industriell Kjemi- og Bioteknologi til
                høsten? Vi i fadderkomiteen har laget en egen Facebookgruppe for de nye studentene:</h5>
          </div>
          <div class="row center">
            <a href="https://www.facebook.com/groups/585269618511588/" id="fb-button" class="btn-large waves-effect waves-light yellow black-text"
            style="font-family: 'Neue Haas Grotesk Display Pro'; font-weight: 500">Bli Med</a>
          </div>
        <br><br>
        <br><br>
      </div>
    </div>
    <div class="col s12 m12 l6 pull-l6" style="padding: 0 0 0 0; margin: 0 0 0 0;">
      <div class="landing-container">
        <img class="landing-image" id="landing-page1" type="image/jpg" src="{% static "images/landing-page/background1.jpg" %}">
      </div>
    </div>
  </div>

  <div class="row" style="margin: 0;">
    <div class="col s12 m12 l6">
      <div class="container">
        <br><br>
        <br><br>
          <h3 class="header center" style="font-weight: 600">Høiskolens Chemikerforening</h3>
          <div class="row center">
            <h5 class="header col s12" style="font-weight: 400">
              Høiskolens Chemikerforening (HC) er linjeforeningen for studenter ved Sivilingeniørstudiet i Industriell
              Kjemi- og Bioteknologi ved NTNU.
            </h5>
            <h5 class="header col s12" style="font-weight: 400">
              Linjeforeningen vår er en av de mest aktive på universitetet, og i løpet av året arrangerer HC
              fester, turer, musikaloppsetning, konkurranser, cuper, bedriftspresentasjoner og mer.
            </h5>

          </div>
          <div class="row center">
            <a href="https://chemie.no/s/om/" id="about-button" class="btn-large waves-effect waves-light yellow black-text"
            style="font-weight: 500">Les mer</a>
          </div>
        <br><br>
        <br><br>
      </div>
    </div>
    <div class="col s12 m12 l6" style="padding: 0 0 0 0;">
      <div class="landing-container">
        <img class="landing-image" id="landing-page2" type="image/jpg" src="{% static "images/landing-page/background2.jpg" %}">
      </div>
    </div>
  </div>

  <div class="row" style="padding: 0 0 0 0; margin: 0 0 0 0;">
    <div class="col s12 m12 l6 push-l6" style="padding: 0 0 0 0; margin: 0 0 0 0;">
      <div class="container">
        <br><br>
        <br><br>
          <h3 class="header center" style="font-weight: 600">Hva skjer i fadderperioden?</h3>
        <div class="col s12">
          <h5>Uke 33</h5>
          <ul class="tabs">
            <li class="tab"><a href="#mandag1">Mandag</a></li>
            <li class="tab"><a href="#tirsdag1">Tirsdag</a></li>
            <li class="tab"><a href="#onsdag1">Onsdag</a></li>
            <li class="tab"><a href="#torsdag1">Torsdag</a></li>
            <li class="tab"><a href="#fredag1">Fredag</a></li>
            <li class="tab"><a href="#lordag1">Lørdag</a></li>
            <li class="tab"><a href="#sondag1">Søndag</a></li>
          </ul>
          </div>
        <div id="mandag1" class="col s12"><b>Mandag 13. august</b><br>
          <b>10:00-15:00<a href="https://www.ntnu.no/student/kom-i-gang-dag"> Kom-i-gang-dag</a></b> &ndash; Gløshaguen <br>
          <b>18:00-21:00</b> Bli kjent kveld &ndash; Vrimle utenfor R1
        </div>
        <div id="tirsdag1" class="col s12"><b>Tirsdag 14. august</b><br>
          <b>14:00-16:00</b> Registrering på skolen &ndash; R7/Kjemivrimle<br>
          <b>18:00-21:00</b> Middag i faddergruppene &ndash; I faddergruppene<br>
          <b>21:00-02:00</b> Immatrikuleringsfest &ndash; Studentersamfundet
        </div>
        <div id="onsdag1" class="col s12"><b>Onsdag 15. august</b><br>
          <b>17:30-21:00</b> Bumperballz &ndash; Dødens dal
        </div>
        <div id="torsdag1" class="col s12"><b>Torsdag 16. august</b><br>
          <b>18:00-22:00</b> HippiepHaest &ndash; Hybler/Kjeller<br>
          <b>22:00-</b> Badkom HippiepHaest &ndash; Nattergalen
        </div>
        <div id="fredag1" class="col s12"><b>Fredag 17. august</b><br>
          <b>18:00-21:00</b> Byvandring &ndash; Møtes på torget
        </div>
        <div id="lordag1" class="col s12"><b>Lørdag 18. august</b><br>
          <b>11:00-14:00</b> Frokostvors &ndash; I faddergruppene<br>
          <b>14:00-</b> TogapHaest &ndash; Høgskoleparken
        </div>
        <div id="sondag1" class="col s12"><b>Søndag 19. august</b><br>
          <b>13:00-16:00</b> Uteaktiviteter &ndash; Oppmøte ved festningen<br>
          <b>16:00-</b>Middag i faddegruppene &ndash; I faddergruppene
        </div>
        <div class="col s12">
          <h5>Uke 34</h5>
          <ul class="tabs">
            <li class="tab"><a href="#mandag2">Mandag</a></li>
            <li class="tab"><a href="#tirsdag2">Tirsdag</a></li>
            <li class="tab"><a href="#onsdag2">Onsdag</a></li>
            <li class="tab"><a href="#torsdag2">Torsdag</a></li>
            <li class="tab"><a href="#fredag2">Fredag</a></li>
            <li class="tab"><a href="#lordag2">Lørdag</a></li>
            <li class="tab"><a href="#sondag2">Søndag</a></li>
          </ul>
          </div>
        <div id="mandag2" class="col s12"><b>Mandag 20. august</b><br>
          <b>17:00-19:00</b> Hybelvors &ndash; I faddergruppene<br>
          <b>19:00-23:00</b> Hybel til hybel &ndash; Rundt om i Trondheim<br>
          <b>23:00-</b> Rave &ndash; Skiboli
        </div>
        <div id="tirsdag2" class="col s12"><b>Tirsdag 21. august</b><br>
          <b>16:00-18:00</b> Intro til Chemieshow &ndash; Grupperom
        </div>
        <div id="onsdag2" class="col s12"><b>Onsdag 22. august</b><br>
          <b>14:00(?)</b> Foredrag med Tekna &ndash; Gløshaugen<br>
          <b>18:15-</b> Labekskursjon &ndash; Auditorium R7
        </div>
        <div id="torsdag2" class="col s12"><b>Torsdag 23. august</b><br>
          <b>18:00-22:00</b> Bar til bar &ndash; Møtes på torget<br>
          <b>22:00-</b> Rask EtterpHaest &ndash; Studio 26
        </div>
        <div id="fredag2" class="col s12"><b>Fredag 24. august</b><br>
          <b>17:00-21:00</b> Chemieshow &ndash; Auditorium R7
        </div>
        <div id="lordag2" class="col s12"><b>Lørdag 25. august</b><br>
          <b>10:00-12:00</b> Frokostvors &ndash; I faddegruppene<br>
          <b>12:00-</b> Kjellerekskursjon &ndash; Oppmøte utenfor HC-kontoret<br>
          <b>18:00-</b> pHaest &ndash; Freidig Klubbhus
        </div>
        <div id="sondag2" class="col s12"><b>Søndag 26. august</b>
          <b>17:00-20:30</b> AlchymistapHten med avsluttning &ndash; Oppmøte utenfor R1
        </div>
        &nbsp;
      <br><br>
      <br><br>
      </div>
    </div>
    <div class="col s12 m12 l6 pull-l6" style="padding: 0 0 0 0; margin: 0 0 0 0;">
      <div class="landing-container">
        <img class="landing-image" id="landing-page3" type="image/jpg" src="{% static "images/landing-page/background3.jpg" %}">
      </div>
    </div>
  </div>

  <div class="row" style="margin-bottom: 0;">
    <div class="col s12 m12 l6" style="padding: 0 0 0 0; margin: 0 0 0 0;">
      <div class="container">
        <br><br>
          <h3 class="header center" style="font-weight: 600">Kontakt Oss</h3>
          <div class="row center">
            <div class="col s6 m6 l6">
              <img class="profile-image" id="thea_bakken" type="image/jpg" src="{% static "images/landing-page/thea.jpg" %}">
              <h6 class="header col s12" style="font-weight: 600">Thea Isabell Bakken</h6>
              <div class="text-size">+47&nbsp;930&nbsp;40&nbsp;399<br>
                <a href="mailto:theaib@stud.ntnu.no" class="black-text text-size">theaib@stud.ntnu.no</a>
              </div>
            </div>
            <div class="col s6 m6 l6">
              <img class="profile-image" id="olav_sandvik" type="image/jpg" src="{% static "images/landing-page/olav.jpg" %}">
              <h6 class="header col s12" style="font-weight: 600">Olav Sandvik</h6>
              <div class="text-size">+47&nbsp;475&nbsp;03&nbsp;808<br>
                <a href="mailto:olavws@stud.ntnu.no" class="black-text text-size">olavws@stud.ntnu.no</a>
              </div>
            </div>
          </div>
          <div class="row center">
            <div class="col s6 m6 l6">
              <img class="profile-image" id="elise_yndesdal" type="image/jpg" src="{% static "images/landing-page/elise.jpg" %}">
              <h6 class="header col s12" style="font-weight: 600">Elise Yndesdal</h6>
              <div class="text-size">+47&nbsp;986&nbsp;68&nbsp;977<br>
                <a href="mailto:elise.yndesdal@gmail.com" class="black-text text-size" style="font-size: 0.9em">elise.yndesdal@gmail.com</a>
              </div>
            </div>
            <div class="col s6 m6 l6">
              <img class="profile-image" id="logo" type="image/png" src="{% static "images/logo.png" %}" style="max-width: 58%;">
              <h6 class="header col s12" style="font-weight: 600">HC</h6>
              <div>
                <a href="mailto:fadderkom@hc.ntnu.no" class="black-text text-size">fadderkom@hc.ntnu.no</a><br>
                <a href="mailto:styret@hc.ntnu.no" class="black-text text-size">styret@hc.ntnu.no</a>
              </div>
            </div>
          </div>
        <br><br>
      </div>
    </div>
    <div class="col s12 m12 l6" style="padding: 0 0 0 0; margin: 0 0 0 0;">
      <div class="landing-container">
        <img class="landing-image" id="landing-page4" type="image/jpg" src="{% static "images/landing-page/background4.jpg" %}">
      </div>
    </div>
  </div>

  <footer class="page-footer grey lighten-4">
  <div class="container">
    <div class="row">

      <!-- About -->
      <div class="col s12 m6 l4">
        <h5 class="black-text" style="font-weight: 600">Om oss</h5>
        <p class="grey-text text-darken-2">
          Linjeforeningen for Industriell Kjemi og Bioteknologi ved NTNU Trondheim.
        </p>

        <a href="https://github.com/HoiskolensChemikerforening/website">
          <img src="{% static "images/github-black.svg" %}" alt="Github"
               style="display: inline-block;vertical-align: middle;">
          <span style="display: inline-block; margin-left: 10px;" class="grey-text text-darken-2">Github</span>
        </a>
      </div>

      <!-- Media/Social -->
      <div class="col s12 m6 l4">
        <h5 class="black-text" style="font-weight: 600">Sosialt</h5>
        <div class="valign-wrapper">
          <a href="https://www.facebook.com/HoiskolensChemikerforening/?fref=ts" target="_blank">
            <svg style="width:24px;height:24px" viewBox="0 0 24 24">
              <path fill="#616161"
                    d="M17,2V2H17V6H15C14.31,6 14,6.81 14,7.5V10H14L17,10V14H14V22H10V14H7V10H10V6A4,4 0 0,1 14,2H17Z"></path>
            </svg>
          </a>
          <a href="https://www.facebook.com/HoiskolensChemikerforening/?fref=ts" target="_blank">
            <p class="left-align grey-text text-darken-2" style="margin-left: 10px">Facebook</p>
          </a>
        </div>
        <div class="valign-wrapper">
          <a href="mailto:styret@hc.ntnu.no">
            <i class="material-icons valign left grey-text text-darken-2">email</i>
          </a>
          <a href="mailto:styret@hc.ntnu.no">
            <p class="left-align grey-text text-darken-2">Epost</p>
          </a>
        </div>
        <a class="white-text grey-text text-darken-2" href="{% url 'frontpage:kontakt' %}">Kontakt oss!</a>
      </div>

      <!-- Sponsors -->
    </div>
  </div>

  <!-- Copyright, credits -->
  <div class="footer-copyright">
    <div class="container">
      <a class="grey-text text-darken-2 right" href="mailto:webkom@hc.ntnu.no">Webansvarlig: Webkom</a>
    </div>
  </div>
</footer>

{% block footer_js_files %}
{% endblock footer_js_files %}

{% block footer_script %}

{% endblock footer_script %}


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="{% static "js/materialize.js" %}"></script>
  <script src="{% static "js/init.js" %}"></script>

  </body>
</html>
