{% extends "chemie/base.html" %}

{% block nav_header %}
  Bokskap
{% endblock nav_header %}

{% block nav_sub_header %}
  Reservasjon
{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
  {% load staticfiles %}

  <div class="container">
    <div class="row">
      <div class="col s12 m12 l10">
        <div class="card">
          <div class="card-content">
            <p class="flow-text">Fyll ut feltene under for å reservere bokskapet. Du må klikke på linken i
              eposten du mottar
              for å bekrefte registrasjonen. Takk!</p>
            <form method='POST'>{% csrf_token %}
              {% form %}
                {% part form.first_name prefix %}<i class="material-icons prefix">account_circle</i>
                {% endpart %}
                {% part form.last_name prefix %}<i class="material-icons prefix">account_circle</i>
                {% endpart %}
                {% part form.email prefix %}<i class="material-icons prefix">email</i>{% endpart %}
              {% endform %}
              <div class="row">
                {{ form.captcha }}
              </div>
              <button type="submit" name="submit" class="btn">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}