{% extends "events/social/social_base.html" %}
{% load material_form %}

{% block nav_sub_header %}
  Opprett
{% endblock nav_sub_header %}

{# Extra javascript that provides Norwegian locale for time and datepickers#}
{% block extra_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/pickadate.js/3.5.6/compressed/translations/no_NO.js" defer>
  </script>
{% endblock %}

{# Breadcrumbs #}
{% block breadcrumbs %}
  <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "events:index_social" %}" class="breadcrumb">Sosiale arrangementer</a>
    <a href="{% url "events:create_social" %}" class="breadcrumb">Opprett</a>
  </div>
{% endblock %}

{# Main block #}
{% block maincontent %}

<p class="flow-text">Her lager du de beste arrangementene på Gløs!</p>
<div class="card">
  <form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <div class="card-content">
      {% form form=form %}
      {% endform %}

      <div class="card-action">
        <div class="right-align">
          <input class="btn btn-primary pull-right" type='submit' value='Lagre arrangementet!'/>
        </div>
      </div>
    </div>
  </form>
</div>
{% endblock maincontent %}

{# Extra javascript to initiaize the time and datepickers #}
{% block footer_script %}
  <script type="text/javascript">
      $(document).ready(function () {
        /* Customize datepicker */
        var date_elems = document.querySelectorAll('.datepicker');
        var date_instances = M.Datepicker.init(
          date_elems,
          {
            'showClearBtn': false,
            'autoClose': true,
            'format': 'yyyy-mm-dd',
            'firstDay': 1,
            'yearRange': 1,
            'i18n': {
              'cancel': 'Avbryt',
              'months': [
                'Januar',
                'Februar',
                'Mars',
                'April',
                'Mai',
                'Juni',
                'Juli',
                'August',
                'September',
                'Oktober',
                'November',
                'Desember'
              ],
              'monthsShort': [
                'Jan',
                'Feb',
                'Mar',
                'Apr',
                'Mai',
                'Jun',
                'Jul',
                'Aug',
                'Sep',
                'Okt',
                'Nov',
                'Des'
              ],
              'weekdays': [
                'Søndag',
                'Mandag',
                'Tirsdag',
                'Onsdag',
                'Torsdag',
                'Fredag',
                'Lørdag',
              ],
              'weekdaysShort': [
                'Søn',
                'Man',
                'Tir',
                'Ons',
                'Tor',
                'Fre',
                'Lør',
              ],
              'weekdaysAbbrev': [
                'S',
                'M',
                'T',
                'O',
                'T',
                'F',
                'L',
              ]
            }
          }
          );

          /* Customize timepicker */
          var time_elems = document.querySelectorAll('.timepicker');
          var time_instances = M.Timepicker.init(
            time_elems,
            {
              'twelveHour': false,
              'autoClose': true,
              'showClearBtn': true,
              'i18n': {
                'cancel': 'Avbryt',
                'clear': 'Nullstill',
                'done': 'OK'
              }
            }
            );
          $('select').formSelect();
      });
  </script>
{% endblock footer_script %}
