{% extends "events/social/social_base.html" %}
{% load material_form %}
{% load staticfiles %}
{% load static %}

{% block header %}
  <style>
    span.select2-container {
      width: inherit !important;
      display: block;
    }

    label {
      display: block;
    }

    .select2-container--default.select2-container--focus {
      height: auto;
    }
  </style>
{% endblock header %}

{% block nav_sub_header %}
  Påmelding
{% endblock nav_sub_header %}

{% block breadcrumbs %}
  <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "events:index_social" %}" class="breadcrumb">Sosiale arrangementer</a>
    <a href="{{ object.get_absolute_url }}" class="breadcrumb">{{ object.title }}</a>
    <a class="breadcrumb">Din påmelding</a>
  </div>
{% endblock %}

{# Include extra permissions that provide object specific URLs #}
{% block permissions %}
  {% include "events/social/permissions_object.html" %}
{% endblock %}

{# Main block #}
{% block maincontent %}
  {% include 'events/registration_header.html' with event=object %}

  <!-- Registration status message -->
  <h5>
    {% if registration.status == 1 %}
      Du er påmeldt.
    {% elif registration.status == 2 %}
      Du er på ventelisten og er nr. {{ queue_position }} i køen
    {% elif not allowed_grade %}
      Det er ikke åpent for ditt klassetrinn, men vi har notert din interesse.<br>
      Du blir påmeldt automatisk og tilsendt en e-post dersom dette endres.
    {% endif %}
    {% if not allowed_group %}
      Du er ikke kohortsjef. Hvis du ønsker å delta på dette arrangementet,
      må du be kohortsjefen din melde deg på.
    {% endif %}
  </h5>

  <!-- Deregister form -->
  <div class="row">
    <div class="col">
      {% if forms.deregister %}
      <form class="deregister" method="POST">{% csrf_token %}
        {% form form=forms.deregister %}{% endform %}
        <button name='action' value='deregister' type="submit"
                class="waves-effect waves-light btn btn-primary red">Meld meg av
        </button>
      </form>
      {% else %}
        Avmeldingsfristen har passert.
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <!-- Edit registration form -->
      {% if forms.edit %}
        <form class="edit" method="POST">{% csrf_token %}
          {% form form=forms.edit %}{% endform %}
          <button name='action' value='edit' type="submit"
                  class="waves-effect waves-light btn btn-primary blue">Endre påmelding
          </button>
        </form>
      {% endif %}
    </div>
  </div>

{% endblock maincontent %}
{% block footer_script %}
{{ formset.form.media }}
{% endblock footer_script %}
