{% extends "events/social/social_base.html" %}
{% load thumbnail %}
{% load staticfiles %}
{% load event_extras %}

{% block nav_sub_header %}
    Detaljer
{% endblock nav_sub_header %}

{# Include extra permissions that provide object specific URLs #}
{% block permissions %}
    {% include "events/social/permissions_object.html" %}
{% endblock %}

{% block breadcrumbs %}
    <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
        <a href="{% url "events:index_social" %}" class="breadcrumb">Sosiale arrangementer</a>
        <a class="breadcrumb">{{ social.title }}</a>
    </div>
{% endblock %}


{% block maincontent %}

    <div class="row">
        <p class="col s12 m12 l12">
        <h1 class="heading">{{ social.title }}</h1>
    </div>

    <div class="row">
        <div class="col l7 m12">
            {% thumbnail social.image "1600" crop="center" as im %}
                <img class="responsive-img materialboxed" src="{{ im.url }}">
            {% endthumbnail %}
        </div>

        <div class="col l5 m12 s12">
            <div class="card card-event">
                <div class="card-content">

                    <!-- General info -->
                    <div class="section">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">location_on</i>
                            <h5 class="left-align">Hvor</h5>
                        </div>
                        <p>{{ social.location }}</p>
                    </div>
                    <div class="section">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">access_time</i>
                            <h5 class="left-align">Når</h5>
                        </div>
                        <p>{{ social.date|date:"j. F - H:i" }}</p>
                    </div>
                    <div class="divider"></div>

                <div class="section">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">contacts</i>
                            <h5 class="left-align">Ansvarlig komité</h5>
                        </div>
                        <p>{{ social.committee }}</p>
                    </div>
                <div class="section">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">edit</i>
                            <h5 class="left-align">Forfatter</h5>
                        </div>
                        <p>{{ social.author.get_full_name }}</p>
                    </div>
                <div class="divider"></div>

                    <!-- Prices -->
                    <div class="section">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">attach_money</i>
                            <h5 class="left-align">Pris</h5>
                        </div>
                        <div>
                            <p class="left valign"><b>Medlem:</b></p>
                            <p class="right valign">{{ social.price_member|price }}</p>
                        </div>
                        <br>
                        <div>
                            <p class="left valign"><b>Ikke-medlem: </b></p>
                            <p class="right valign">{{ social.price_not_member|price }}</p>
                        </div>
                        <br>
                        {% if social.companion %}
                            <div>
                                <p class="left valign"><b>Eksternt følge: </b></p>
                                <p class="right valign">{{ social.price_companion|price }}</p>
                            </div>
                            <br>
                        {% endif %}
                    </div>
                    <div class="divider"></div>

                    <!-- Total and remaining slots bar -->
                    <div class="section">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">people_outline</i>
                            <h5 class="left-align">Plasser</h5>
                        </div>
                        {% if social.sluts == 0 %}
                            <div>
                                <p class="left valign">Arrangementet er åpent for alle!</p>
                            </div>
                        {% else %}
                            <div>
                                <p class="left valign"><b>Påmeldte:</b></p>
                                <p class="right valign">{{ social.registered_users|default_if_none:0 }}
                                    av {{ social.sluts }}</p>
                            </div>
                            <div class="progress">
                                <div class="determinate" style="width: {{ social.percentage_filled }}%"></div>
                            </div>
                        {% endif %}
                        <br>
                    </div>
                </div>
                <div class="divider"></div>
            </div>

        </div>
    </div>

    <!-- Button for signup page -->
    <a class="waves-effect waves-light btn" href="{{ social.get_absolute_registration_url }}">Til påmelding</a>

    <!-- Desription info -->
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <h5>Beskrivelse:</h5>
                    <p class="flow-text"> {{ social.description|linebreaksbr }} </p>
                </div>
            </div>
        </div>

        <!-- Payment info -->
        <div class="col s12 m12 l12">
            {% if social.price_member or social.price_companion or social.price_companion %}
                <div class="card">
                    <div class="card-content">
                        <h5>Betalingsinformasjon:</h5>
                        <p class="flow-text"> {{ social.payment_information|linebreaksbr }} </p>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>

    <!-- List of attending users -->
    {% if attendees %}
        <div class="row">
            <div class="col">
                <h2>Påmeldte</h2>
                {% include "events/attendees.html" with user_list=attendees %}
            </div>
        </div>
    {% endif %}

    <!-- List of users on waiting list -->
    {% if waiting_list %}
        <div class="row">
            <div class="col">
                <h2>Venteliste</h2>
                {% include "events/waiting_list.html" with user_list=waiting_list %}
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block footer_js_files %}
    <script src="{% static "events/transpose_table.js" %}"></script>
{% endblock footer_js_files %}