{% extends "events/social/social_base.html" %}
{% load material_form %}
{% load staticfiles %}
{% load static %}

{% block header %}
  <style>
    span.select2-container {
      width: inherit !important;
      display: block;
    }

    label {
      display: block;
    }

    .select2-container--default.select2-container--focus {
      height: auto;
    }
  </style>
{% endblock header %}


{% block content %}

  <div class="col s12 m8 l8">
    <div class="row">
      <div class="card">
      <!-- Edit committee members -->
        <div class="card-content">
          <p class="flow-text">Har kan man legge til og fjerne gruppemedlemmer.
            Kontakt Webkom for endring av epostlister.</p>
          <form class="form" method='POST'>{% csrf_token %}
            {{ formset.management_form }}
            {% for form in formset %}
              <div class="row">
                <div class="col s12 l8">

                  {{ form.as_p }}

                </div>
              </div>
            {% endfor %}
            <br>
            <input class="btn" type='submit' value='Lagre!'/>
          </form>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
{% block footer_script %}
{{ formset.form.media }}
{% endblock footer_script %}
