{% extends "events/social/social_base.html" %}

{% block nav_sub_header %}
<div class="hide-on-small-only">
  Oversikt
</div>
{% endblock nav_sub_header %}

{% if my_authored_events %}
    {% block permissions %}
        <li>
            <a class="btn-floating blue" href="{% url 'events:admin_social' %}"><i class="material-icons">explore</i></a>
            <a class="btn-floating mobile-fab-tip" href="{% url 'events:admin_social' %}">Egne arrangement</a>
        </li>
    {% endblock %}
{% endif %}
{# Main block #}
{% block maincontent %}
  <div class="row">
    <div class="col s12">
      <ul class="tabs z-depth-1">
        <li class="tab col s4">
            <a class="active" href="#futureEvents">
                <span class="hide-on-med-and-down">Kommende sosiale arrangementer</span>
                <span class="hide-on-large-only">Kommende</span>
            </a>
        </li>
        <li class="tab col s4">
            <a href="#myEvents">
                <span class="hide-on-med-and-down">Mine festligheter</span>
                <span class="hide-on-large-only">Mine</span>
            </a>
        </li>
        <li class="tab col s4">
            <a target="_self" href="{% url "events:past_social" %}">
                <span class="hide-on-med-and-down">Tidligere sosiale arrangementer</span>
                <span class="hide-on-large-only">Tidligere</span>
            </a>
        </li>
      </ul>
      <div id="futureEvents" class="col s12">
        {% include "events/list_events.html" with object_list=events %}
        {% if not events %}
          <p class="flow-text">Det er ingen aktive sosiale arrangementer nå. Finn på noe kult da vel!</p>
        {% endif %}
      </div>
      <div id="myEvents" class="col s12">
        {% if user.is_authenticated %}
          <h3 >Påmeldte arrangement</h3>
                {% include "events/list_events.html" with object_list=my_events %}
                {% if not my_events %}
                    <p class="flow-text">Du er ikke påmeldt noen sosiale arrangementer. Finn på noe sprell!</p>
                 {% endif %}
                {% if my_waiting_events %}
                    <h4>Venteliste</h4>
                        {% include "events/list_events.html" with object_list=my_waiting_queue type="Waiting" %}
                {% endif %}
            <h3>Mine tidligere arrangementer</h3>
                {% include "events/list_events.html" with object_list=my_past_events %}

        {% else %}
          <p class="flow-text">Vennligst <a href="{% url "login" %}">logg inn</a> for å se dine aktive sosiale arrangementer.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}



{% if not my_events %}
            <p class="flow-text">Du er ikke påmeldt noen sosiale arrangementer. Finn på noe sprell!</p>
{% endif %}