{% extends "chemie/base.html" %}

{% block content %}
{% load staticfiles %}
<style>
.all_avatars {
  margin-left: 300px;
  position: relative;
  clear: left;
}
.avatar {
  margin: 10px;
  text-align: center;
  font-size: 12px;
  float: left;
}
</style>


{% for year_number, year_text in grades %}
    {{ year_number }} / {{ year_text }}
{% endfor %}

# TODO: Figure out dimensions first! Then use: http://sorl-thumbnail.readthedocs.io/en/latest/operation.html
<div class = 'all_avatars'>
  {% for profile in profiles %}
  <div class = 'avatar'>
    <img src='{% static profile.image.url %}' alt='Profilbilde' style='width:180px; height:270px;'>
    <br> {{ profile.first_name }} {{ profile.last_name }}
  </div>
</div>
{% endfor %}
{% endblock content %}
