{% extends "chemie/base.html" %}

{% block content %}
{% load staticfiles %}
<style>
.all_avatars {
  position: relative;
}
.avatar {
  float: left;
}

</style>

<div class='klassetrinn'>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container">
          <a class="brand-logo"></a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
              {% for year_number, year_text in grades %}
            <li><a href="/klassekatalog/{{ year_number }}">{{ year_text }}</a></li>
            {% endfor %}
          </ul>
          <ul id="yearbook-mobile" class="side-nav">
               {% for year_number, year_text in grades %}
            <li><a href="/klassekatalog/{{ year_number }}">{{ year_text }}</a></li>
            {% endfor %}
          </ul>
          <a href="#" data-activates="yearbook-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
</div>




  <div class="row">
       {% for profile in profiles %}
          <div class="col s10 m4">
            <div class="card">
              <div class="card-image">
                  <img src="/media/{{profile.image_primary}}">
              </div>
              <div class="card-content">
                  <span class="card-title">{{ profile }}
                      {%if profile.relationship_status == 1%}
                      <i class="material-icons icon-green">favorite</i>
                      {%elif profile.relationship_status == 2%}
                      <i class="material-icons icon-red">favorite</i>
                        {%else%}
                        <i class="large material-icons icon-gray">favorite</i>
                      {%endif%}
                  </span>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>

{% endblock content %}
