{% extends "chemie/base.html" %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/electofood.css' %}" type="text/css" media="screen,projection">
{% endblock %}

{% block nav_header %}
  Valgomat
{% endblock nav_header %}

{% block nav_sub_header %}

{% endblock nav_sub_header %}

{% load material_form %}
{% block content %}
<div>
    <div>
        {% for electionform in electionforms %}
            <div class="card">
                <div class="card-body">
                    {{ electionform }}
                </div>
            </div>
        {% endfor %}
    </div>
    <h4>Slik fungerer Valgomaten</h4>
    <p>
        HCs valgomat hjelper deg å finne vervet som passer best til deg!
        Husk at en valgomat ikke er en fasit, men ett av flere råd.
        Du bestemmer!
    </p>
    {% for committee in  committees%}
        <div>{{ committee }}</div>
    {% endfor %}
</div>

{% endblock content %}
