{% extends "chemie/base.html" %}
{% load static %}

{% block nav_header %}
  Valgomat
{% endblock nav_header %}

{% block nav_sub_header %}
  {% if committee %}{{ committee }}{% endif %}
{% endblock nav_sub_header %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/electofood.css' %}" type="text/css" media="screen,projection">
{% endblock  %}

{% load material_form %}
{% block content %}

<div>
    <form method="post">
    {% csrf_token %}
    <div>
    {% for question in questions %}
        <div class="card">
            <div class="card-body cardstyle">
            <div class="secondary-title">Medlemsmøte med valg høst 2023 {% if committee %}({{ committee }}){% endif %}</div>
                <div class="question">{{ question}}</div>
        <div class="radio-container svelte-ev4lou">
        {% for value in values %}
                <label class="svelte-ev4lou" for="id_answer_{{ question.id }}_{{ value.0 }}">
                    <span class="input-wrapper svelte-ev4lou">
                        <input
                                type="radio"
                                name="{{ question.id }}"
                                value="{{ value.0 }}"
                                required id="id_answer_{{ question.id }}_{{ value.0 }}"
                                {% if answer_dict %}{% if answer_dict|get_item:question.id == value.0%} checked {% endif %} {% endif %}
                        >
                    </span>
                    <span>
                        {{ value.1 }}
                    </span>

                </label>

        {% endfor %}

        </div>
        <div slot="navigation">
        <div class="container-btn"><button class="btn btn-light btn-block"><span class="container-btn">tilbake</span></button></div>
        <div class="container-btn"><button class="btn btn-light btn-block"><span class="container-btn">neste</span></button></div>
        </div>
        </div>
        </div>
    {% endfor %}
    </div>

    <input type="submit" value="Save">
    </form>

</div>

{% endblock content %}
