{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load static %}


{% block nav_header %}
  Villsvinene
{% endblock nav_header %}


{% block nav_sub_header %}
Grill
{% endblock nav_sub_header %}




{% block content %}
<h4>Våre villsviner</h4>
{% for svin in Villsvin %}
<div>
 <!-- villsvin er definert som Villsvin.objects.all() i views.py-->
    {{svin.name}}, {{svin.age}}
    {% for sykdom in svin.disease.all %}
    <li>{{sykdom.navn}}; {{sykdom.life_expectancy}} år</li>
    {% endfor %}
   
    <ul>
        {% for pølse in villsvin.pols_set.all %}
            <li>{{ pølse }}</li>
        {% endfor %}
        </ul>
</div>


{% endfor %}


{% endblock content %}
