{% extends "shop/base_shop.html" %}
{% load thumbnail %}
{% load static %}
{% load shop_extras %}

{% block nav_header %}
Busstider & Værmelding
{% endblock nav_header %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/style_buss.css' %}" type="text/css" media="screen,projection">
{% endblock style %}

{% block content %}
<script type="text/javascript">
    // The dictionary is the equivalent shopping cart
    //Finner NSR:Quay:XXXX på; https://stoppested.entur.org/?stopPlaceId=NSR:StopPlace:44085 , NSR:StopPlace:44085 er busstoppet "Gløshaugen", men Quay skiller fra/mot sentrum
    const GLOSHAUGEN_MS = "NSR:Quay:75708"
    const GLOSHAUGEN_FS = "NSR:Quay:75707"
    const HESTEHAGEN_MS = "NSR:Quay:71204" //Mot sentrum
    const HESTEHAGEN_FS = "NSR:Quay:102719" //Fra sentrum
    const HOISKOLERINGEN_MS = "NSR:Quay:71939"
    const HOISKOLERINGEN_FS = "NSR:Quay:71940"
</script>

<!-- Display items as cards -->
{% load thumbnail %}
<div class="column">
    <h2 style="margin: 5px;">Gløshaugen</h4>
    <div class="row" id="Gloshaugen">
        <div class="column" style="margin: 10px;">
            <h4>Mot sentrum</h4>
            <div id="GLOS_MS"></div>
        </div>
        <div class="column" style="margin: 10px;">
            <h4>Fra sentrum</h4>
            <div id="GLOS_FS"></div>
        </div>
    </div>
    <h2 style="margin: 5px;">Høiskoleringen</h4>
    <div class="row" id="Hoiskoleringen">
        <div class="column" style="margin: 10px;">
            <h4>Mot sentrum</h4>
            <div id="HSR_MS"></div>
        </div>
        <div class="column" style="margin: 10px;">
            <h4>Fra sentrum</h4>
            <div id="HSR_FS"></div>
        </div>
    </div>
    <h2 style="margin: 5px;">Hesthagen</h4>
    <div class="row" id="Hesthagen">
        <div class="column" style="margin: 10px;">
            <h4>Mot sentrum</h4>
            <div id="HH_MS"></div>
        </div>
        <div class="column" style="margin: 10px;">
            <h4>Fra sentrum</h4>
            <div id="HH_FS"></div>
        </div>
    </div>
</div>

    {% if perms.buss.see_buss %}


    {% endif %}
    {% endblock content %}

  {% block footer_script %}
    <script src="{% static 'js/buss.js' %}"></script>
  {% endblock footer_script %}
</div>