{% extends 'chemie/base.html' %}
{% load material_form %}
{% load thumbnail %}
{% load static %}

{% block nav_header %}
    Submit din sykdom
{% endblock nav_header %}

{% block nav_sub_header %}
    Instanse av sykdommer
{% endblock nav_sub_header %}


{% block content %}
<form class="new_object" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    {% form form=form %}

    {% endform %}

    <input class="btn" type="submit" value="Gjør dette"/>
</form>
{% endblock content %}

{% block footer_script %}
{{ formset.form.media}}
{% endblock footer_script %}