<!DOCTYPE html>
<html lang="no">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container" style="width: 60%; background-color:#eee; margin:10px; padding:20px;">
     <form method="POST" enctype="multipart/form-data">{% csrf_token %}
         {{ form.as_p }}
         <br>
         <button class="btn btn-success" type="submit">LEGG TIL!</button>
         <br>
     </form>
</div>

</body>
</html>