{% extends "corporate/base.html" %}
{% load thumbnail %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
      <li class="breadcrumb-item ">
        <a href="{% url "corporate:index" %}" style="color:#edcd2f">Bedriftssider</a>
      </li>
      <li class="breadcrumb-item ">
        <a href="{% url "corporate:company_list" %}" style="color:#edcd2f">Bedrifter</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Detaljer</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block content %}


  <div class="container">
    <div class="row align-items-center" style="margin-top: 2rem;margin-bottom: 2rem">
      <div class="col-sm-12 col-md-2">
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="container">
          <br><br>
          <h1> {{ company.name }}</h1>
          <div><img src="{{ company.picture.url }}" class="img-fluid"></div>
          <br>
          <p><b>
            Her kan det stå en ingress.
          </b></p>
          <p>
            {{ company.company }}
          </p>
          <br><br><br><br><br>
        </div>
      </div>
      <div class="col-sm-12 col-md-3">
        <div class="card">
          <img src="{{ company.logo.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">
              <hr>
              Her kan vi skrive mer info.
              <hr>
              Eier(e):
              <hr>
              Grunnlagt:
              <hr>
              Holder til:
              <hr>
              Aktuelle linjer:
              <hr>
              Funfacts:
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
