{% extends "corporate/base.html" %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
      <li class="breadcrumb-item ">
        <a href="{% url "corporate:index" %}" style="color:#edcd2f">Bedriftssider</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Bedrifter</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block content %}

  <div class="container">
    <div class="row align-items-center"
         style="margin-top: 2rem;margin-bottom: 2rem;margin-left: -5rem;margin-right: -15rem">
      <div class="col-sm-12 col-md-7 col-12">
        <div class="container">
          <br><br>
          <div class="row">
            <div class="col center">
              <h1>Bedrifter</h1>
            </div>
            <div class="col">
              <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                  Spesialiseringsretning
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" onclick="filterCompanies('')">Alle</a>
                  <a class="dropdown-item" onclick="filterCompanies('Bioteknologi')">Bioteknologi</a>
                  <a class="dropdown-item" onclick="filterCompanies('Organisk kjemi')">Organisk kjemi</a>
                  <a class="dropdown-item" onclick="filterCompanies('Anvendt teoretisk kjemi')">Anvendt teoretisk kjemi</a>
                  <a class="dropdown-item" onclick="filterCompanies('Analytisk kjemi')">Analytisk kjemi</a>
                  <a class="dropdown-item" onclick="filterCompanies('Kjemisk prosessteknologi')">Kjemisk prosessteknologi</a>
                  <a class="dropdown-item" onclick="filterCompanies('Materialkjemi og energiteknologi')">Materialkjemi og energiteknologi</a>
                </div>
              </div>
            </div>
            <div class="col">
              <a class="btn btn-secondary" href="{% url "corporate:company_create" %}">
                Legg til ny bedrift
              </a>
            </div>
          </div>
        </div>
        <p>
          Gjennom Industrikomitéen har studenter og næringsliv en ypperlig mulighet til å holde kontakt.
          loooooooooooooooooooooooooooooooool
        </p>
      </div>
    </div>

    <div class="row">
      {% for company in companies %}
        <div class="filterDiv {{ company.specializations }}"
             style="width: 22rem; height: 20rem; padding: 1.0rem;">
          <div class="card medium">
            <div class="card-image">
              <a href="{% url "corporate:company_detail" company.id %}" class="stretched-link">
                <img src="{{ company.logo.url }}" class="card-img-top" style="max-height: 250px; object-fit: cover;">
              </a>
              <a class="card-title card-event-title" href="{% url "corporate:company_detail" company.id %}">
                <h5 style="font-size: 1.34rem;">{{ company.name }}</h5>
              </a>
            </div>
            <div class="card-content">
              <p class="flow-text truncate">
                {{ company.description }}
              </p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock content %}

{% block footer_script %}
  <script>

      filterCompanies = function (specialization) {
          let cards = document.getElementsByClassName("filterDiv");
          for (let i = 0; i < cards.length; i++) {
              let className = cards[i].className;
              if (!className.includes(specialization)) {
                  cards[i].style.display = "none";
              } else {
                  cards[i].style.display = "block";
              }
          }

          let dropdown = document.getElementById("dropdownMenuButton");
          if (specialization) {
              dropdown.innerHTML = specialization;
          } else {
              dropdown.innerHTML = "Spesialiseringsretning";
          }
      }
  </script>
{% endblock footer_script %}
