{% extends "corporate/base.html" %}

{% block style %}
{% endblock style %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
      <li class="breadcrumb-item ">
        <a href="{% url "corporate:index" %}" style="color:#edcd2f">Bedriftssider</a>
      </li>
      <li class="breadcrumb-item ">
        <a href="{% url "corporate:company_list" %}" style="color:#edcd2f">Bedrifter</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Opprett ny bedrift</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block content %}

  <div class="container" style="width: 60%; background-color:#eee; margin:10px; padding:20px;">
    <form method="POST" enctype="multipart/form-data">{% csrf_token %}
      {{ form.as_p }}
      <br>
      <button class="btn btn-success" type="submit">LEGG TIL!</button>
      <br>
    </form>
  </div>

{% endblock content %}
