{% block content %}

<div class="row">
  <div class="col s6 m6 l4">
    <div class="card" style="margin:10px; max-width:25rem;">
      <div class="card-header">
        <h4>{{ company.name }}</h4>
      </div>
      <div class="card-body">
        <a href="#">
          {% thumbnail company.logo "200x200" crop="center" as im %}
            <img src="{{ im.url }}">
          {% endthumbnail %}
        </a>
        <p>{{ company.description }}</p>
        {{ company.specializations }}
        <ul>
          {% for linje in company.specializations %}
            <li>{{ linje }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
