{% extends "corporate/base.html" %}
{% load static %}

{% block content %}
  <div style="height: 767px; padding-top: 200px; margin-bottom: 70px; background-position: bottom; background-image: url('{% static "images/test.png" %}')">
    <div class="container-fluid">
      <div class="row">
        <div class="col-1 col-md-1"></div>
        <div class="col-10 col-md-5">
          <h2 style="font-family: 'Piazzolla', serif; font-weight:900;">
            <strong>Høiskolens Chemikerforenings</strong>
          </h2>
          <h1 style="font-size: 100px; font-family: 'Piazzolla', serif; font-weight:900;">
            <strong>Bedriftskontakt</strong></h1>
        </div>
        <div class="col-11 offset-1 col-md-4">
          <img src="{{ indkom.image.url }}" alt="..." style="margin-top: 100px; max-width: 75vw;" width="100%">
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid" style="margin-bottom: 160px;">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-10 col-xl-5">
        <h3 style="font-weight: 700; font-size: 35px; margin-bottom: 25px;">Industrikomiteen</h3>
        <p style="font-size: 18px; margin-bottom: 50px;">
          Denne siden administreres av Industrikomiteen - Høiskolens Chemikerforenings kontakt med industrien.
          Her finner du en full oversikt over Industrikomiteens arrangementer og relevante jobbutlysninger.
          I tillegg kan du finne intervjuer med eldre kjemikere og informasjon fra diplomundersøkelsen -
          en årlig undersøkelse for å kartlegge jobbmarkedet via utgåtte MTKJ-studenter.
          Sidene enda i oppstartsfasen og Industrikomiteen er på saken med å bygge opp innhold.
          Vi gleder oss masse til å dele spennende informasjon med dere.</p>
      </div>
      <div class="col-10 col-xl-4 offset-1">
        <h4 style="text-transform: uppercase; color: #888; margin-bottom: 12px; font-weight: 500">
          Samarbeidspartnere</h4>
        <p style="font-size: 18px; color: #888; margin-bottom: 40px;">
          Høstsemesteret 2020 har Emerson sponset kaffen til alle MTKJ-studenter
        </p>
        <img src="https://images.finncdn.no/dynamic/default/2020/7/vertical-0/10/2/184/412/212_1087034308.jpg"
             alt="Emerson" width="300px;">
      </div>
      <div class="col-1"></div>
    </div>
  </div>
  </div>


  <div class="jumbotron jumbotron-fluid" style="background-color:#222">
    <div class="container">
      <div class="row" style="margin-left: 10%;">
        <div style="margin-right: 50px;">
          <img src="https://www.uokpl.rs/fpng/f/300-3008394_thumb-image-emerson.png" alt="Emerson" width="210px"
               height="100px">
        </div>
        <div class="col">
          <h1 class="display-4 text-light">Samarbeidspartnere</h1>
          <p class="lead text-light">Høstsemesteret 2020 har Emerson sponset kaffen til alle MTKJ-studenter</p>
        </div>
      </div>
    </div>
  </div>

  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">
      <div class="card" id="bedpresBox" style="margin: 40px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h2 class="card-title">Arrangementer</h2>
            </div>
            <div class="col">
              {% if perms.events.add_bedpres %}
                <a href="{% url "events:create_bedpres" %}" style="float:right; color:#343A40;">
                  <i class="fa fa-plus" style="font-size:36px"></i>
                </a>
              {% endif %}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p>
                Vi avholder bedriftspresentasjoner flere ganger hvert semester. En bedrift inviteres da til å komme og
                fortelle om sin virksomhet, hvilke arbeidsoppgaver som venter en nyutdannet sivilingeniør i bedriften og
                andre emner som kan interessere studentene.
              </p>
            </div>
          </div>

          {% if no_events %}
            <p>For øyblikket er det ikke planlagt noen arrangementer.</p>

          {% else %}
            {% for bp in bedpres %}

              <hr>
              <div class="row">
                <div class="col">
                  <a href="{{ bp.get_absolute_url }}" style="color:black">
                    <h5>{{ bp.title }}</h5>
                  </a>
                </div>
                <div class="col">
                  <a type="button" class="btn btn-dark" style="float:right; color: white;"
                     href="{% url "events:detail_bedpres" bp.id %}">Vis mer</a>
                </div>
              </div>
              <p>{{ bp.date }}</p>

            {% endfor %}

            {% for event in events %}

              <hr>
              <div class="row">
                <div class="col">
                  <a href="{{ event.get_absolute_url }}" style="color:black">
                    <h5>{{ event.title }}</h5>
                  </a>
                </div>
                <div class="col">
                  <a type="button" class="btn btn-dark" style="float:right; color: white;"
                     href="{% url "events:detail_social" event.id %}">Vis mer</a>
                </div>
              </div>
              <p>{{ event.date }}</p>

            {% endfor %}

          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-5">
      <div class="card" id="jobBox" style="margin: 40px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h2 class="card-title">Jobbutlysninger</h2>
            </div>
            <div class="col">
              {% if perms.corporate.add_jobadvertisement %}
                <a href="{% url "corporate:job_create" %}" style="float:right; color:#343A40;">
                  <i class="fa fa-plus" style="font-size:36px"></i>
                </a>
              {% endif %}
            </div>
          </div>
          <p>
            Her vil det fortløpende legges ut informasjon om sommerjobber og relevante faste arbeidsstillinger.
          </p>

          {% for job in job_advertisements %}
            <hr>
            <a class="collapser" data-toggle="collapse" href="#jobCollapse{{ job.id }}" style="color:#343A40">
              <h5>{{ job.title }}</h5></a>
            <div class="collapse multi-collapse" id="jobCollapse{{ job.id }}">
              <div class="row">
                <div class="col-9">
                  {{ job.description | safe }}
                </div>
                <div class="col-3">
                  {% if perms.corporate.delete_jobadvertisement %}
                    <a type="button" class="btn"
                       onclick="deleteJobPopup({{ interview.id }})"
                       style="float:right; background-color:#343A40; color: white;"
                       id="deleteInterview{{ job.id }}"
                       data-url="{% url "corporate:job_delete" job.id %}">
                      <i class="fa fa-trash"> Slett</i>
                    </a>
                  {% endif %}
                </div>
              </div>
            </div>
          {% empty %}
            <p>For øyeblikket er det ingen publiserte jobbutlysninger.</p>
          {% endfor %}
        </div>
      </div>
      <br>
    </div>
    <div class="col-1"></div>
  </div>

  <div class="row">
    <div class="col-1"></div>
    <div class="col-5">

      <div class="card" id="interviewBox" style="margin: 40px;">
        <div class="card-body">
          <div class="row">
            <div class="col">
              <h2 class="card-title">Intervjuer</h2>
            </div>
            <div class="col">
              {% if perms.corporate.add_interview %}
                <a href="{% url "corporate:interview_create" %}" style="float:right; color:#343A40;">
                  <i class="fa fa-plus" style="font-size:36px"></i>
                </a>
              {% endif %}
            </div>
          </div>
          <p>
            Her kan du lese intervjuer med nåværende og tidligere kjemikere med relevant arbeidserfaring.
          </p>

          {% for interview in interviews %}
            <hr>
            <div class="row">
              <div class="col">
                <h5>{{ interview.title }}</h5>
              </div>
              <div class="col">
                <a type="button" class="btn btn-dark" style="float:right; color:white;"
                   onclick="displayCorrectInterview({{ interview.id }})">Se mer
                </a>
              </div>
            </div>
          {% empty %}
            <p>For øyeblikket er det ingen publiserte intervjuer.</p>
          {% endfor %}
        </div>
      </div>

    </div>
    <div class="col-5">

      {% for interview in interviews %}
        <div class="card w-75" style="margin: 40px; display: none" id="interviewCard{{ interview.id }}">
          <img src="{{ interview.picture.url }}" class="card-img-top" alt="..." style="height: 25rem; object-fit:cover">

          <div class="card-body">
            <h4 class="card-title">{{ interview.interview_object }}</h4>
            {% for specialization in interview.specializations.all %}
              <span class="badge badge-pill badge-dark" style="font-weight: normal; background-color:#343A40;">
                {{ specialization }}
              </span>
            {% endfor %}
            <hr>
            {{ interview.text | safe }}
            {% if perms.corporate.delete_interview %}
              <a type="button" class="btn"
                 onclick="deleteInterviewPopup({{ interview.id }})"
                 style="float:right; background-color:#343A40; color: white;"
                 id="deleteInterview{{ interview.id }}"
                 data-url="{% url "corporate:interview_delete" interview.id %}">
                <i class="fa fa-trash"> Slett</i>
              </a>
            {% endif %}
          </div>
          <br><br>
        </div>
      {% endfor %}

    </div>
    <div class="col-1"></div>
  </div>
  <br><br>

{% endblock content %}

{% block footer_script %}
  <script>

    function displayCorrectInterview(targetId) {

      {% for interview in interviews %}
        document.getElementById("interviewCard{{ interview.id }}").style.display = "none";
      {% endfor %}

      let targetCard = document.getElementById("interviewCard" + targetId.toString());
      targetCard.style.display = "block";
    }

    function deleteInterviewPopup(id) {
      let url = document.getElementById("deleteInterview" + id.toString()).getAttribute("data-url");
      if (confirm("Er du sikker på at du vil fjerne dette intervjuet?")) {
        window.location.href = url;
      }
    }

    function deleteJobPopup(id) {
      let url = document.getElementById("deleteJob" + id.toString()).getAttribute("data-url");
      if (confirm("Er du sikker på at du vil fjerne denne jobbutlysningen?")) {
        window.location.href = url;
      }
    }

  </script>
{% endblock footer_script %}
