{% extends "corporate/base.html" %}
{% load static %}

{% block content %}
  <div class="top-banner background-dark">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div>
            <h1 class="display-font">
              Industrikomiteen
            </h1>
            <h2 class="subheader-main">
              HC sin kontakt med industrien.
            </h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-bottom: 160px;">

    <div class="row">
      <div class="col-12">
        <h3 class="heading">
          Industrikomiteen
        </h3>
      </div>

      <div class="col-12 col-md-6" style="margin-bottom: 40px;">
        <p class="lead">
          Denne siden administreres av Industrikomiteen &ndash; Høiskolens Chemikerforenings kontakt med industrien.
          Her finner du en full oversikt over Industrikomiteens arrangementer, relevante jobbutlysninger,
          intervjuer med kjemikere og informasjon fra diplomundersøkelsen.
          <br><br>
          Sidene er enda i oppstartsfasen og Industrikomiteen er på saken med å lage innhold.
          Vi gleder oss masse til å dele spennende informasjon med dere.
        </p>
        <a href="{{ indkom.get_absolute_url }}" class="button-fill">
          Les mer
        </a>

      </div>

      <div class="col-12 col-md-6">
        <img src="{{ indkom.image.url }}" alt="..." class="img-fluid" style="margin-bottom: 50px">
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row" style="margin-bottom: 200px">

      <div class="col-12 col-md-6 col-lg-3 corp">
        <div class="card shadow-sm square corp">
          <p class="square-text">
            <span class="square-card-header">
              <i class="material-icons micon">corporate_fare</i> Jobbutlysninger
            </span>
            <br style="margin-bottom: 10px">
            Finn relevant jobb
          </p>
          <a class="stretched-link" href="{% url "corporate:job" %}"> </a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 corp" >
        <div class="card shadow-sm square">
          <p class="square-text">
            <span class="square-card-header">
              <i class="material-icons micon">insert_invitation</i> Arrangementer
            </span>
            <br style="margin-bottom: 10px">
            Få oversikt over kommende arrangementer og bedriftspresentasjoner
          </p>
          <a class="stretched-link" href="{% url "corporate:events" %}"> </a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 corp">
        <div class="card shadow-sm square">
          <p class="square-text">
            <span class="square-card-header">
              <i class="material-icons micon">question_answer</i> Intervjuer
            </span>
            <br style="margin-bottom: 10px">
            Les intervjuer med tidligere studenter
          </p>
          <a class="stretched-link" href="{% url "corporate:interview" %}"> </a>
        </div>
      </div>

      <div class="col-12 col-md-6 col-lg-3 corp">
        <div class="card shadow-sm square">
          <p class="square-text">
            <span class="square-card-header">
              <i class="material-icons micon hyphen">bar_chart</i> Diplom
            </span>
            <br style="margin-bottom: 10px">
            Lurer du på hvor tidligere studenter har endt opp? Sjekk statistikken!
          </p>
          <a class="stretched-link" href="{% url "corporate:statistics" %}"> </a>
        </div>
      </div>

    </div>
  </div>
{% endblock content %}

{% block footer_script %}
{% endblock footer_script %}
