{% extends 'corporate/base.html' %}
{% load static %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
      <li class="breadcrumb-item ">
        <a href="{% url "corporate:index" %}" style="color:#edcd2f">Bedriftssider</a>
      </li>
      <li class="breadcrumb-item ">
        <a href="{% url "corporate:interview_list" %}" style="color:#edcd2f">Intervjuer</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Detaljer</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block content %}

  <div class="container">
    <div class="row align-items-center" style="margin-top: 2rem;margin-bottom: 2rem">
      <div class="col-sm-12 col-md-2">
      </div>
      <div class="col-sm-12 col-md-7">
        <div class="container">
          <br><br>
          <h1> Intervju av {{ interview.interview_object }}</h1>
          <div><img src="{{ interview.picture.url }}" class="img-fluid"></div>
          <br>
          <p>
            {{ interview.text }}
          </p>
          <br><br><br><br><br>
        </div>
      </div>
      <div class="col- col-md-3">
        <div class="card">
          <img src="{{ interview.company.logo.url }}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="{% url "corporate:company_detail" interview.company.pk %}"><h4
                    class="card-title"> {{ interview.company }}</h4></a>
            <p class="card-text">
            <hr>
            Aktuelle linjer
            <ul>
              {% for specialization in interview.company.specializations.all %}
                <li>{{ specialization }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
