{% extends "corporate/base.html" %}

{% block content %}

<div class="container">
  <div class="row align-items-center" style="margin-top: 2rem;margin-bottom: 2rem">
    <div class="col-sm-12 col-md-2">
    </div>
    <div class="col-sm-12 col-md-7 jumbotron">
      <div class="container">
          <h1>Legg til nytt intervju</h1>
          <br>
          <form method="POST" enctype="multipart/form-data">{% csrf_token %}
         {{ form.as_p }}
         <br>
         <button class="btn btn-success" type="submit">LEGG TIL!</button>
         <br>
     </form>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
