{% extends "corporate/base.html" %}

{% block breadcrumbs %}
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
      <li class="breadcrumb-item ">
        <a href="{% url "corporate:index" %}" style="color:#edcd2f">Bedriftssider</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Opprett ny jobbutlysning</li>
    </ol>
  </nav>
{% endblock breadcrumbs %}

{% block content %}

  <div class="container">
    <div class="row align-items-center" style="margin-top: 2rem;margin-bottom: 2rem">
      <div class="col-md-8 col-sm-12">
        <div class="card shadow" style="margin: 40px;">
          <div class="card-body">
            <h2 class="card-title">Legg til ny jobbutlysning</h2>
            <form method="POST" enctype="multipart/form-data">{% csrf_token %}
              {{ form.media }}
              {% for field in form %}
                <div class="field">
                  <label for="{{ field.id_for_label }}" class="label">
                    <strong>{{ field.label }}:</strong>
                  </label>
                  <p>{{ field }}</p>
                </div>
              {% endfor %}
              <br>
              <button class="btn btn-dark" type="submit">Lagre!</button>
              <br>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}
