{% extends "corporate/base.html" %}
{% load static %}

{% block content %}

<div class="banner background-dark" style="margin-bottom: 80px;">
  <div class="container" style="padding-top: 105px;">
    <div class="row">
      <div class="col-12">
        <h1 class="heading">Diplomundersøkelsen</h1>
      </div>
      <div class="col-12 col-md-6">
        <p style="font-weight: 600; font-size: var(--font-size-medium-plus); opacity: 80%">
          Spørreundersøkelse, resultater
        </p>
      </div>
    </div>
  </div>
</div>

<div class="container" style="margin-bottom: 80px">
  <div class="row">
    <div class="col-12">
      <p class="lead">
        Siden er under konstruksjon <i class="material-icons micon">construction</i>
      </p>
    </div>
  </div>
</div>


{% endblock content %}

{% block footer_script %}
{% endblock footer_script %}
