{% extends "corporate/base.html" %}
{% load static %}

{% block content %}

  <div class="banner background-dark" style="margin-bottom: 80px;">
    <div class="container" style="padding-top: 105px;">
      <div class="row">
        <div class="col-12">
          <h1 class="heading">Diplomundersøkelsen</h1>
        </div>
        <div class="col-12 col-md-6">
          <p style="font-weight: 600; font-size: var(--font-size-medium-plus); opacity: 80%">
            Hvert år gjennomfører Industrikomiteen Diplomundersøkelsen.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="container" style="margin-bottom: 80px">
    <div class="row">
      <div class="col-12">
        <select name="survey" id="survey" onchange="document.location.href=this.value">
          <option value="{{ survey.year }}" selected disabled hidden>{{ survey.year }}</option>
          {% for survey in all_surveys %}
            <option value="{% url "corporate:survey_year" survey.year %}">
              {{ survey.year }}
            </option>
          {% endfor %}
        </select>
      </div>
    </div>
    {% for question, data in q_a_dict.items %}
      <!-- Flexbox this shit -->
      {% if forloop.counter|divisibleby:2 %}
        <div class="col">
          <canvas id="{{ question }}"></canvas>
          <button onclick="toggleChartType('{{ question }}')">Bytt graftype</button>
        </div>
        </div>
      {% else %}
        <div class="row">
        <div class="col">
          <canvas id="{{ question }}"></canvas>
          <button onclick="toggleChartType('{{ question }}')">Bytt graftype</button>
        </div>
      {% endif %}
    {% endfor %}
    </div>

{% endblock content %}

{% block footer_script %}
  <script>

    let myCharts = {}; // To be able to access charts after they're rendered

    function renderChart(chartId, chartType, title, chartData, labels) {
      let ctx = document.getElementById(chartId).getContext('2d');
      return new Chart(ctx, {
        type: chartType,
        data: {
          labels: labels,
          datasets: [{
            label: title,
            data: chartData,
            backgroundColor: [
              'rgba(255, 99, 132, 0.75)',
              'rgba(54, 162, 235, 0.75)',
              'rgba(255, 206, 86, 0.75)',
              'rgba(75, 192, 192, 0.75)',
              'rgba(153, 102, 255, 0.75)',
              'rgba(255, 159, 64, 0.75)'
            ],
          }]
        },
        options: {
          title: {
            display: true,
            text: title
          },
          legend: {
            display: true
          },
        }
      });
    }

    function toggleChartType(chartId) {
      let chart = myCharts[chartId];
      let chartType = chart.config.type;
      if (chartType === "bar") {
        setPieChartOptions(chart);
      } else if (chartType === "pie") {
        setBarChartOptions(chart);
      } else if (chartType === "doughnut") {
        setBarChartOptions(chart);
      } else {
        console.log("WTF is this");
      }
      chart.update();
    }

    function setBarChartOptions(chart) {
      chart.config.type = "bar";
      // Make y axis start at 0.
      chart.options.scales = {
        yAxes: [{
          ticks: {
            beginAtZero: true
          }
        }]
      };

      // Hide legend for bar charts
      chart.options.legend = {
        display: false
      };
      chart.update();
    }

    function setPieChartOptions(chart) {
      chart.config.type = "pie";
      chart.options.scales = {
        yAxes: [{
          display: false
        }]
      };

      chart.options.legend = {
        display: true
      };

      chart.update();
      chart.update();
    }

    $(document).ready(function () {
      let endpoint = "/bedrift/diplom/{{ survey.id }}/data/";
      $.ajax({
        method: "GET",
        url: endpoint,
        success: function (data) {

          for (let key in data) {
            let title = key;
            let chartId = key;
            let chartType = data[key].chartType;
            let chartData = data[key].values;
            let labels = data[key].choices;

            myCharts[chartId] = renderChart(chartId, chartType, title, chartData, labels);
          }
        },

        error: function (error_data) {
          console.log(error_data)
        }
      });
    });
  </script>
{% endblock footer_script %}
