{% extends "chemie/base_election.html" %}
{% load material_form %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
    <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Admin</li>
    <button class="btn btn-secondary" style="margin-left:auto; margin-top:-0.8rem" id="checkInDirect">Sjekk
      inn brukere
    </button>
    <a type="submit" class="btn btn-primary" style="margin-left: 1rem; margin-top:-0.8rem" 
            id="openElectionForEveryone" href="{% url 'elections:open_election_for_everyone' %}">
    Åpne valg for alle
    </a>
    <button class="btn btn-danger" style="margin-left: 1rem; margin-top:-0.8rem" id="closeElectionButton">Steng valget
    </button>
  </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div class="d-flex flex-row" style="margin:1rem">
  <div class="p-2" style="width:20%; border-style:solid; border-radius: 1rem; border-color:#343a40">
  <h5 style="margin:0.7rem">Antall innsjekket: {{ checkin_count }}</h5>
  </div>
</div>

<div class="div-container">
  <div class="justify-content-center d-flex">
    <div>
      <h3>Legg til verv</h3>
      <form method="POST" href="">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-secondary">Legg til verv</button>
      </form>
    </div>
  </div>

  <div class="d-flex flex-row" style="margin:1rem">
    <div class="p-2" style="width:50%; border-style:solid; border-radius: 1rem 0rem 0rem 1rem; border-color:#343a40">
      <h4 class="text-center">Ikke gjennomført</h4>
      {% if not_done_positions %}
      {% for position in not_done_positions %}
      <div>
        <div class="d-flex flex-column" style="border-style:solid none none none; border-color:#343a40">
          <div class="p-2">
            <div class="d-flex">
              <div class="p-2">
                <h3>{{ position.position_name }}: <b>{{ position.spots }}</b>
                  {% if position.spots == 1 %}
                    plass
                  {% else %}
                    plasser
                  {% endif %}
                </h3>
              </div>
              <div class="ml-auto p-2">
                <form onsubmit="return submitDelete(this)" method="POST"
                  action="{% url 'elections:admin_delete_position' %}" name="{{ position.position_name }}">
                  {% csrf_token %}
                  <button class="btn btn-danger" type="submit" name="Delete" value="{{ position.id }}">Slett
                  </button>
                </form>
              </div>
            </div>
          </div>
          <div class="p-2">
            <div class="d-flex">
              <div class="p-2">
                {% for candidate in position.candidates.all %}
                <p>
                  {{ candidate }}:
                  <b> {{ candidate.pre_votes }}</b> forhåndsstemmer<br>
                </p>
                {% endfor %}
              </div>
              <div class="ml-auto p-2">
                <a class="btn btn-secondary" href={{ position.id }}>Legg til kandidater</a>
              </div>

            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p style="text-align: center">
        Ingen posisjoner lagt til
      </p>
      {% endif %}

    </div>
    <div class="p-2" style="width:50%; border-style:solid; border-radius: 0rem 1rem 1rem 0rem; border-color:#343a40">
      <h4 class="text-center">Gjennomført</h4>
      {% if done_positions %}
      {% for position in done_positions %}
      <div>
        <div class="d-flex flex-column" style="border-style:solid none none none; border-color:#343a40">
          <div class="p-2">
            <div class="d-flex">
              <div class="p-2">
                <h5>{{ position.position_name }}: <b>{{ position.spots }}</b>
                  {% if position.spots == 1 %}
                  plass
                  {%else%}
                  plasser
                  {%endif%}
                  </h3>
                  {% if position.by_acclamation %}
                  <b>Alle kandidater vant ved akklamasjon</b>
                  {% endif %}
              </div>

            </div>
          </div>
          <div class="p-2">
            <div class="d-flex">
              <div class="p-2">
                {% for candidate in position.candidates.all %}
                <p> {{candidate}}
                  {% if not position.by_acclamation %}
                  : Totalt <b>{{candidate.get_candidate_votes}}</b> stemmer </p>
                {% endif %}
                {% endfor %}
              </div>
              <a class="btn btn-secondary ml-auto" style="height:2.5rem"
                href="{% url 'elections:admin_results' pk=position.id %}">
                Se resultat
              </a>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <p style="text-align: center">
        Ingen posisjoner gjennomført
      </p>
      {% endif %}

      
    </div>
  </div>
</div>

<div class = "div-container">
  <div class="justify-content-center d-flex">
    <div class="p-2" style="width:60%; border-style:solid; border-radius: 1rem; border-color:#343a40">
      <h5 style="margin:0.7rem">Informasjon om valg: </h5>
      
        <li><b>Simpelt flertall: </b> Det alternativet som oppnår flest stemmer i en avstemning. Blanke stemmer teller ikke.</li>

        <li><b>Alminnelig flertall:</b> Det alternativet som oppnår flest stemmer og får mer enn 50% av avgitte stemmer. Blanke stemmer teller. </li>
        
        <li><b>Kvalifisert flertall:</b> Et kvalifisert flertall oppnås ved 2/3 av de avgitte stemmer. Blanke stemmer teller. </li>

        <ul>
          <li><b>Personvalg:</b>
            <ul>
              <li>Dersom noen kommer inn i salen under personvalg, kan de ikke scannes inn.</li>
              <li>Styreverv må velges inn med alminnelig flertall, øvrige med simpelt flertall. </li>
            </ul>
          </li>
        </ul>
        
    </div>
  </div>
</div>

{% endblock content %}

{% block footer_script %}
<script>
  document.getElementById("closeElectionButton").onclick = function () {
    if (window.confirm('Avslutte valget?')) {
      location.href = "{% url 'elections:admin_end_election'%}";
    }
  };

  function submitDelete(el) {
    var posName = el.name.toString();
    var message = "Du sletter nå posisjon " + posName;
    var retValue = confirm(message);
    if (retValue) {
      return true
    } else {
      return false
    }
  }

  document.getElementById("checkInDirect").onclick = function () {
    location.href = "{% url 'elections:checkin'%}";
  };

</script>

{% endblock footer_script %}