{% extends 'chemie/base_election.html'%}
<!--
context = {
    'date':date,
    'election':election,
    'positions':election.positions.all(),
}
-->
{%block content%}
<div style="padding-top: 10px">
    <div class="card">
        <h5 class="card-header">Resulater fra valget {{date}}</h5>
        <ul class="list-group list-group-flush">
        {%for position in positions%}
        <div class="card-body">
            <h5 class="card-title">{{position.position_name}}</h5>
            <p class="card-text"></p>
        </div>
        {%endfor%}
        </ul>
    </div>
</div>


{%endblock%}