{% extends "chemie/base_election.html" %}
{% load material_form %}

{% block style %}
.submit-button{
margin-top: 0.9rem;
}
.delete-button{
margin-bottom: 0rem;
background-color: transparent;
border: None;
}
.delete-form{
padding-bottom: 0rem;
}
.position-title{
margin: auto;
}

.breadcrumb{
border-radius:0rem
}
{% endblock style %}

{% block content %}
<div class="div-container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
            <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Admin</li>
        </ol>
    </nav>
    <div class="justify-content-center d-flex">
        <div>
            <h3>Legg til Verv</h3>
            <form method="POST" href="{%url "elections:admin_register_positions"%}">{% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Legg til verv</button>
            </form>
        </div>
    </div>

    <div class="d-flex flex-row" style="margin:1rem">
        <div class="p-2" style="width:100%">
            <h4 class="text-center">Ikke gjennomført</h4>
            {%for position in not_done_positions%}
            <div class="card">
                <div class="d-flex flex-column">
                    <div class="p-2">
                        <div class="d-flex">
                            <div class="p-2">
                                <h5>{{position.position_name}}</h3>
                            </div>
                            <div class="ml-auto p-2">
                                <form onsubmit="return submitDelete(this)" method="POST" href="#"
                                    name="{{position.position_name}}">
                                    {% csrf_token %}
                                    <button class="btn btn-secondary" type="submit" name="Delete"
                                        value="{{position.id}}">&#10060;</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="p-2">
                        <div class="d-flex">
                            <div class="p-2"></div>
                            {%for candidate in position.candidates.all%}
                            <p>
                                {{candidate}}
                                <b> {{candidate.votes}}</b> <br>
                            </p>
                            {%endfor%}
                            <div class="ml-auto p-2">
                                <a class="btn btn-warning" href={{ position.id }}>Rediger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}


        </div>
        <div class="p-2" style="width:100%">
            <h4 class="text-center">Gjennomført</h4>
            {%for position in done_positions%}
            <div class="card">
                <div class="d-flex flex-column">
                    <div class="p-2">
                        <h5>{{position.position_name}}</h3>
                    </div>
                    <div class="p-2">
                        <div class="d-flex">
                            <div class="p-2"></div>
                            {%for candidate in position.candidates.all%}
                            <p>
                                {{candidate}}
                                <b> {{candidate.votes}}</b> <br>
                            </p>
                            {%endfor%}
                            <div class="ml-auto p-2">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>


</div>

{% endblock content %}

{% block footer_script%}
<script>
    function ConfirmAvsluttValg() {
        if (window.confirm('Avslutte valget?')) {
            // TODO fix this %&#¤¤% black formatting which "#¤/ does not allow to have reverse urls in JS
        }
    }
    function submitDelete(el) {
        var posName = el.name.toString();
        var message = "Du sletter nå posisjon " + posName;
        var retValue = confirm(message);
        if (retValue) {
            return true
        } else {
            return false
        }
    }
</script>

{% endblock footer_script %}