{% extends 'chemie/base_election.html' %}
<!--context = {
            'candidates': candidates,
            'form': form,
            'position': position,
            'search_user': search_user
        }-->

{% load thumbnail %}
{% load staticfiles %}
{% load static %}

{% block content %}
<div>
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="{% url "elections:admin_register_positions" %}">Admin</a></li>
            <li><a href="{% url "elections:admin_register_candidates" position.id %}">Posisjon</a></li>
            <li class="is-active"><a href="#" aria-current="page">Forhåndsstemmer</a></li>
        </ul>
    </nav>
    <!--Tittel på possisjon-->
    <div class="">
        <h3 class="title is-4"> Kandidater for {{ position.position_name }}</h3>
    </div>
    <!--Kandidater-->
    <form method="POST">{% csrf_token %}
        {{ candidate_formset.management_form }}
        {% for candidate_form in candidate_formset %}
        <div>
            {{ candidate_form }}
        </div>
        {% endfor %}
        {{ prevote_form }}
        <div>
            <input class="button is-success" type="submit" value="Legg inn forhåndsstemmer!"></input>
        </div>
    </form>
</div>
{% endblock content %}