{% extends 'chemie/base_election.html' %}
{% load static %}

{% block content %}
<div class="d-flex flex-column">
    <div>
        <h2 style="text-align: center">Administrator for Valg </h2>
    </div>

    <br>
    <h2 style="text-align: center">Trykk på Start for å sette igang et valg</h2>
    <form method="POST" class="post-form" href="">{% csrf_token %}
        <button type="submit" style="margin-left:45%" class="btn btn-success" name="start">Start
            Election</button>
    </form>

</div>

</div>

{% endblock content %}