{% extends 'chemie/base_election.html' %}

{% block style %}
<style>

</style>
{% endblock style %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
    <li class="breadcrumb-item "><a style="color:#edcd2fb4">Admin</a>
    </li>
    <li class="breadcrumb-item "><a style="color:#edcd2fb4">{{ election.current_position }}</a>
    </li>
  </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<div class="div-container">
  <div>
    <div style="text-align:center; margin:1rem">
      <a href="" class="btn btn-success"> Refresh side</a>
    </div>
    <div class="candidate-voted">
      <!--TODO future improvent would be to set dynamic rendering of total votes-->
      <h2 class="title is-2" align="center">{{ total_voters }} av {{checkin_count}} personer har stemt</h2>
    </div>
  </div>

  <form style="text-align: center" method="post" onsubmit="return confirm('Stenge valget?')" href="#">{% csrf_token %}
    <button class="btn btn-danger" type="submit" name="endVoting" value="{{ position.id }}">Avslutt</button>
  </form>
</div>
{% endblock content %}

{% block footer_script %}
<script type="text/javascript">
  function confirmValg(form, message) {
    if (!form) {
      return false
    } else {
      return confirm(message)
    }
  }
</script>
{% endblock footer_script %}