{% extends 'chemie/base_election.html' %}
{%load static%}

{% block content %}
    <div class="div-container">
        <h2 class="title is-2">Administrator for Valg </h2>
            <div>
                <a href="{%url "elections:results"%}" class="button">Se Resultater fra forrige valg</a>
            </div>
        <br>
        <h3 class="title is-5">Trykk på Start for å sette igang et valg</h3>
        <form method="POST" class="post-form" href="valg/admin/register/">{% csrf_token %}
            <button type="submit" class="button is-success" name="start" class="btn btn-primary pull-right" >Start Election</button>
        </form>
    </div>

</div>

{% endblock %}