{% extends 'chemie/base_election.html' %}
<!--context = {
            'candidates': candidates,
            'form': form,
            'position': position,
            'search_user': search_user
        }-->

{% load thumbnail %}

{% load staticfiles %}
{% load static %}

{%block content%}
<style>
    .candidate-container{
        padding: 0.9rem;
        margin-top: 0.3rem;
        margin-bottom: 0.3rem;
    }
    .candidate-delete{
        display: inline;
        position: absolute;
        right: 1rem;
    }
    .candidate-line{
        display: inline;
    }
    .candidate-input{
        display: inline;
        width: 4rem;
    }
    .candidate-component{
        margin-right: 0.2rem;
    }
</style>
<div>

    <!--Tittle på possisjon-->
    <div class="">
        <h3 class="title is-4"> Kandidater for {{ position.position_name }}</h3>
    </div>



    <!--Søke felt for brukere-->
    <div>
        <div>
            <form method="POST" action="" > {% csrf_token %}
                {{ add_candidate_form.user }}
                <input type="submit" class="button" name="addCandidate" value="Legg til kandidat" height="10px"/>
            </form>
            {%if position.voting_done%}
            <div class="div-container">
                <h2 class="title is-3"> Dette valget har alt blitt gjennomført</h2>
            </div>
            {%endif%}

        </div>
    </div>

    <!--Alle Kandidater-->

    {%for candidate in candidates%}
    <div class="card border-secondary mb-3">
        <div class="card-body candidate-container" >
            <h5 class="title is-5"> {{candidate}}</h5>
            <form method="post" href="#"; style="display: inline" onsubmit="confirmValg(this, 'Sikker?')">{% csrf_token %}
            <input id="preVotesForm" class="input candidate-input" type="number" name="preVotes" value="{{candidate.votes}}">
            <button type="submit" class="button" value="{{candidate.user.username}}" name="OK" >OK</button>
            <button class="button candidate-delete" type="submit" name="Delete" value="{{candidate.user.username}}" >&#10060</button>
                <p> <b>{{candidate.votes}}</b> forhåndsstemmer</p>

            </form>
        </div>

    </div>
    {%endfor%}


    </div>
    <div>
        {% if candidates %}
        <form method="post" href="#" onsubmit="return confirmValg(this, 'Klar for å åpne valget')">{% csrf_token %}
            <button class="button is-success" type="submit" name="startVoting" value="{{position.id}}"}}>Start</button>
        </form>

        {% endif %}
    </div>
</div>
{%endblock%}

{% block footer_script %}
    {{ add_candidate_form.media }}
<script type="text/javascript">
function confirmValg(form, message) {
       if (!form){
           return false
       } else {
           return confirm(message)
       }
    }
</script>

{% endblock footer_script %}
