{% extends 'chemie/base_election.html' %}

{% block content %}
<div style="margin-top: 10px">

    <div >
        <div >
            <div style="">
                <a href="" class="button is-success"> Refresh side</a>
            </div>
            <div>
                <h2 class="title is-2" align="center">{{election.current_position.total_votes}} personer har stemt</h2>
                <!--<p id="demo"></p>-->
                <!--<script>-->
                    <!--refresh();-->
                    <!--function refresh() {-->
                        <!--window.location.reload(true);-->
                        <!--setTimeout(refresh(), 100000);-->
                    <!--}-->
                <!--</script>-->
             </div>
        </div>
    </div>
    <div style="margin-top: 10px">
        <form method="post" href="#">{% csrf_token %}
            <button class="button is-danger" type="submit" name="endVoting" value="{{position.id}}"}}style="margin-top: 10px" >End Voting</button>
        </form>

    </div>
</div>
{% endblock %}