{% extends "chemie/base.html" %}

{% block nav_header %}
  Refusjonsskjema
{% endblock nav_header %}

{% block nav_sub_header %}
  Årsrapport {{ year }}
{% endblock nav_sub_header %}

{% block content %}
     <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "refound:index" %}" class="breadcrumb">Refusjonsskjema</a>
    <a href="{% url "refound:admin_refounds" %}" class="breadcrumb">Årsrapport {{ year }}</a>
  </div>
    <div class="row">


    <div class="col s12 m4 l4">
    <div class="card">
    <div class="card-content">
         <span><b>Fullført</b></span></span>
        <hr>
        <p><b>Antall:</b> {{ approved|length }}</p>
        <p><b>Total sum:</b> {{ approvedsum }} kr</p>
    </div>
    </div>
    </div>

    <div class="col s12 m4 l4">
    <div class="card">
    <div class="card-content">
         <span><b>Under behandling</b></span>
        <hr>
        <p><b>Antall:</b> {{ pending|length }}</p>
        <p><b>Total sum: </b>{{ pendingsum }} kr</p>
    </div>
    </div>
    </div>

    <div class="col s12 m4 l4">
    <div class="card">
    <div class="card-content">
        <span><b>Avvist</b> </span>
        <hr>
        <p><b>Antall:</b> {{ rejected|length }}</p>
        <p><b>Total sum:</b> {{ rejectsum }} kr</p>
    </div>
    </div>
    </div>

    </div>

    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons" style="color:green">check</i> <b>Fullført</b></div>
      <div class="collapsible-body">
      <div class="card">

    <div class="card-content">
          <hr>
        <div style="width: 100%; display: flex; justify-content: space-between">
            <p style="font-weight: bold"> Refusjon </p>
            <p style="font-weight: bold;"> Status </p>
        </div>
    {% for refound_request in approved %}
        <hr>
        <div style="width: 100%; display: flex; justify-content: space-between">
        <div>
            <a href="{% url "refound:detail" id=refound_request.id %}" style="font-weight: bold; color: black">{{ refound_request.created.date }}</a>
            <p>{{ refound_request.user.first_name }} {{ refound_request.user.last_name }} ({{ refound_request.get_total }} kr)</p>
        </div>
        <div style="padding-top: 4px; padding-right: 5px;">
                <i class="material-icons" style="color: forestgreen; font-size: 3rem">check</i>
        </div>
        </div>

    {% endfor %}
    <hr>
    </div>
        </div>

      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons" style="color:#f9cf00">access_time</i> <b>Under behandling</b></div>
      <div class="collapsible-body">
      <div class="card">

    <div class="card-content">
          <hr>
        <div style="width: 100%; display: flex; justify-content: space-between">
            <p style="font-weight: bold"> Refusjon </p>
            <p style="font-weight: bold;"> Status </p>
        </div>
    {% for refound_request in pending %}
        <hr>
        <div style="width: 100%; display: flex; justify-content: space-between">
        <div>
            <a href="{% url "refound:detail" id=refound_request.id %}" style="font-weight: bold; color: black">{{ refound_request.created.date }}</a>
            <p>{{ refound_request.user.first_name }} {{ refound_request.user.last_name }} ({{ refound_request.get_total }} kr)</p>
        </div>
        <div style="padding-top: 4px; padding-right: 5px;">
            <i class="material-icons" style="color: #f9cf00; font-size: 3rem">access_time</i>
        </div>
        </div>

    {% endfor %}
    <hr>
      </div>
        </div>

      </div>
    </li>
    <li>
        <div class="collapsible-header"><i class="material-icons" style="color:red">close</i><b>Avvist</b></div>
      <div class="collapsible-body">
      <div class="card">

    <div class="card-content">
              <hr>
        <div style="width: 100%; display: flex; justify-content: space-between">
            <p style="font-weight: bold"> Refusjon </p>
            <p style="font-weight: bold;"> Status </p>
        </div>
    {% for refound_request in rejected %}
        <hr>
        <div style="width: 100%; display: flex; justify-content: space-between">
        <div>
            <a href="{% url "refound:detail" id=refound_request.id %}" style="font-weight: bold; color: black">{{ refound_request.created.date }}</a>
            <p>{{ refound_request.user.first_name }} {{ refound_request.user.last_name }} ({{ refound_request.get_total }} kr)</p>
        </div>
        <div style="padding-top: 4px; padding-right: 5px;">
                <i class="medium material-icons" style="color: red; font-size: 3rem">close</i>
        </div>
        </div>

    {% endfor %}
    <hr>
      </div>
        </div>

      </div>
    </li>
  </ul>


    <div>

<div class="card">

    <div class="card-content">
    <b>Informasjon</b>
    <hr>
    <p>Etter fullført årsregnskap burde alle refusjonsskjemaer fra dette året slettes av kasserer. Dette gjøres for å ikke lagre personopplysningene lengre enn nødvendig. Refusjonsskjemaer kan slettes ved å trykke på knappen under. OBS! Dette vil slette informasjonen ugjenkallelig.</p>
        <hr>
    <a class="btn btn-primary red pull-center" style="margin: auto;min-width: 130px;" href="#">Slett skjemaer fra {{ year }}</a>
    </div>
</div>

  {% endblock content %}