{% extends "chemie/base.html" %}

{% block nav_header %}
  Refusjonsskjema
{% endblock nav_header %}

{% block content %}

  <form id="form-container" method="POST" enctype="multipart/form-data">{% csrf_token %}
<div class="card">

    <div class="card-content">

    <div>
        <h3>Kontaktinformasjon</h3>
        <hr>
        <p> Navn: {{ user.first_name }} {{ user.last_name }}</p>
        <p> E-post: {{ user.email }}</p>
        <p> Mobilnummer: {{ user.profile.phone_number }}</p>
        <hr>
        <p id="total-price">Totalt beløp: 0 kr</p>
        <hr>
        <label for="account-number">Kontonummer: </label>
        <!---<input name="account-number">--->
    </div>
        </div>
</div>





      {{ formset.management_form }}
      {% for form in formset %}

        <div class="refound-form">
          <div class="card">
  <div class="card-content">
          <p style="font-weight: bold" class="receipt-counter">Kvittering {{ forloop.counter }}</p>
        <hr>
          {{ form.as_p }}


      <!--<div class="card-action">
        <div class="right-align">
            <button class="btn btn-primary pull-right" id="add-form" type="button">Ny kvittering</button>
          <input class="btn btn-primary pull-right" type='submit' value='Søk om refusjon'/>
        </div>
      </div>--->
          </div>
  </div>
          </div>
      {% endfor %}
<button class="btn btn-primary pull-right" id="add-form" type="button">Ny kvittering</button>
          <input class="btn btn-primary pull-right" type='submit' value='Søk om refusjon'/>
  </form>



{% endblock content %}

{% block footer_script %}

    <script>
    let total_price_value = 0;
    let price_array = []
    let priceinputs =  document.querySelectorAll('input[type="number"]');
    console.log(priceinputs);
    //let input1 = document.getElementById("id_form-0-price")
    const total_price = document.getElementById("total-price");
    priceinputs.forEach((inputprice) => {
    inputprice.addEventListener("input", ()=> {
        total_price.innerText = `Totalt beløp: ${inputprice.value} kr`
    })})

    //Code found on https://www.brennantymrak.com/articles/django-dynamic-formsets-javascript

    let refoundForm = document.querySelectorAll(".refound-form")
    let container = document.querySelector("#form-container")
    let addButton = document.querySelector("#add-form")
    let totalForms = document.querySelector("#id_form-TOTAL_FORMS")

    let formNum = refoundForm.length-1 // Get the number of the last form on the page with zero-based indexing

    function addForm(e) {
    e.preventDefault()
        console.log("hei")
    console.log(container)
    let newForm = refoundForm[0].cloneNode(true) //Clone the refound form
    let formRegex = RegExp(`form-(\\d){1}-`,'g') //Regex to find all instances of the form number

    formNum++ //Increment the form number
    newForm.innerHTML = newForm.innerHTML.replace(formRegex, `form-${formNum}-`) //Update the new form to have the correct form number
        newForm.querySelectorAll(".receipt-counter")[0].innerText = `Kvittering ${formNum+1}`
    container.insertBefore(newForm, addButton) //Insert the new form at the end of the list of forms

    totalForms.setAttribute('value', `${formNum+1}`) //Increment the number of total forms in the management form
}

    addButton.addEventListener('click', addForm)
    </script>

{% endblock footer_script %}
