/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/*  Color and variables */
:root {
    /* Color */
    /* Grayscale */
    --gray-900: #222222;
    --gray-800: #434343;
    --gray-700: #626262;
    --gray-600: #767676;
    --gray-500: #9f9f9f;
    --gray-400: #bebebe;
    --gray-300: #e1e1e1;
    --gray-200: #efefef;
    --gray-100: #f5f5f5;
    --gray-50: #fafafa;

    /* Main colors */
    --main-color-dark: var(--gray-900);
    --main-color-light: var(--gray-50);
    --main-color-yellow: #f9cf00;
    --secondary-color-yellow: #f8b700;

    /* Font size */
    --font-size-xsmall: 0.875rem;
    --font-size-small: 1rem;
    --font-size-medium: 1.125rem;
    --font-size-medium-plus: 1.25rem;
    --font-size-large: 1.5rem;
    --font-size-xlarge: 1.875rem;
    --font-size-xxlarge: 2.25rem;
    --font-size-display: 4.5rem;
}


/* General settings */
body {
    font-family: Inter, sans-serif;
    font-size: var(--font-size-small);
    color: var(--main-color-dark);
}

/* Links */
.link {
    color: var(--main-color-yellow);
    font-weight: 600;
}

.link:hover {
    color: var(--secondary-color-yellow);
    text-decoration: none;
}

/* Buttons */
.button-fill {
    font-size: var(--font-size-xsmall);
    font-weight: 700;
    padding: 9px 22px;
    border: 2px var(--main-color-yellow) solid;
    background-color: var(--main-color-yellow);
    color: var(--main-color-dark);
    border-radius: 50px;
}

.button-fill:hover {
    border: 2px var(--secondary-color-yellow) solid;
    background-color: var(--secondary-color-yellow);
    color: var(--main-color-dark);
    text-decoration: none;
}

.button-nofill {
    font-size: var(--font-size-xsmall);
    font-weight: 700;
    padding: 9px 22px;
    border: 1.5px var(--main-color-yellow) solid;
    color: var(--main-color-yellow) !important;
    border-radius: 50px;
}

.button-nofill:hover {
    font-size: var(--font-size-xsmall);
    border: 1.5px var(--secondary-color-yellow) solid;
    color: var(--secondary-color-yellow) !important;
    text-decoration: none;
}

.lead {
    font-size: var(--font-size-medium);
    margin-bottom: 30px;
}

.display-font {
    font-size: var(--font-size-display);
    font-weight:700;
    margin-bottom: 35px;
}

.subheader-main {
    font-weight: 600;
    font-size: var(--font-size-large);
    margin-bottom: 35px;
}

.background-dark {
    background: var(--main-color-dark);
    color: var(--main-color-light);
}

.top-banner {
    padding-top: 220px;
    padding-bottom: 80px;
    margin-bottom: 100px;
}

.heading {
    font-weight: 700;
    font-size: var(--font-size-xxlarge);
    margin-bottom: 24px;
}

.subheading {
    font-weight: 700;
    font-size: var(--font-size-large);
    margin-bottom: 30px;
}

.logo {
    padding-top: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-image {
    height: 35px;
    width: auto;
    margin-right: 12px;
}

.logo-text {
    padding-top: 6px;
    font-weight: 600;
    font-size: var(--font-size-medium);
    color: var(--main-color-light);
}