heading {
    padding-top: 2.0rem;
    }

@media only screen and (min-width: 960px) {
    .flow-text {
        font-size: 1.48rem;
        }
    }

main, a {
    white-space: nowrap
    }

    .indented {
        padding-left: 15px !important;
    }
