.candidate-voted {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

.class-image{
  max-width:7rem;
  border-radius:0.5rem
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

.tablesorter-materialize .tablesorter-filter-row input.tablesorter-filter,
.tablesorter-materialize .tablesorter-filter-row select.tablesorter-filter {
  margin: 0 0 10px 0 !important;
}

.select-wrapper input.select-dropdown {
  margin: 0 0 10px 0 !important;
}

.tablesorter-materialize tfoot td,
.tablesorter-materialize tfoot th,
.tablesorter-materialize thead td,
.tablesorter-materialize thead th {
  background-color: transparent !important;
}

.tablesorter-materialize .tablesorter-filter-row {
  background-color: transparent !important;
}

ul {
  padding-left: 20px;
}

#foo.hide2 tr > *:nth-child(2) {
  display: none;
}