html, body {
    height: 100%;
}

header, main, footer {
    padding-left: 300px;
}

@media only screen and (max-width: 992px) {
    header, main, footer {
        padding-left: 0;
    }
}

main {
    min-height: 90%;
    min-height: -webkit-calc(100% - 437px);
    min-height: -moz-calc(100% - 437px);
    min-height: calc(100% - 437px);
    background-color: #fafafa;
}

.error {
    color: red;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

nav.top-nav a.page-title {
    line-height: 122px;
    font-size: 38px;
}

nav.top-nav {
    height: 122px;
    box-shadow: none;
}

ul.side-nav.fixed li.logo {
    text-align: center;
    margin-top: 10px;
}

#front-page-logo {
    display: inline-block;
    height: 100%;
    pointer-events: none;
}

#logo-container {
    height: 120px;
    margin-bottom: 5px;
}

.logo-text {
    font-family: "Roboto Condensed";
    font-weight: 300;
    margin-top: 10px;
}

ul.side-nav.fixed ul.collapsible-accordion a.collapsible-header {
    padding: 0 30px;
}

ul.side-nav.fixed li {
    line-height: 44px;
}

ul.side-nav.fixed a {
    font-size: 14px;
    line-height: 44px;
    height: 44px;
    font-weight: 400;
}

#heading {
    font-size: 3.56rem;
    font-family: "Roboto";
    font-weight: 300;
    margin-top: 0.0rem;
    padding-top: 0.5rem;
}

@media screen and (max-width: 690px) {
    #heading {
        font-size: 3.0rem;
        display: inline-block;
        line-height: inherit;
    }
}

#subheading {
    font-family: "Roboto Condensed";
    font-weight: 300;
    position: absolute;
    top: 1.7em;
}

section#top-title {
    padding-top: .1rem;
}

nav, footer.page-footer {
    color: #fff;
    background-color: #d81b60;
}

.detail-title {
    font-weight: 700;
    display: block;
}

.icon-text {
    vertical-align: middle
}

.heading {
    color: #d81b60;
    font-family: "Roboto";
    font-weight: 200;
    margin-top: 0.0rem;
}

.success-message {
    background-color: #7CE267 !important;
}

.info-message {
    background-color: #00e5ff !important;
}

.warning-message {
    background-color: #F8DC4D !important;
}

.error-message {
    background-color: #f44336 !important;
}

i.icon-green {
    color: green;
}

i.icon-red {
    color: red;
}

i.icon-gray {
    color: gray;
}

img.profile-circle {
    margin-left: 10px;
    width: 20%;
    height: 20%;
}

.side-nav li > a > i.material-icons {
    color: rgb(0, 0, 0);
    width: 2rem;
    font-size: 1.6rem;
    line-height: 3rem;
    display: block;
    float: left;
    text-align: center;
    margin-right: 1rem;
}

.side-nav .collapsible-body li a, .side-nav.fixed .collapsible-body li a {
    padding: 0 23.5px 0 45px;
}

.card-event {
    margin: 0rem 0 1rem 0;
}

.text-background {
    position: absolute;
    top: 250px;
    left: 140px;
    width: 500px;
    height: 50px;
    background-color: black;
    z-index: 0;
    opacity: 0.5;
}

.card-event-title {
    padding: 0px 10px;
    background-color: rgba(0, 0, 0, .2);
    width: 100%;
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%
    }
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%
}

@media only screen and (max-width: 600px) {
    footer.page-footer {
        padding-top: 20px;
        bottom: 0;
        margin: 0px;

    }

}

@media only screen and (min-width: 601px) {
    .container {
        width: 85%
    }

    footer.page-footer {
        padding-top: 20px;
        bottom: 0;
        margin: 0px;

    }
}

.container .row {
    margin-left: -0.75rem;
    margin-right: -0.75rem
}

@media only screen and (min-width: 993px) {
    .container {
        width: 85%
    }

    footer.page-footer {
        padding-left: 0px;
        margin-left: 300px;
    }
}

p {
    -webkit-font-smoothing: antialiased;
    overflow-wrap: break-word;

}

.mobile-fab-tip, .mobile-fab-tip:hover {
    position: fixed;
    right: 85px;
    padding: 0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width: auto;
    cursor: default
}

.django-ckeditor-widget {
    display: inherit !important;
}

#cke_id_description {
    width: 100%;
}

i {
    color: #d81b60;
}

i .micon {
    color: #263238;
}

.micon {
    color: #263238 !important;
}


/* Top nav background image */
nav, footer {
    background-image: url('/static/images/blur.png') !important;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
    color: #0486A5;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
    color: #83c6d3;
}

.btn {
    background-color: #0486A5;
}

.btn-floating {
    background-color: #0486A5 !important;
}

.prefix.active {
    color: #0486A5 !important;
}

.flow-text {
    overflow-wrap: break-word;
}

.section.no-pad-bot {
    padding-top: 2rem;
}


.breadcrumb:last-child {
    color: #263238 !important;
    font-weight: bold;
}

.breadcrumb {
    font-size: 18px;
    color: rgba(38,50,56, 0.7);
}

.breadcrumb:before {
    color: rgba(38,50,56, 0.7) !important;
}

@media only screen and (max-width: 390px) {
  #subheading {
    font-size: 1.924rem;
  }
  #heading {
      font-size: 2.224rem;
  }
}


/* CSS For konami code animation */
@keyframes rotate {
  100% {transform: rotate(360deg);}
}
@-webkit-keyframes rotate {
  100% {-webkit-transform: rotate(360deg);}
}

@-webkit-keyframes crazyAnimation {
  0% {color: #ff0000; background-color: #ff0080;}
  10% {color: #ff8000; background-color: #8000ff;}
  20% {color: #ffff00; background-color: #0000ff;}
  30% {color: #80ff00; background-color: #0080ff;}
  40% {color: #00ff00; background-color: #00ffff;}
  50% {color: #00ff80; background-color: #00ff80;}
  60% {color: #00ffff; background-color: #00ff00;}
  70% {color: #0080ff; background-color: #80ff00;}
  80% {color: #0000ff; background-color: #ffff00;}
  90% {color: #8000ff; background-color: #ff8000;}
  100% {color: #ff0080; background-color: #ff0000; -webkit-transform: rotate(360deg);}
}

@keyframes crazyAnimation {
  0% {color: #ff0000; background-color: #ff0080;}
  10% {color: #ff8000; background-color: #8000ff;}
  20% {color: #ffff00; background-color: #0000ff;}
  30% {color: #80ff00; background-color: #0080ff;}
  40% {color: #00ff00; background-color: #00ffff;}
  50% {color: #00ff80; background-color: #00ff80;}
  60% {color: #00ffff; background-color: #00ff00;}
  70% {color: #0080ff; background-color: #80ff00;}
  80% {color: #0000ff; background-color: #ffff00;}
  90% {color: #8000ff; background-color: #ff8000;}
  100% {color: #ff0080; background-color: #ff0000; transform: rotate(360deg);}
}

@-webkit-keyframes BgcrazyAnimation {
  0% {color: #ff0000; background-color: #ff0080;}
  10% {color: #ff8000; background-color: #8000ff;}
  20% {color: #ffff00; background-color: #0000ff;}
  30% {color: #80ff00; background-color: #0080ff;}
  40% {color: #00ff00; background-color: #00ffff;}
  50% {color: #00ff80; background-color: #00ff80;}
  60% {color: #00ffff; background-color: #00ff00;}
  70% {color: #0080ff; background-color: #80ff00;}
  80% {color: #0000ff; background-color: #ffff00;}
  90% {color: #8000ff; background-color: #ff8000;}
  100% {color: #ff0080; background-color: #ff0000; }
}

@keyframes BgcrazyAnimation {
  0% {color: #ff0000; background-color: #ff0080;}
  10% {color: #ff8000; background-color: #8000ff;}
  20% {color: #ffff00; background-color: #0000ff;}
  30% {color: #80ff00; background-color: #0080ff;}
  40% {color: #00ff00; background-color: #00ffff;}
  50% {color: #00ff80; background-color: #00ff80;}
  60% {color: #00ffff; background-color: #00ff00;}
  70% {color: #0080ff; background-color: #80ff00;}
  80% {color: #0000ff; background-color: #ffff00;}
  90% {color: #8000ff; background-color: #ff8000;}
  100% {color: #ff0080; background-color: #ff0000;}
}
/* End konami code animation css */