.div-container{
        text-align: center;
        padding-top: 0.9rem;
        padding-bottom: 0.9rem;
    }
.success-message{
    color:green;
}
.error-message{
    color:red;
}

/*Base election styling*/
.nav-bar-image{
    padding-right: 20px;
}
.nav-bar-title{
     color: #edcd2f;
}
.main-container{
    margin-left: 3rem;
    margin-right: 3rem;
    margin-top: 2rem;
    margin-bottom: 3rem;

}