:root {
  --text-color: white;
  --dark-background: #310033;
  --light-background: #4b004f;
}

.bodybackground{
  background-color: var(--dark-background);
  display:flex;
  align-items: center;
  justify-content: flex-start;
  height:100vh;
  padding: 25px;
}
.divbackground{
  border-radius: 25px;
  background: var(--light-background);
  padding: 20px;
  margin: auto;
  max-width: 650px;
  min-height: 92vh;
}

.cgplogo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 45%;
  padding-top: 100px;
  object-fit: contain;
  max-width: 100%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #1f265f;
  color: #d2d000;
  padding: 16px;
  width: 200px;
  font-size: 16px;
  border: none;
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 50px;
  text-align: center;
  width: 100%;
}



/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background-color: #1f265f;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  height: 200px;
  overflow: auto;
}

.dropdown-content::-webkit-scrollbar {
    width: 5px;
}


/* Track */
.dropdown-content::-webkit-scrollbar-track {
  background: #103f4;
}

/* Handle */
.dropdown-content::-webkit-scrollbar-thumb {
  background: #242a2b;
  border-radius: 2;
}

/* Handle on hover */
.dropdown-content::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #d2d000;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #00486d;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #00486d;}


.mainflag {
  width: 80%;
  display: block;
  margin: auto;
  margin-top: 10%;/* 100%-80%/2 */
}


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.draggable-list {
  border: 1px solid var(--text-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
}

.draggable-list li {
  background-color: var(--dark-background);
  display:flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--text-color);
}

.draggable-list .points {
  background-color: var(--dark-background);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 60px;
  height:60px;
}

.draggable-list .countryname {
  margin: 0 20px 0 0;

}

.draggable {
  background-color: var(--light-background);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex:1;
}

.countryname {
  color: var(--text-color);
  text-align: center;
  margin: 20px;
}
.legend {
  color: var(--text-color);
  display:flex;
  flex: 1;
  border: 1px solid var(--text-color);
}

.legend p {
  font-weight: bold;
  text-align: center;
  width: 60px;
  margin-bottom: 0;
  height:30px;
}
.legend p[id] {
  background-color: var(--dark-background);
}





