
#container {
  left: 0px;
  /*top: -100px;*/
  height: calc(100vh + 100px);
  position: absolute;
    width: 100vw;
}

#animate{
  margin: 0 auto;
  width: 20px;
  overflow: visible;
  position: relative;
}

#animate > span {
    font-family: 'Oswald', sans-serif;
    z-index: 10000;
    font-weight: bold;
    white-space: nowrap;
}