{% load staticfiles %}
<html>
  <head>
      <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <title> Høiskolens Chemikerforening </title>
  </head>

  <body>
    <div class="page-header">
      <h1><a href="/">Høiskolens Chemikerforening</a></h1>
    </div>
    <div>
      {% block content %}
      {% endblock content %}
    </div>
  </body>
