{% load staticfiles %}
{% load thumbnail %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>Høiskolens Chemikerforening</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400" rel="stylesheet">
    <link href="{% static "css/materialize.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static "css/style.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="{% static "css/timepicker.css" %}" media="screen,projection"/>

    <!-- JS -->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static "js/materialize.js" %}"></script>
    <script src="{% static "js/timepicker.js" %}"></script>
    <script src="{% static "js/init.js" %}"></script>
    <script src="{% static 'smart-selects/admin/js/chainedfk.js' %}"></script>

    {% block header %}
    {% endblock header %}

</head>
<body>

<header>
    <nav class="top-nav">
        <div class="container">
            <div class="nav-wrapper">
                <div class="section" id="top-title">
                    <a href="#" data-activates="slide-out" style="padding-right: 20px;" class="button-collapse">
                        <i class="material-icons">menu</i></a>
                    <h3 id="heading">{% block nav_header %}{% endblock nav_header %}</h3>
                    <h4 id=subheading>{% block nav_sub_header %}{% endblock nav_sub_header %}</h4>
                </div>
            </div>
        </div>
    </nav>


    <div class="nav-wrapper container">
        <ul id="slide-out" class="side-nav fixed" style="overflow-y:scroll;">
            <li class="logo">
                <a id="logo-container" href="/" class="brand-logo">
                    <object id="front-page-logo" type="image/jpg" data="/media/logo.png"></object>
                </a>
                <h4 class="logo-text">Høiskolens Chemikerforening</h4>
                <div class="divider"></div>
            </li>

            {% if user.is_authenticated %}
                <li>
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header">
                                <div class="valign-wrapper">
                                    <span style="padding-left: 50px; vertical-align: 20px;">{{ request.user.get_full_name }}</span>
                                    {% thumbnail request.user.profile.image_primary "100x100" crop="center" as im %}
                                        <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt=""
                                             class="circle profile-circle">
                                    {% endthumbnail %}
                                </div>
                            </div>
                            <div class="collapsible-body">
                                <ul>
                                    <li><a href="/profile/edit" class="waves-effect waves-teal">Endre profil</a></li>
                                    <li><a href="/logout/" class="waves-effect waves-teal">Logg ut</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </li>

            {% else %}
                <li class="bold"><a href="/login/">Logg inn</a></li>
            {% endif %}
            <li>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">info</i>Om HC</div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect waves-teal">Linjeforeningen</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Kontoret</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Kjellern</a></li>
                                <li><a href="#" class="waves-effect waves-teal">HCs lover</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header"><i class="material-icons">local_drink</i>Sosialt</div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect waves-teal">Bedrpess</a></li>
                                <li><a href="/events/" class="waves-effect waves-teal">Arrangementer</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li class="bold"><a href="#" class="waves-effect waves-teal"><i class="material-icons">local_drink</i>Ny
                student</a></li>
            <li class="bold"><a href="#" class="waves-effect waves-teal"><i class="material-icons">business</i>For
                bedrifter</a></li>
            <li class="bold"><a href="/shitbox/" class="waves-effect waves-teal"><i class="material-icons">hearing</i>Sladreboks</a>
            </li>
            <li class="bold"><a href="/bokskap/" class="waves-effect waves-teal"><i class="material-icons">inbox</i>Bokskap</a>
            </li>
            <li class="bold"><a href="#" class="waves-effect waves-teal"><i class="material-icons">contact_mail</i>Kontakt</a>
            </li>
            <li>
                <ul class="collapsible" data-collapsible="accordion">

                    <li>
                        <div class="collapsible-header"><i class="material-icons">people</i>Internt</div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="/klassekatalog/" class="waves-effect waves-teal">Klassekatalog</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Send inn bilder</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Søk kontortilgang</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Søknad om cash</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Retningslinjer for e-post</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Effektsalg</a></li>

                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <li>
                <ul class="collapsible" data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Undergrupper</div>
                        <div class="collapsible-body">
                            <ul>
                                <li><a href="#" class="waves-effect waves-teal">Mange</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Undergrupper</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Her</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Mange</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Undergrupper</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Her</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Mange</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Undergrupper</a></li>
                                <li><a href="#" class="waves-effect waves-teal">Her</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
        <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>


    </div>
</header>


<main>
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
            {% if messages %}
                <div class="row">
                    {% for message in messages %}
                        <div class="col s12 m6 l6">
                            <div class="card {{ message.level_tag }}-message darken-1">
                                <div class="card-content">
                              <span class="card-title black-text valign-wrapper" style="clear: both;">
                                  <i class="material-icons" style="padding-right: 10px;">priority_high</i>
                                  <h5>{{ message.extra_tags }}</h5>
                              </span>
                                    <p class="flow-text black-text">{{ message }}</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

            {% block content %}
            {% endblock content %}
            <br><br>
            <br><br>
        </div>
    </div>
</main>

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h5 class="white-text">HC</h5>
                <p class="grey-text text-lighten-4">We hope you have enjoyed using Materialize! If you feel Materialize
                    has helped you out and want to support the team, send us over a donation! Any amount would help
                    support and continue development on this project and is greatly appreciated.</p>
            </div>
            <div class="col l4 s12">
                <h5 class="white-text">Vi er best!</h5>
                <p class="grey-text text-lighten-4">YAY</p>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 1915-2016 HC, All rights reserved.
            <a class="grey-text text-lighten-4 right" href="https://github.com/Dogfalo/materialize/blob/master/LICENSE">MIT
                License</a>
        </div>
    </div>
</footer>


<!--  Scripts-->

<!-- All cards with a paragraph tag will get larger text -->
    <script>
    $('.card-content').each(function(){
       $(this).children('p').addClass('flow-text')
    });
    </script>

{% block footer_js_files %}
{% endblock %}

{% block footer_script %}
{% endblock footer_script %}

</body>
</html>
