{% extends "chemie/base_election.html" %}

{% block content %}
  <div>
    <div>
      <a href="/elections/" class="button" style="margin-bottom: 10px">&#8592; Gå tilbake</a>
      {% for election in elections %}
        <div class="box">
          <h5 class="title is-3">Resulater fra valget {{ election.date }}</h5>
          <table class="table">
            <tr>
              <th>Posisjon</th>
              <th>Vinner</th>
            </tr>
            {% for position in election.positions.all %}
              {% if position.voting_done %}
                <tr>
                  <td>{{ position }}</td>
                  <td>
                    {% for winner in position.winners.all %}
                      {% if forloop.last %}
                        {{ winner }}
                      {% else %}
                        {{ winner }},
                      {% endif %}
                    {% endfor %}
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </table>
          {{ position }}
        </div>
      {% endfor %}
    </div>
  </div>


{% endblock content %}