{% extends "chemie/base_election.html" %}
{% load thumbnail %}
{% load static %}

{% block content %}

<div>
    <div style="text-align: center">
         {% for message in messages %}
        <!-- TODO: Style alert for user not voting correctly-->
            <div class="alert alert-success">
                <a class="close" href="#" data-dismiss="alert">×</a>
                {{ message }}
            </div>
        {% endfor %}
        <div>
            <h3 class="title is-2">{{ position.position_name }}</h3>
            <h4>Det skal velges <b>{{ position.spots }}</b> til dette vervet</h4>
            <hr color="black">
        </div>
        <br>
        <div>
            <form method="POST">{% csrf_token %}
                <div>
                    <form method="POST" class="viewform">
                        {% csrf_token %}
                            {%for candidate in form.candidates%}
                        <div class='box' onclick="changeColor(this)">
                            {{candidate}}
                        </div>
                        {%endfor%}
                        <input class="button" type='submit' style="margin-right: 10%; margin-bottom: 10%" name="Blank" value='Stem blankt'/>
                        <input class="button is-success" type='submit'  value='Avgi stemme'/>
                    </form>
                </div>
            </form>


        </div>
    </div>
</div>


{% endblock content %}

{% block footer_script %}
<script src="{% static 'material/js/jquery.js' %}"></script>
<script>
changeColor = function(block){
    var input = block.children[0].children[0];
    console.log(input);
    console.log(input.checked);
    if (input.checked) {
        block.style.backgroundColor='gray';
    } else {
        block.style.backgroundColor='transparent';
    }
}
</script>

<style>
    .box {
        width:40%;
        height:20%;
        padding: 20px;
        border-radius: 25px;
        margin: 10px;
    }

    .box input{
        opacity: 0;
    }
    .vote-image {
        max-width: 40%;
    }
</style>
{% endblock footer_script %}