{% extends "chemie/base_election.html" %}
{% load thumbnail %}
{% load static %}

{% block style %}
    .div-blank{
        margin-top: 2rem;
    }

    .close{
        opacity: 0;
        cursor: default;
    }

    .vote-box {
        border-color: black;
        margin-bottom: 1.5rem;
    }

    .vote-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .vote-box input {
        opacity: 0;
    }

    .vote-image {
        display: inline;
        background-color: transparent;
        border-color: transparent;
        border: 3px solid transparent;
        border-radius: 30%;
        margin-right: 1.5rem;
        padding: 5px;
        width: 150px;
        box-shadow: 2px 2px 4px 3px #ccc;
    }
{% endblock style %}

{% block content %}
<div>
  <div class="div-container">
    {% if form.errors %}
      {% for field in form %}
        {% for error in field.errors %}
          <!-- TODO: Style alert for user not voting correctly-->
          <div class="alert alert-dismissable">
            <a class="close" href="#" data-dismiss="alert">×</a>
              {{ error }}
          </div>
        {% endfor %}
      {% endfor %}
    {% endif %}
    <div>
      <h3 class="title is-2">{{ position.position_name }}</h3>
      <h4>Det skal velges <b class="title is-4">{{ position.spots }}</b> til dette vervet</h4>
      <hr color="black">
    </div>
    <br>
    <div>
      <form method="POST"  onsubmit="return confirmValg(this)">{% csrf_token %}
        <div class="vote-div">
          {% for candidate in form.candidates %}
            <div class='vote-box' onclick="changeColor(this)">
              {{ candidate }}
            </div>
          {% endfor %}
        </div>
        <hr color="black">
        <input class="button is-success" type='submit' name="Stem" value='Avgi stemme'/>
      </form>
      <div class="div-blank">
        <hr color="black">
        <form method="POST" onsubmit="return confirmBlank(this)">{% csrf_token %}
            <input class="button is-danger" type='submit' name="Blank" value='Stem blankt'/>
        </form>
        <p>
            NB: Å stemme blankt betyr at du er imot alle alternativene du har tilgjengelig.
            Du benytter kun dette alternativet dersom du ikke vil stemme på NOEN av kandidatene.
            Husk at du har lov til å stemme på færre enn det antallet som skal velges inn.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer_script %}
<script src="{% static 'material/js/jquery.js' %}"></script>
<script>
    changeColor = function (block) {
        var input = block.children[0].children[0];
        var image = block.children[0].children[1];
        //removing or adding shadow to box to visualize checked or not checked
        if (input.checked) {
            image.style.backgroundColor = '#edcd2f';
            image.style.boxShadow = '1px 1px 2px 0px #ccc';
        } else {
            // block.style.backgroundColor='transparent';
            image.style.backgroundColor = 'transparent';
            image.style.borderColor = 'transparent';
            image.style.boxShadow = '2px 2px 4px 3px #ccc';
        }
    }
</script>
<script>
    var spots = {{ position.spots }};
    console.log(spots);
    function confirmValg(form) {
        if (!form) {
            return false
        } else {
            var inputs = document.getElementsByClassName('vote-box');
            var lengthOfInputs = inputs.length;
            var selectedCandidates = [];
            // Extracting the names of candidates which are checked to confirmation message.
            for (i = 0; i < lengthOfInputs; i++) {
                var candidateChecked = inputs[i].childNodes[1].childNodes[0].checked;
                if (candidateChecked) {
                    var candidateName = inputs[i].childNodes[1].childNodes[3].innerText;
                    var name = `\n${candidateName}`;
                    selectedCandidates.push(name);
                }
            }
            if (selectedCandidates.length == 0){
                var message = "Du har ikke valg noen kandidater";
            } else if (selectedCandidates.length < spots) {
                var message = `Du stemmer kun på ${selectedCandidates.length} av ${spots} plasser \n` + selectedCandidates;
            } else {
                var message = 'Du stemmer nå på: \n' + selectedCandidates;
            }
            return confirm(message)
        }
    }
</script>
<script>
    function confirmBlank(form){
        if (!form){
            return false
        } else {
            return confirm("Du stemmer nå blankt")
        }
    }
</script>
{% endblock footer_script %}