{% extends "chemie/base_election.html" %}

{% block style %}
.success-container{

align-self: center;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
{% endblock style %}

{% block content %}
<div>
  <div class="alert alert-success" style="text-align:center">
    <strong>Vellykket!</strong> Din stemme har blitt registrert!
  </div>
  <div style="text-align: center">
    <a href="{% url 'elections:index'%}" class="btn btn-secondary" style="text-align: center">Gå tilbake</a>
  </div>
</div>

{% endblock %}