{% extends "chemie/base_election.html" %}

{% block content %}
<style>
  .success-container{

    align-self: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
</style>

<div class="block success-container" >
  <article class="message is-success">
    <div class="message-header">
      <p>Du har stemt!</p>
    </div>
    <div class="message-body">
      <a href="/elections/" class="button" >Gå tilbake</a>
    </div>
  </article>
</div>



{% endblock %}