{% extends "chemie/base.html" %}
{% load static %}


{% block header %}
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.9/css/theme.materialize.min.css">
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.9/js/jquery.tablesorter.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.9/js/widgets/widget-output.min.js"></script>
  <script type="text/javascript"
          src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tablesorter/2.28.9/js/jquery.tablesorter.widgets.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

  <script>
      var paymentList = {}
      $(function () {
          var $table = $('table');
          $('.download').click(function () {
              // tell the output widget do it's thing
              $table.trigger('outputTable');
          });

          $table.tablesorter({
              theme: "materialize",
              widgets: ['zebra', 'output', 'filter'],
              widgetOptions: {
                  output_delivery: 'd',
                  zebra: ["even", "odd"],
                  output_saveFileName: 'påmeldte_{{ event.title }}.csv',
                  filter_cssFilter: ["", "", "browser-default"],

                  // add 'selectmenu' class name to first filter
                  filter_selectSource: {
                      3: [ // membership column
                          {value: 'local_play', 'data-class': 'ui-icon-image', text: 'Medlem'},
                          {value: '-', 'data-class': 'ui-icon-image', text: 'Ikke medlem'}
                      ],
                      4: [ // Payment column
                          {value: 'done', 'data-class': 'ui-icon-image', text: 'Betalt'},
                          {value: 'error', 'data-class': 'ui-icon-image', text: 'Ikke betalt'}
                      ],
                      5: [ // Registrations status column
                          {value: 'done', 'data-class': 'ui-icon-image', text: 'Bekreftet'},
                          {value: 'error', 'data-class': 'ui-icon-image', text: 'Venteliste'}
                      ],

                      6: [ // Arrival status column
                          {value: 'done', 'data-class': 'ui-icon-image', text: 'Møtt'},
                          {value: 'error', 'data-class': 'ui-icon-image', text: 'Ikke møtt'}
                      ]
                  }
              }
          });
      });
  </script>

  <style>
    .tablesorter-materialize .tablesorter-filter-row input.tablesorter-filter, .tablesorter-materialize .tablesorter-filter-row select.tablesorter-filter {
      margin: 0 0 10px 0 !important;
    }

    .select-wrapper input.select-dropdown {
      margin: 0 0 10px 0 !important;
    }

    .tablesorter-materialize tfoot td, .tablesorter-materialize tfoot th, .tablesorter-materialize thead td, .tablesorter-materialize thead th {
      background-color: transparent !important;
    }

    .tablesorter-materialize .tablesorter-filter-row {
      background-color: transparent !important;
    }

    ul {
      padding-left: 20px;
    }

    #foo.hide2 tr > *:nth-child(2) {
      display: none;
    }


  </style>
{% endblock header %}

{% block nav_header %}
  Arrangementer
{% endblock nav_header %}

{% block nav_sub_header %}
  Påmeldte - {{ object.title }}
{% endblock nav_sub_header %}

{% block content %}
  <div class="row">
    <div class="col s12 m12 l12"><h3 class="heading">{{ event.title }}</h3></div>
  </div>
  <div class="row">
    <div class="col s12 m12 l10">
      <p class="flow-text">
        Søk og filtrering blant de påmeldte. <br>
        Trykk på "LAST NED" for å laste ned påmeldinglisten som excelfil.
        Filtrering og sortering påvirker innholdet og oppsettet til excelfilen som lastes ned

      </p>
      <button class="download btn">Last ned</button>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m12 l10">
      <table id="myTable" class="tablesorter">
        <thead>
        <tr>
          <th>Navn</th>

          <th class="filter-select filter-exact">Klassetrinn</th>
          <th>Allergier</th>
          <th class="filter-select filter-exact">HC-medlemsskap</th>
          {% if social %}
            <th class="filter-select filter-exact">Betalingsstatus</th>
          {% endif %}
           {% if event.night_snack %}
              <th>Nattmat</th>
            {% endif %}
            {% if event.companion %}
              <th>Følge</th>
            {% endif %}
            {% if event.sleepover %}
              <th>Overnatting</th>
            {% endif %}
            <th>Epost</th>
          {% if is_bedpres or social_has_checkin %}
            <th>Oppmøtestatus</th>
          {% endif %}
        </tr>
        </thead>

        <tbody style="width:100%">
        {% for attendee in attendees %}
          <tr>
            <td>{{ attendee.user.profile }} </td>
            <td>{{ attendee.user.profile.grade }}</td>
            <td>{{ attendee.user.profile.allergies|default_if_none:"" }}</td>
            <td>{% if attendee.user.profile.membership.is_active %}
              <i class="material-icons">local_play</i>
            {% else %}
              -
            {% endif %}</td>
            {% if social %}
              <td>
                {% if attendee.payment_status %}
                  <a class="payment btn-floating btn-tiny waves-effect waves-light green"
                     id="payment-{{ attendee.id }}"><i class="material-icons">done</i></a>
                {% else %}
                  <a class="payment btn-floating btn-tiny waves-effect waves-light red"
                     id="payment-{{ attendee.id }}"><i class="material-icons">error</i></a>
                {% endif %}
              </td>
            {% endif %}

            {% if event.night_snack %}
              <td>{% if attendee.night_snack %}
                <i class="material-icons">done</i>
              {% else %}
                <i class="material-icons">clear</i>
              {% endif %}</td>
            {% endif %}

            {% if event.companion %}
              <td>{% if attendee.companion %}
                <p>{{ attendee.companion }}</p>
              {% else %}
                <i class="material-icons">remove</i>
              {% endif %}</td>
            {% endif %}

            {% if event.sleepover %}
              <td>
                <div style="position: center">
                  {% if attendee.sleepover %}
                    <i class="material-icons">done</i>
                  {% else %}
                    <i class="material-icons">clear</i>
                  {% endif %}
                </div>
              </td>
            {% endif %}

            <td>{{ attendee.user.email }} </td>

            {% if is_bedpres or social_has_checkin %}
            <td><center>
            {% if attendee.arrival_status == 2 %} <!-- This means present -->
              <a class="arrival btn-floating btn-tiny waves-effect waves-light green"
                 id="arrival-{{ attendee.id }}"><i class="material-icons">done</i></a>
            {% else %}
              <a class="arrival btn-floating btn-tiny waves-effect waves-light red"
                 id="arrival-{{ attendee.id }}"><i class="material-icons">error</i></a>
            {% endif %}
            </center></td>
          {% endif %}

          </tr>
          <script>
              paymentList["{{attendee.id}}"] = ["{{attendee.user.profile}}", ("{{ attendee.payment_status}}".toLowerCase() == "true")]
          </script>
        {% endfor %}
        </tbody>
      </table>
      {% if not is_bedpres %}
        <p class="flow-text" style="padding-top: 3rem">Betalingsoversikt
        <div class="progress" style="width: 100%">
          <div class="determinate" style="width:{{ percentage_paid }}%"></div>
        </div>
        </p>
        <div align="right" id="paidcounter"></div>
        <script>
            var totalPaid = 0;
            var totalNotPaid = 0
            for (var key in paymentList) {
                // check if the property/key is defined in the object itself, not in parent
                if (paymentList.hasOwnProperty(key)) {
                    if (paymentList[key][1]) {
                        totalPaid += 1
                    } else {
                        totalNotPaid += 1
                    }
                }
            }

            document.getElementById("paidcounter").innerHTML = "{{ total_paid }} har betalt • {{ total_not_paid }} har ikke betalt"
        </script>
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block footer_script %}
  <script src="{% static 'js/boolean_status_widget.js' %}" type='text/javascript'></script>
  <script>
      $(document).ready(function () {
          $('.payment').on('click', function (event) {
              //$('.payment').live('click', function(event){
              event.preventDefault();
              var myID = $(this).attr("id").split('-')[1];
              var csrftoken = getCookie('csrftoken');

              var changePayment = true
              if (paymentList[myID][1]) {
                  changePayment = confirm("Endre betalingsstatus for " + paymentList[myID][0] + " fra betalt til ikke betalt?")
              }
              if (changePayment) {
                  paymentList[myID][1] = !paymentList[myID][1]
                  $.ajax({
                      type: "POST",
                      url: "/events/social/adminlist/paymentstatus/" + myID,
                      datatype: "json",

                      success: function (json) {
                          totalPaid += (paymentList[myID][1]) ? 1 : -1
                          totalNotPaid += (paymentList[myID][1]) ? -1 : 1
                          icon_changer("#payment-" + myID, json.payment_status)
                          document.getElementById("paidcounter").innerHTML = totalPaid.toString() + " har betalt • " + totalNotPaid.toString() + " har ikke betalt"
                      },

                      error: function (xhr, errmsg, err) {
                          // console.log(xhr.status + ": " + xhr.responseText);
                      },
                  });
              }
          })


          $('.arrival').on('click', function (event) {
              event.preventDefault();
              var myID = $(this).attr("id").split('-')[1];
              var csrftoken = getCookie('csrftoken');
              $.ajax({
                  type: "GET",
                  url: "/events/bedpres/adminlist/arrivalstatus/" + myID,
                  datatype: "json",

                  success: function (json) {
                      icon_changer("#arrival-" + myID, json.arrival_status)
                  },

                  error: function (xhr, errmsg, err) {
                      //console.log(xhr.status + ": " + xhr.responseText);
                  },
              });
          })
      });
      $(document).ready(function () {
          $.ajaxSetup({
              headers: {'X-CSRFToken': Cookies.get('csrftoken')}
          });
      });
  </script>
{% endblock %}