{% extends "chemie/base.html" %}
{% load thumbnail %}
{% load staticfiles %}

{% block nav_header %}
    Arrangementer
{% endblock nav_header %}

{% block nav_sub_header %}
    Detaljer
{% endblock nav_sub_header %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l12"><h1 class="heading">{{ event.title }}</h1></div>
    </div>

    <div class="row">
        <div class="col l7 m12">
            {% thumbnail event.image "1600" crop="center" as im %}
                <img class="responsive-img materialboxed" src="{{ im.url }}">
            {% endthumbnail %}
        </div>

        <div class="col l5 m12 s12">
            <div class="card card-event">
                <div class="card-content">
                    <div class="section">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">location_on</i>
                            <h5 class="left-align">Hvor</h5>
                        </div>
                        <p>{{ event.location }}</p>
                    </div>
                    <div class="divider"></div>

                    <div class="section">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">access_time</i>
                            <h5 class="left-align">Når</h5>
                        </div>
                        <p>{{ event.date|date:"j. F - H:i" }}</p>
                    </div>
                    <div class="divider"></div>

                    <div class="section">
                        <div class="valign-wrapper">
                            <i class="material-icons valign left">attach_money</i>
                            <h5 class="left-align">Pris</h5>
                        </div>
                        <div>
                            <p class="left valign"><b>Medlem:</b></p>
                            <p class="right valign">{{ event.price_member }} kr</p>
                        </div>
                        <br>
                        <div>
                            <p class="left valign"><b>Ikke-medlem: </b></p>
                            <p class="right valign">{{ event.price_not_member }} kr</p>
                        </div>
                        <br>
                        {% if event.companion %}
                            <div>
                                <p class="left valign"><b>Eksternt følge: </b></p>
                                <p class="right valign">{{ event.price_companion }} kr</p>
                            </div>
                        {% endif %}
                    </div>
                </div>
                <div class="divider"></div>
            </div>

        </div>
    </div>

    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <h5>Beskrivelse:</h5>
                    <p class="flow-text"> {{ event.description|safe }} </p>
                </div>
            </div>
        </div>
        <div class="col s12 m12 l12">
            <div class="card">
                <div class="card-content">
                    <h5>Betalingsinformasjon:</h5>
                    <p class="flow-text"> {{ event.payment_information }} </p>
                </div>
            </div>
        </div>
    </div>
    <a class="waves-effect waves-light btn" href="{{ event.get_absolute_registration_url }}">Til påmelding</a>
    <div class="row">
        <h2>Påmeldte</h2>
        <table class="responsive-table">
            <thead>
            <tr>
                <th data-field="first-grade">Første</th>
                <th data-field="second-grade">Andre</th>
                <th data-field="third-grade">Tredje</th>
                <th data-field="fourth-grade">Fjerde</th>
                <th data-field="fifth-grade">Femte</th>
                <th data-field="third-grade"> Ferdig</th>
            </tr>
            </thead>

            <tbody>
            {% for first,second,third,fourth,fifth,done in attendees %}
                <tr>
                    <td>{% if first %}{{ first }}{% endif %}</td>
                    <td>{% if second %}{{ second }}{% endif %}</td>
                    <td>{% if third %}{{ third }}{% endif %}</td>
                    <td>{% if fourth %}{{ fourth }}{% endif %}</td>
                    <td>{% if fifth %}{{ fifth }}{% endif %}</td>
                    <td>{% if done %}{{ done }}{% endif %}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {% if attendees_waiting %}
        <div class="row">
            <h2>Venteliste</h2>
            <table class="responsive-table">
                <thead>
                <tr>
                    <th data-field="first-grade">Første</th>
                    <th data-field="second-grade">Andre</th>
                    <th data-field="third-grade">Tredje</th>
                    <th data-field="fourth-grade">Fjerde</th>
                    <th data-field="fifth-grade">Femte</th>
                    <th data-field="third-grade"> xyz</th>
                </tr>
                </thead>

                <tbody>
                {% for first,second,third,fourth,fifth in attendees_waiting %}
                    <tr>
                        <td>{% if first %}{{ first }}{% endif %}</td>
                        <td>{% if second %}{{ second }}{% endif %}</td>
                        <td>{% if third %}{{ third }}{% endif %}</td>
                        <td>{% if fourth %}{{ fourth }}{% endif %}</td>
                        <td>{% if fifth %}{{ fifth }}{% endif %}</td>
                        <td>{% if done %}{{ done }}{% endif %}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% endif %}
{% endblock content %}
