{% load thumbnail %}
<style>
    #social, #bedpres {
        border-radius: 0 0 8px 8px;
        <!---box-shadow: 1px 1px;--->
    }

    #frontpage_event_header {
        border-radius: 8px 8px 0 0;
        <!---box-shadow: 1px 1px;--->
    }

    p {
        margin: 0;
        color: var(--card-text);
    }

    p.colhov {
        -o-transition: .2s;
        -moz-transition: .2s;
        -webkit-transition: .2s;
        transition: .2s;
    }

    a:hover p.colhov {
        color: var(--extra-color)
    }
</style>


{% for event in object_list|slice:":5" %}
    <a href="{{ event.get_absolute_url }}">
        <p class="flow-text truncate" style="font-weight: normal; font-size: 1.34rem;">
            {{ event.title }}
        </p>
        <p class="flow-text truncate colhov" style="font-weight: normal; font-size: 1rem;">{{ event.date|date:"j F - H:i" }}</p>
    </a>
    <hr>
    <!--<p class="flow-text truncate" style="font-size: 12px">{{ event.registered_users|default_if_none:0 }}
        av {{ event.sluts }} påmeldte</p>
    <div class="progress">
        <div class="determinate" style="width: {{ event.percentage_filled }}%"></div>
    </div> -->

{% endfor %}
