{% extends "chemie/base.html" %}
{% block nav_header %}
  <div style = "text-transform: capitalize">{{ event_text }}er</div>
{% endblock nav_header %}

{% block nav_sub_header %}
  Oversikt
{% endblock nav_sub_header %}


{% block content %}
  {% if isbedpres == None %}
  {% url "events:create" as create %}
  {% url "events:delete" as delete %}
  {% url "events:past" as past %}

  {% else %}
  {% url "events:create_bedpres" as create %}
  {% url "events:delete_bedpres" as delete %}
  {% url "events:past_bedpres" as past %}
  {% endif %}


  {% if perms.events %}
    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
      <a class="btn-floating btn-large">
        <i class="large material-icons">edit</i>
      </a>
      <ul>
        {% if perms.events.delete_event %}
          <li>
            <a class="btn-floating red" href="{{ delete }}">
                <i class="material-icons">delete_forever</i></a>
            <a class="btn-floating mobile-fab-tip">Slett</a>
          </li>
        {% endif %}
        {% if perms.events.add_event %}
          <li>
            <a class="btn-floating blue" href="{{ create }}"><i class="material-icons">add</i></a>
            <a class="btn-floating mobile-fab-tip">Nytt {{ event_text }}</a>
          </li>
        {% endif %}
      </ul>
    </div>
  {% endif %}


  <div class="row">
    <div class="col s12">
      <ul class="tabs z-depth-1">
        <li class="tab col s4"><a class="active" href="#futureEvents">Kommende {{ event_text }}er</a></li>
        <li class="tab col s4"><a href="#myEvents">Mine festeligheter</a></li>
        <li class="tab col s4"><a target="_self" href="{{ past }}">Tidligere {{ event_text }}er</a></li>
      </ul>
      <div id="futureEvents" class="col s12">
        {% include "events/list_events.html" %}
        {% if not events %}
          <p class="flow-text">Det er ingen aktive {{ event_text }}er nå. Finn på noe kult da vel!</p>
        {% endif %}
      </div>
      <div id="myEvents" class="col s12">
        {% include "events/list_events.html" with events=my_events %}
        {% if user.is_authenticated %}
          {% if not my_events %}
            <p class="flow-text">Du er ikke påmeldt noen {{ event_text }}er. Finn på noe sprell!</p>
          {% endif %}
        {% else %}
          <p class="flow-text">Vennligs <a href="{% url "login" %}">logg inn</a> for å se dine aktive {{ event_text }}er.</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock content %}