{% extends "chemie/base.html" %}
{% load static %}
{% load material_form %}

{% block header %}

{% endblock header %}

{% block nav_header %}
   Arrangementer
{% endblock nav_header %}

{% block nav_sub_header %}
  Påmelding
{% endblock nav_sub_header %}

{% block content %}
  <div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
      <a href="{% url "events:index_social" %}" class="breadcrumb">Arrangementer</a>
      <a href="{{ event.get_absolute_url }}" class="breadcrumb">{{ event.title }}</a>
      <a class="breadcrumb">Påmelding</a>
  </div>

{% include 'events/registration_header.html' with event=event %}

  {% if registration_form %}
    <p class="flow-text">Okei folkens! Gløym at dykk ikkje fekk væra me på soleis store slåttemda festen sist
      gang. Det er no det gjeld!</p>
    {% if not allowed_grade %}
      <p class="flow-text">
        Ditt klassetrinn er ikke invitert til dette arrangementet.
        Du kan fortsatt melde din interesse dersom det åpnes plasser.
      </p>
      {% endif %}

    <form method='POST' id="registration">{% csrf_token %}

      {% form form=registration_form %}

      {% endform %}

      <h6>Høiskolens Chemikerforenings <a href="https://chemie.no/wiki/webkom/samtykkeerklaering-arrangement/"
                                         target="_blank">samtykkeerklæring for arrangementer</a></h6>

      <button class="waves-effect waves-light btn btn-primary" name="register_or_edit"
      id="register_or_edit" type="submit" disabled>{% if registered %}
      Endre registrasjon{% else %}Meld meg på!{% endif %}</button>

    </form>
  {% else %}

    {% if not event.registration_has_opened %}
      Påmeldingen åpner om {{ event.register_startdate|timeuntil }}
    {% else %}
      Påmeldingsfristen har passert.
    {% endif %}
{% endif %}
{% endblock content %}

{% block footer_js_files %}
  <script src="{% static 'events/enable_register.js' %}"></script>
{% endblock footer_js_files %}
