<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "events:index" %}" class="breadcrumb">Arrangementer</a>
    <a href="{{ event.get_absolute_url }}" class="breadcrumb">{{ event.title }}</a>
    <a class="breadcrumb">Påmelding</a>
</div>
<div class="row">
    <div class="col s12 m12 l12"><h3 class="heading">{{ event.title }}</h3></div>
</div>
<div class="row">
    <div class="col l6 m12 s12">
        <div class="card">
            <div class="card-content">
                <div class="valign-wrapper">
                    <i class="material-icons valign left">date_range</i>
                    <h5 class="left-align">Datoer</h5>
                </div>
                <div>
                    {% if event.is_open %}
                        <p class="left valign"><b>Påmeldingen er åpen!</b></p>
                    {% else %}
                        <p class="left valign"><b>Påmeldingen åpner:</b></p>
                        <p class="right valign">{{ event.register_startdate|date:"j. F - H:i" }}</p>
                    {% endif %}
                </div>
                <br>
                <div>
                    <p class="left valign"><b>Påmeldingsfrist: </b></p>
                    <p class="right valign">{{ event.register_deadline|date:"j. F - H:i" }}</p>
                </div>
                <br>
                <div>
                    <p class="left valign"><b>Avmeldingsfrist: </b></p>
                    <p class="right valign">{{ event.deregister_deadline|date:"j. F - H:i" }}</p>
                </div>
                <br>
            </div>
        </div>
    </div>
</div>