{% extends "shop/base_shop.html" %}
{% load staticfiles %}
{% load thumbnail %}

<head>
  <meta charset="UTF-8">
  <title>Chemshop</title>
</head>

{% block nav_header %}
Chemshop
{% endblock nav_header %}

{% block nav_sub_header %}
Opprett kategori
{% endblock nav_sub_header %}

{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
  <a href="{% url "shop:index" %}" class="breadcrumb">Shop</a>
  <a href="{% url "shop:admin" %}" class="breadcrumb">Admin</a>
  <a class="breadcrumb">Legg inn Kategori</a>
</div>
<div>
  <form method="POST">{% csrf_token %}
    {{ form.as_p }}
    <input class="btn btn-primary pull-right" type='submit' value='Lagre kategorien!' />
  </form>
</div>
<div>
  <h4>Alle kategorier</h4>
  {% for category in categories %}
  <div class="collection"
    style="padding:0.4rem;  height:3rem; display:flex; flex-wrap:wrap; justify-content:center; align-items:center">
    {{category.name}}
  </div>
  {% endfor%}

</div>
</div>

{% endblock content %}