{% extends "chemie/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

<head>
  <meta charset="UTF-8">
  <title>Chemshop</title>
</head>

{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
  <a href="{% url "shop:index" %}" class="breadcrumb">Shop</a>
  <a href="{% url "shop:admin" %}" class="breadcrumb">Admin</a>
  <a class="breadcrumb">Legg inn vare</a>
</div>
<div style="display:inline">
  <form enctype="multipart/form-data" method="POST" style="display:inline; margin:auto">{% csrf_token %}
    {{ form.media }}
    {{ form.as_p }}
    <input class="btn btn-primary pull-right" type='submit' value='Lagre varen!' />
  </form>
  <button onclick="location.href='{% url "shop:add-category" %}'" class="btn waves-effect waves-light"
    style="display:inline; float: right">Lag Ny kategori
    <i class="material-icons right">add</i>
  </button>
</div>
<div id="itemList">
  <table style="width:100%" id="shopping-table">
    <tr class="ul-item-list" style="height:3rem">
      <th>Vare</th>
      <th>Pris</th>
      <th>Kategori</th>
      <th>Aktiv</th>
      <th></th>
    </tr>
    {% for item in items %}
    <tr class="item-list" id="item-list-{{item.name}}">
      <td>{{ item.name }}</td>
      <td>{{ item.price }}</td>
      <td>{{ item.category }}</td>
      <td>{{ item.is_active }}</td>
      <td style="float: right;"> <a type="submit" class="btn" href="{% url "shop:edit-item" item.pk %}">Endre</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}

{% block footer_script %}
<script>
  $('select').formSelect();
</script>
{% endblock footer_script %}