{% extends "shop/base_shop.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}

<head>
  <meta charset="UTF-8">
  <title>Kontoret</title>
</head>

{% block style %}
<style>
  .asteriskField {
    color: red;
  }

  #submit-id-submit {
    background-color: #6c757d;
    border-color: #6c757d;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2
  }
</style>
{% endblock style %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
    <li class="breadcrumb-item "><a href="{%url "shop:index"%}" style="color:#edcd2f">Forside</a>
    </li>
    <li class="breadcrumb-item "><a href="{%url "shop:admin"%}" style="color:#edcd2f">Admin</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Legg til vare</li>
  </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}
<!-- Modal -->
<div class="modal fade" id="happyModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Forklaring på tablet-bruker og aktive varer</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><b>Vare med telefon:</b> En vare må i utgangspunktet alltid kjøpes via nettbrettet og scanning av kort, men
          ved å krysse av "Kunde kan kjøpe vare med telefon?" vil kundene
          kunne kjøpe varen på telefonen sin uten å måtte scanne kortet sitt. Intensjonen for implementering er å sørge
          for
          at brukeren letter kan kjøpe mindre varer som vafler og kaffekanner på telefonen uten å måtte stå i kø.
        </p>
        <p><b>Aktive varer:</b> Grunnet historikk lagret i databasen vil ikke varer eller kategorier kunne slettes.
          Derimot kan varer bli satt til inaktive. Inaktive varer vil ikke dukke opp i butikken. Det samme gjelder
          kategorier som ikke har noen
          tilknyttede varer.
        </p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="mobileModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Happy Hour-duplikat</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Happy Hour-duplikat er varen som kunden automatisk får lagt inn i handlekurven sin
          når det er Happy Hour.</p>
        <p>
          <b>Eksempel:</b> For å lage en 2-for-1-Happy Hour-vare må admin først opprette en Happy Hour-vare (f.eks
          Happy Hour-øl)
          til 0 kr. Deretter må admin opprette hovedvaren i kiosken og gi den sin rette pris ( f.eks "Øl" til 30 kr). Da
          legger admin
          samtidig til varen "Happy Hour-øl" som Happy Hour-duplikat til varen "Øl".
          Når admin velger å aktivere Happy Hour vil da Happy Hour-øl automatisk legges
          til handlekurven til kunden
          under Happy Hour</p>
        <p>
          Dette systemet kan også brukes til å lage kampanjer som "Kjøp en øl, få med en nudelpakke på slengen!", eller
          "Kjøp en vin, få en Cava til halv pris!"
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Lukk</button>
      </div>
    </div>
  </div>
</div>
<!-- Form with add item -->
<div style="display:inline">
  <form enctype="multipart/form-data" method="POST" style="display:inline; margin:auto">{% csrf_token %}
    <table style="">
      {{ form.media }}
      {% crispy form %}
      <button type="button" class="btn btn-seccondary" data-toggle="modal" data-target="#happyModal"
        style="background-color: transparent">
        <a><i class="material-icons">
            help_outline
          </i></a>
      </button>

    </table>
    <button type="button" class="btn btn-seccondary" data-toggle="modal" data-target="#mobileModal"
      style="float:right; margin-top:-13rem; background-color: transparent">
      <a><i class="material-icons">
          help_outline
        </i></a>
    </button>

    <!--  -->

    <a class="btn btn-secondary" href="{% url "shop:add-category" %}" role="button"
      style="float:right; margin-top:-2.5rem">Legg til ny
      kategori</a>
  </form>
</div>

<div style ="margin-top: 30px">
    <form method="POST" >
      {% csrf_token %}
      <div style = "display: flex;flex-direction: row">
        <div style ="padding: 10px">
            <label for="filterActiveItems">Kun aktive varer: </label>
            <input type="checkbox" id="filterActiveItems" name="filterActiveItems" value="1" {% if initialCheckboxState %}checked{% endif %}>
            <input type="hidden" id="checkForm" name="checkForm" value="69">
        </div>

        <div style ="padding: 10px">
            <button type = "submit" class="btn btn-secondary">Oppdater</button>
        </div>
      </div>
    </form>
</div>

<!-- List of all existing items -->
<div id="itemList">
  <table style="width:95%; margin: 2rem; margin-left:0rem" id="shopping-table">
    <tr class="ul-item-list" style="height:3rem">
      <th>Vare</th>
      <th>Pris</th>
      <th>Kategori</th>
      <th>Aktiv</th>
      <th>Kjøp på mobil</th>
      <th></th>
    </tr>
    {% for item in items %}
    <tr class="item-list" id="item-list-{{item.name}}">
      <td style="width:18%">{{ item.name }}</td>
      <td style="width:18%">{{ item.price }}</td>
      <td style="width:18%">{{ item.category }}</td>
      {% if item.is_active %}
      <td style="width:18%">
        <i class="material-icons" style="color:green">check</i>
      </td>
      {% else %}
      <td style="width:18%">
        <i class="material-icons" style="color:red">clear</i>
      </td>
      {% endif %}
      {% if item.buy_without_tablet %}
      <td style="width:18%">
        <i class="material-icons" style="color:green">check</i>
      </td>
      {% else %}
      <td style="width:15%">
        <i class="material-icons" style="color:red">clear</i>
      </td>
      {% endif %}
      <td style="width:15%; float: right;"> <a type="submit" class="btn btn-secondary"
          href="{% url "shop:edit-item" item.pk %}">Endre</a></td>
    </tr>
    {% endfor %}
  </table>
</div>
{% endblock content %}
