{% load static %}
{% load thumbnail %}
{% load shop_extras %}

<!DOCTYPE html>
<html lang="no">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Butikk</title>
  <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicons/apple-touch-icon.png" %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicons/favicon-32x32.png" %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicons/favicon-16x16.png" %}">
  <link rel="manifest" href="{% static "favicons/manifest.json" %}">
  <link rel="mask-icon" href="{% static "favicons/safari-pinned-tab.svg" %}" color="#5bbad5">

  <!-- CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
    integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
    integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>
  <!-- Javscript cookie library for csrf_tokens -->
  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>
</head>

{% block header %}
{% endblock header %}

<body>
  {% block style %}
  {% endblock style %}

  <nav class="navbar navbar-light bg-dark d-flex flex-row">
    <div class="p-2">
      <a class="navbar-brand" href="/">
        <img src="{% static 'images/logo.png'%}" height="40" class="d-inline-block align-top" alt="">
        <h5 style="display:inline; color:#edcd2f; margin-bottom:2 rem">Høiskolens Chemikerforening</h5>
      </a>
    </div>
    <div class="p-2 -d-flex justify-content-center" style="margin:auto; color:#edcd2f">
      <div class="p-2">
        <h2>HC-kontorets butikk</h2>
      </div>
    </div>
  </nav>
  {% block breadcrumbs %}
  {% endblock breadcrumbs %}

  </div>
    <!-- Messaging framework card -->
    {% if messages %}
      {% for message in messages %}
      <script>
        var message = "{{message}}"
        var messageLevel = parseInt("{{message.level}}")
        if (messageLevel == 10){
          swal(message),{
            timer: 5000
          }
        }  else if (messageLevel == 20){
          swal(message, {
            icon: "question",
            timer: 5000
          })
        } else if (messageLevel == 25){
          swal(message, {
            icon: "success",
            timer: 5000
          })
        } else if (messageLevel == 30){
          swal(message, {
            icon: "warning",
            timer: 5000
          })
        } else if (messageLevel == 40){
          swal(message, {
            icon: "error",
            timer: 5000
          })
        } 
      </script>
      {% endfor %}
    </div>
    {% endif %}
    <div class="container" style="margin: auto">
    {% block content %}
    {% endblock content %}
  </div>
  </div>
  {% block footer_script %}
  {% endblock footer_script %}
</body>

</html>
