{% extends "chemie/base.html" %}
{% load staticfiles %}
{% load thumbnail %}

<head>
    <meta charset="UTF-8">
    <title>Chemshop</title>
</head>

{% block content %}
<div class="nav-wrapper" style="line-height: 56px; padding-bottom: 10px;">
    <a href="{% url "shop:index" %}" class="breadcrumb">Shop</a>
    <a href="{% url "shop:admin" %}" class="breadcrumb">Admin</a>
    <a href="{% url "shop:add-item" %}" class="breadcrumb">Legg til vare</a>
    <a class="breadcrumb">Endre vare</a>
</div>
<div style="display:inline">
    <form enctype="multipart/form-data" method="POST" style="display:inline; margin:auto">{% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input class="btn btn-primary pull-right" type='submit' value='Lagre!' />
    </form>
</div>
{% endblock content %}

{% block footer_script %}
<script>
    $('select').formSelect();
</script>
{% endblock footer_script %}