{% extends "shop/base_shop.html" %}
{% load staticfiles %}
{% load thumbnail %}
{% load crispy_forms_tags %}

<head>
    <meta charset="UTF-8">
    <title>Chemshop</title>
</head>

{% block content %}
<!-- Breadcrumbs -->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url "shop:index" %}">Shop</a></li>
    <li class="breadcrumb-item"><a href="{% url "shop:admin" %}">Admin</a></li>
    <li class="breadcrumb-item active" aria-current="page">Endre vare</li>
  </ol>
</nav>

<!-- Form with edit item -->
<div style="display:inline">
  <form enctype="multipart/form-data" method="POST" style="display:inline; margin:auto">{% csrf_token %}
    <table>
      {% crispy form %}
    </table>
  </form>
</div>
{% endblock content %}
