{% extends "shop/base_shop.html" %}
{% load static %}
{% load static %}
{% load crispy_forms_tags %}


<head>
  <meta charset="UTF-8">
  <title>Kontoret admin</title>
</head>

{% block style %}
<style>
  .asteriskField {
    color: red;
  }

  #submit-id-submit {
    background-color: #6c757d;
    border-color: #6c757d;
  }
</style>
{% endblock style %}

{% block breadcrumbs %}
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" style="background-color:#343a40;border-radius:0rem">
    <li class="breadcrumb-item "><a href="{%url "shop:index"%}" style="color:#edcd2f">Forside</a>
    </li>
    <li class="breadcrumb-item "><a href="{%url "shop:admin"%}" style="color:#edcd2f">Admin</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page" style="color:#edcd2fb4">Fyll på konto</li>
  </ol>
</nav>
{% endblock breadcrumbs %}

{% block content %}

<div class="row">
  <div class="col s12 m8 l8">
    <div class="card">
      <div class="card-content" id="card-content">
        <form id="refill-balance-form" method="POST"> {% csrf_token %}
          <table>
            {% crispy form %}
          </table>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block footer_script %}
<script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
{{ form.media }}
<script>
  var addEvent = function (object, type, callback) {
    if (object == null || typeof (object) == 'undefined') return;
    if (object.addEventListener) {
      object.addEventListener(type, callback, false);
    } else if (object.attachEvent) {
      object.attachEvent("on" + type, callback);
    } else {
      object["on" + type] = callback;
    }
  };

  var resizeReceiver = function () {
    let amount = document.getElementById("id_amount");
    let height = amount.offsetHeight;
    let width = amount.offsetWidth;
    let receiver = document.getElementsByClassName("select2 select2-container select2-container--default");
    //TODO fix JS error
    receiver[0].style.width = width + "px";
  };

  addEvent(window, "resize", resizeReceiver);
  document.addEventListener('DOMContentLoaded', resizeReceiver, false);
</script>
{% endblock footer_script %}
