{% extends "shop/base_shop.html" %}
{% load thumbnail %}
{% load static %}
{% load shop_extras %}

{% block nav_header %}
Chemshop

{% endblock nav_header %}

{% block style %}
<style>
  .item-box {
    margin: 1rem;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.12), 0 1px 4px rgba(0, 0, 0, 0.24);
    width: 16rem;
  }

  .balance-box {
    background-color: rgb(237, 205, 47);
    width: 12rem;
    height: 3rem;
    padding-top: 0.2rem;
    padding-left: 0.2rem;
    border: 0.2rem solid rgb(0, 0, 0);
    border-style: solid solid solid solid;
    border-radius: 1rem 1rem 1rem 1rem;
    justify-content: center;
    right: 1rem;
  }

  .checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
  }

  /* On mouse-over, add a grey background color */
  .checkbox-container:hover input~.checkmark {
    background-color: #ccc;
  }

  /* When the checkbox is checked, add a blue background */
  .checkbox-container input:checked~.checkmark {
    background-color: #2196F3;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .checkbox-container input:checked~.checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .ch body {
    width: 100%;
    height: 100%;
  }

  .btn-cart-sm .btn-fab {
    position: fixed !important;
    left: 29px;
  }

  .btn-cart .btn-fab {
    position: fixed !important;
    right: 20px;
  }

  .btn-group-sm .btn-fab {
    position: fixed !important;
    right: 29px;
  }

  .btn-group .btn-fab {
    position: fixed !important;
    right: 20px;
  }

  #admin {
    bottom: 29px
  }
</style>
{% endblock style %}

{% block content %}
<script>
  // The dictionary is the equivalent shopping cart
  var item_dict = {}
  var categoriesFilterd = {}
  var AllItemList = {}
</script>

{% if not is_tablet_user %}
<div class="d-flex balance-box" style="margin-top:1rem">
  <div class="p-2">
    <p style="font-size:1.8rem;color:black; float:left; margin-top: -0.7rem; margin-left: 1rem; padding-top: 0rem">
      <b>{{request.user.profile.balance}}</b></p>
  </div>
  <div class="p-2">
    <img type="image/png" src="{% static "images/HC_coin.png" %}"
      style="width:1.8rem; float: right; margin-top:-0.2rem">
  </div>
</div>
{% endif %}
<div id="checkboxes" style="display:flex; justify-content: space-evenly; flex-wrap: wrap">
  {% for category in categories %}
  <script type="text/javascript">
    categoriesFilterd["{{category.name}}"] = false
  </script>
  <p>
    <label class="checkbox-container">{{category}}
      <input class="category-checkbox" type="checkbox" name="filter-checkbox"
        onclick="filter_category(this.checked,'{{ category.name}}')" id="{{category}}" />
      <span class="checkmark" style="margin-top:0.2rem">{{category.field}}</span>
    </label>
  </p>
  {% endfor %}
</div>
<div class="d-flex flex-wrap" id="card-items" style="justify-content: space-between">
  {% for item in items %}
  <div class="p-2 item-box" id="{{item.category}}-{{item.id}}">
    <div class="d-flex flex-column justify-content-between" style="height:100%">
      <div class="p-2" style="max-height:50%; text-align:center">
        {% thumbnail item.image "630x400" as pic %}
        <img class="activator" style="max-width:10rem; max-height:9rem; margin-bottom:1rem" src="{{ pic.url }}">
        {% endthumbnail %}
      </div>

      <div class="d-flex justify-content-center">
        <div class="p-2">
          <p style="float:left; margin-left: 1rem; padding-top: 0rem">
            <b>{{item.price}}</b></p>
        </div>
        <div class="p-2">
          <img type="image/png" src="{% static "images/HC_coin.png" %}"
            style="width:1.8rem; float: right; margin-top:-0.2rem">
        </div>
      </div>

      <div class="p-2">
        <script type="text/javascript">
          item_dict["{{item.name}}"] = 0; // appends item to dictionary
        </script>
        <div class="d-flex justify-content-between">
          <div class="p-2">
            <a class="2-p btn btn-danger" id="minus" onclick="minus('{{ item.name }}')"><i class="material-icons">
                remove
              </i></a>
            <input style="margin:0.1rem; width: 1.4rem; text-align: center" type="text" value="0"
              id="item_{{item.name}}">
            <a class="btn btn-success" id="plus" onclick="plus('{{ item.name }}')"><i class="material-icons">
                add
              </i></a>
          </div>
          <div class="p-2">
            <form action="#" method="POST">
              {% csrf_token %}
              <button id="{{ item.id }}" class="btn btn-secondary" type="submit" name="buy" value="{{ item.id }}-0"
                style="float:right" onclick="changeQuantity(this,'{{item.name}}');"><i
                  class="material-icons">add_shopping_cart</i></button>
            </form>
          </div>


        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div>
  <!-- Modal Structure -->

  <!-- Modal -->
  <div class="modal fade" id="cart-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5>Handlevogn</h5>
        </div>
        <div class="modal-body">
          <table style="width:100%" id="shopping-table">
            <tr class="ul-item-list">
              <th>Vare</th>
              <th>Antall</th>
              <th>Pris</th>
              <th>Total</th>
              <th></th>
            </tr>
            {% for item_names, item_details in cart.cart.items %}
            <tr class="item-list" id="item-list-{{ item_names|get_item_pk_from_name }}">
              <td>{{ item_names }}</td>
              <td>{{ item_details.quantity }}</td>
              <td>{{ item_details.price }}</td>
              <td>Totalpris for denne</td>
              <td style="text-align: center;" class="item-remove"> <i class="material-icons pointer"
                  style="color:darkred; cursor:pointer">
                  clear
                </i>
              </td>
            </tr>
            {% endfor %}
          </table>
        </div>
        <div class="modal-footer">

          <div id="total-sum-in-cart" class="d-flex">
            <div class="p-2">
              <h5 style="width:3rem">Total: {{ cart.get_total_price }}</h5>
            </div>
            <div class="p-2">

              <img type="image/png" src="{% static "images/HC_coin.png" %}" style="width:1.8rem; margin-top: 50%">
            </div>

          </div>
          {% if is_tablet_user %}
          <div class="d-flex">
            <div class="p-2">
              <form method="POST"> {% csrf_token %}
                {{rfid_form.rfid}}
                <button class="waves-effect waves-light btn" type="submit" name="checkout" value="checkout">Scan
                  kortet</button>
              </form>
            </div>
            <div class="p-2">

            </div>
          </div>
          <script>
            $("#cart-modal").on("shown.bs.modal", function () {
              $("#id_rfid").focus();
              $("#id_rfid").select();
            });
          </script>
          {% else %}
          <form method="POST"> {% csrf_token %}
            <button class="waves-effect waves-light btn" type="submit" name="checkout" value="checkout">Kjøp
              varer</button>
          </form>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% if cart.cart %}


  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="btn-cart-sm hidden" id="mini-fab">
          <button class="btn btn-warning btn-fab" id="modalTrigger" type="button" data-toggle="modal"
            data-target="#cart-modal">
            <i class="material-icons">
              shopping_cart
            </i>
          </button>
        </div>
      </div>
    </div>

    <!-- Animation for the floating shopping cart button -->
    <script type="text/javascript">
      var elem = document.getElementsByClassName("btn btn-warning btn-fab")[0];
      var bottomPos = 29; // Same as in the CSS further up
      var animationStep = 0;
      // index 0 is the duration of the movement
      // index 1 is the speed for the movement
      // Each element array represents one movement of the animation
      // First animation up and down
      // Second animation up and down
      var animation = [
        [10, 2], [10, 1], [10, 0], [10, -1], [10, -2],
        [5, 1], [5, 0.5], [5, 0], [5, -0.5], [5, -1]
      ]
      var id = setInterval(frame, 5);
      function frame() {
        if (animationStep == animation.length) {
          // Ends the animates
          clearInterval(id);
        } else {
          speedDuration = animation[animationStep]
          if (speedDuration[0] == 0) {
            // Moves on to the next movement
            animationStep++
          } else {
            bottomPos += speedDuration[1]
            speedDuration[0]--
          }
        }
        elem.style.bottom = bottomPos.toString() + ".px"
      }
    </script>
    {% endif %}

    {% if perms.shop.add_item or perms.customprofile.refill_balance %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="btn-group-sm" id="mini-fab">
            <a href="{% url 'shop:admin' %}" class="btn btn-info btn-fab" id="admin">
              <i class="material-icons">
                build
              </i>
            </a>
          </div>
        </div>
      </div>
    </div>

    {% endif %}

    {% endblock content %}

    <!-- %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% FOOTER SCRIPT %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%% -->

    {% block footer_script %}
    <script type="text/javascript">
      function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
          var cookies = document.cookie.split(';');
          for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
              cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
              break;
            }
          }
        }
        return cookieValue;
      }
      var csrftoken = getCookie('csrftoken');
    </script>

    <script type="text/javascript">
      // creates all items to be remembered with filtering
      var cardItemsChildren = document.getElementById("card-items").children;
      for (var i = 0; i < cardItemsChildren.length; i++) {
        AllItemList[cardItemsChildren[i].id] = cardItemsChildren[i]
      }

      function filter_category(checked, category) {
        categoriesFilterd[category] = checked;

        // check if any boxes are clicked
        isActivated = false
        for (key in categoriesFilterd) {
          if (categoriesFilterd[key]) {
            isActivated = true
          }
        }
        var cardItems = document.getElementById("card-items");
        cardItems.innerHTML = '';
        var cardItemsList = [];
        // append only clicked items to list
        if (isActivated) {
          for (var key in AllItemList) {
            var itemCat = key.split('-')[0];
            if (categoriesFilterd[itemCat]) {
              cardItemsList.push(AllItemList[key])
            }
          }
        } else {
          // if no boxes are clicked, all item is presented
          for (var key in AllItemList) {
            cardItemsList.push(AllItemList[key])
          }
        }
        // append the filtered items to parent node
        for (var i = 0; i < cardItemsList.length; i++) {
          cardItems.appendChild(cardItemsList[i])
        }


      }
    </script>

    <script type="text/javascript">
      //user presses the + button
      function plus(item_name, item_pk) {
        item_dict[item_name]++;
        document.getElementById('item_' + item_name).value = item_dict[item_name];
      }

      // user presses the - button
      function minus(item_name, item_pk) {
        if (item_dict[item_name] > 0) {
          item_dict[item_name]--;
        }
        document.getElementById('item_' + item_name).value = item_dict[item_name];
      }
    </script>
    <script>
      function changeQuantity(self, item_name) {

        if (item_dict[item_name] === 0) {
          self.preventDefault();
          return false;
        }
        var id = self.getAttribute("id");
        self.setAttribute("value", id + "-" + item_dict[item_name]);
        return false;
      }

      document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var cart_modal_element = M.Modal.init(elems, {});
      });


      function getTotalForItem(item_list_id) {
        let item = document.getElementById(item_list_id);
        let quantity = item.children[1].innerHTML;
        let price = item.children[2].innerHTML;
        return (parseFloat(price).toFixed(2) * parseFloat(quantity).toFixed(2)).toFixed(2);
      }

    </script>
    <script>
      // Create a "close" button and append it to each list item
      var itemList = document.getElementsByClassName("item-list");
      // var i;

      for (i = 0; i < itemList.length; i++) {
        var columns = itemList[i].children.length;
        // Get total price for items: quantity*price
        itemList[i]
          .children[columns - 2]
          .innerHTML = getTotalForItem(itemList[i].id).replace(".", ",");
      }
      // Click on a close button to remove the current list item
      var closeItem = document.getElementsByClassName("item-list");
      var i;
      for (i = 0; i < closeItem.length; i++) {
        // The 'x' at the far right
        var close_button = closeItem[i].lastElementChild;
        close_button.onclick = function () {
          // Get the current li element
          var current_item = this.parentNode;
          // Get the id of the li element and put into array
          var item_id_array = current_item.id.split("-");
          // Get item id
          var item_id = item_id_array[item_id_array.length - 1];

          $.ajax({
            type: "GET",
            url: "/shop/admin/remove-item/" + item_id,
            datatype: "json",

            success: function (json) {
              let total_sum_element = document.getElementById("total-sum-in-cart");
              let sum_to_remove = current_item.
                children[current_item.children.length - 2]
                .innerHTML;
              let total_sum = total_sum_element.innerHTML.split(" ")[1];
              // Nasty, but really just takes the difference between previous total sum
              // and sum of items removed + replaces decimal separator 'dot' to 'comma'
              let new_sum = parseFloat(
                parseFloat(total_sum).toFixed(2) -
                parseFloat(sum_to_remove).toFixed(2)
              ).toFixed(2).replace(".", ",");
              total_sum_element.innerHTML = `Total: ${new_sum}`;
              let number_of_items_left = document.getElementsByClassName("item-list").length;
              current_item.parentNode.removeChild(current_item);
              if ((number_of_items_left - 1) === 0) {
                for (let key in item_dict) {
                  item_dict[key] = 0;
                }
                let cart_modal = document.getElementById("cart-modal");
                cart_modal.innerHTML = "Du har ingen varer i kurven. Kjøp noe da vel!";
              }
            },

            error: function (xhr, errmsg, err) {
              // console.log(xhr.status + ": " + xhr.responseText);
            },
          });
        }
      }


      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
      $.material.init();
    </script>
    {% endblock footer_script %}