{% extends "chemie/base.html" %}

{% block nav_header %}
  Quiz
{% endblock nav_header %}

{% block content %}
  <div>
    <h4>Arrkomquiz</h4>
      <p class="flow-text">Her kan du se poengoversiktene fra tidligere arrkomquiz!</p>
      <a href="{% url "quiz:arrkomquiz_index" %}" class="btn">Arrkomquiz ></a>
  </div>

  <br><hr><br>

  <div>
    <h4>Navnequiz</h4>
    <p class="flow-text">Her kan du øve på navnene til klassekameratene dine her!</p>
    <div class="row">
      <div class="col">
        <a class="btn" href="{% url "quiz:name_quiz" 1 %}">
          <i class="material-icons right">chevron_right</i>1. klasse</a>
      </div>
      <div class="col">
        <a class="btn" href="{% url "quiz:name_quiz" 2 %}">
          <i class="material-icons right">chevron_right</i>2. klasse</a>
      </div>
      <div class="col">
        <a class="btn" href="{% url "quiz:name_quiz" 3 %}">
          <i class="material-icons right">chevron_right</i>3. klasse</a>
      </div>
      <div class="col">
        <a class="btn" href="{% url "quiz:name_quiz" 4 %}">
          <i class="material-icons right">chevron_right</i>4. klasse</a>
      </div>
      <div class="col">
        <a class="btn" href="{% url "quiz:name_quiz" 5 %}">
          <i class="material-icons right">chevron_right</i>5. klasse</a>
      </div>
    </div>
  </div>
{% endblock content %}
