{% extends "chemie/base.html" %}
{% load thumbnail %}

{% block nav_header %}
  Sladreboksen
{% endblock nav_header %}

{% block nav_sub_header %}
  Innsendinger
{% endblock nav_sub_header %}

{% block content %}
  <style>
    img.responsive-img, video.responsive-video {
      height: auto;
      width: auto;
      max-width: 300px;
    }
  </style>
  <div class="row center">
    <ul class="pagination nav navbar-nav">
      {% if submissions.has_previous %}
        <li><a href="{{ submissions.previous_page_number }}">Forrige</a></li>
      {% else %}
        <li class="disabled"><a class="grey-text text-lighten-1">Forrige</a></li>
      {% endif %}
      {% if page %}
        <li><a class="grey-text text-darken-1" href="{{ submissions.paginator.first_page }}">Første</a></li>
      {% endif %}

      {% for page in limit_useful_page_range %}
          {% if page %}
            <li class="{% if submissions.number == page %}active{% endif %}"><a href="{{ page }}">{{ page }}</a></li>
          {% endif %}
      {% endfor %}

        {% if page %}
        <li><a class="grey-text text-darken-1" href="{{ submissions.paginator.last_page }}">Siste</a></li>
      {% endif %}
      {% if submissions.has_next %}
        <li><a href="{{ submissions.next_page_number }}">Neste</a></li>
      {% else %}
        <li class="disabled"><a class="grey-text text-lighten-1">Neste</a></li>
      {% endif %}
    </ul>
  </div>
  <div class="row">
    <div class="card">
      <div class="card-content">
        <table class="responsive-table bordered">
          <thead>
          <tr>
            <th>Innsender</th>
            <th>Dato</th>
            <th>Gullkorn</th>
            <th>Bilde</th>
            <th>Brukt</th>
          </tr>
          </thead>
          <tbody>
          {% for submission in submissions %}
            <tr>
              <td><p>{{ submission.author.profile }}</p></td>
              <td><p>{{ submission.date|date:"j. F" }}</p></td>
              <td><p>{{ submission.content }}</p></td>
              <td>
                {% if submission.image %}
                  <img class="responsive-img materialboxed" src="{{ submission.image.url }}">
                {% endif %}
              </td>
              <td>
                <p>
                  <label>
                    <input type="checkbox" class="usedStatus" id="{{ submission.id }}"
                           {% if submission.used %}
                            checked="checked"
                           {% endif %}/>
                    <span></span>
                  </label>
                </p>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock content %}

{% block footer_script %}

  <script>
    $(document).ready(function(){
      $(".usedStatus").on("click", function(event) {
        let submissionID = $(this).attr("id");
        $.ajax({
          url: "{% url "shitbox:toggle-used" %}",
          data: {"id": submissionID},
          type: "POST"
        }).done(function(response){
          console.log(response)
        })
      })
    });

    $.ajaxSetup({
      headers: { "X-CSRFToken": '{{csrf_token}}' }
    });

    $(document).ready(function () {
        $('.materialboxed').materialbox();
    });

  </script>
{% endblock footer_script %}
