{% extends "chemie/base.html" %}
{% load material_form %}

{% block nav_header %}
    Sladreboksen
{% endblock nav_header %}

{% block nav_sub_header %}
    Send innslag
{% endblock nav_sub_header %}

{% block content %}
    <div class="row">
        <div class="col s12 m12 l8">
            <p class="flow-text">
                Sitter du på noen gullkorn, eller har du noe sladder om dine medstudenter?
                Send det inn her, så havner det kanskje i neste utgave av Sugepumpa.
                Du forblir anonym.
            </p>


            <form class="editContent" method='POST'>{% csrf_token %}
                {% form form=form %}
                {% endform %}
                <input class="btn" type='submit' value='Send inn sladder!'/>
            </form>
        </div>
    </div>


{% endblock content %}
