{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load static %}

{% block nav_header %}
  Stonks
{% endblock nav_header %}

{% block nav_sub_header %}

{% endblock nav_sub_header %}

{% block content %}

    <div style = "text-align: left">

    {% for stocktype in stocktypes %}
        <div style="display: flex;flex-direction: column;width: 100px;border-color: black;border-width: 5px;border: solid;border-radius: 7.5%;padding:5px">
            <a href="{{stocktype.id}}"><p> <b>{{stocktype.name}} </b></p></a>

            <div style= "display: flex;flex-direction: row">
                <button type = "button" style = "background-color: green">Kjøp</button>
                <button type = "button" style = "background-color: red">Selg</button>
            </div>
        </div>
    {% endfor %}
    </div>

    <div>
        <div>
            <!--
            <p>HC-Coins: </p> <b> {{ coins }} </b>
            -->
            <p>Markedvalue: {{ markedValue }}</p>
        </div>
    </div>
{% endblock content %}