{% extends 'chemie/base.html' %}
{% load thumbnail %}
{% load static %}

{% block nav_header %}
  Stonks
{% endblock nav_header %}

{% block nav_sub_header %}

{% endblock nav_sub_header %}

{% block content %}

    <div style = "text-align: center">

    {% for stocktype in stocktypes %}
    <a href="{{stocktype.id}}"><p>{{stocktype.name}}</p></a>
        <div style= "display: flex">
            <button type = "button">Kjøp</button>
            <button type = "button">Selg</button>
        </div>
    {% endfor %}
    </div>

    <div> <p>HC-Coins: </p> <b> {{ coins }} </b></div>

{% endblock content %}