<div class="row">
    {% for post in posts %}
        <div class="col s12 m10 l6">
            <div class="card medium">
                <div class="card-image">
                    <a href="{{ post.get_absolute_url }}">
                        <img src="/media/{{ post.image }}">
                    </a>
                    <span class="card-title">
                      <h4>{{ post.title }}</h4>
                      <h5>{{ post.date|date:"j F - H:i" }}</h5>
                    </span>
                </div>
                <div class="card-content">
                        {{ post.content|safe }}
                </div>
                <div class="card-action">
                    <a href="{{ post.get_absolute_url }}">Til artikkelen</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% block footer_script %}
    <script>
        $(function () {
            $(".card-content").each(function () {
                $(this).children().addClass("flow-text");
            });
        });
    </script>
{% endblock footer_script %}
